<!DOCTYPE html>
<html ng-app="calenderApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了——房态</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/accommodation/calender.js"></script>
</head>
<body ng-controller="calenderCtrl">
<div class="msgModal modal fade" role="dialog" id="directModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stext">选择直接入住，系统将自动清除今天以前的房态格子。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="msgModal modal fade" role="dialog" id="additionalModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stext">选择补录，系统将自动清除今天及以后的房态格子。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="msgModal modal fade" role="dialog" id="bookModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stext">选择预定，系统将自动清除今天以前的房态格子。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="msgModal modal fade" role="dialog" id="shortModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stext">部分房间库存不足，系统将自动清除不可选的房间。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="alertModal modal fade" role="dialog" id="paySuccessModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <img src="http://static.dingdandao.com/91DEA81D-1EA4-4428-B215-8362F70F6E1A@1x.png" alt="yes">
            <div class="stitle">收款成功</div>
            <div class="money">实收金额：￥19999</div>
            <div class="tips">剩余5S自动跳转到订单详情</div>
            <div class="btns">
                <div class="sbtn">打印凭条</div>
                <div class="sbtn">查看订单</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="alertModal modal fade" role="dialog" id="payFailModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <img src="http://static.dingdandao.com/832D9B75-9290-4E07-8D9D-A106C3E8538E@1x.png" alt="yes">
            <div class="stitle">收款失败</div>
            <div class="reason">客户支付宝余额不足</div>
            <div class="tips">剩余5S自动返回</div>
            <div class="btns">
                <div class="sbtn">返回订单</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="alertModal modal fade" role="dialog" id="newFailModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <img src="http://static.dingdandao.com/832D9B75-9290-4E07-8D9D-A106C3E8538E@1x.png" alt="yes">
            <div class="stitle">预订失败</div>
            <div class="reason">网速太慢</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" role="dialog" id="orderDetailModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="sheader">
                <div class="stitle">
                    <span>订单详情</span>
                    <div class="status book"><div class="triangle"></div>已预订</div>
                    <div class="btns">
                        <div class="abtn">编辑订单</div>
                        <div class="abtn">取消订单</div>
                        <div class="abtn">打印品条</div>
                    </div>
                </div>
            </div>
            <div class="hr2"></div>
            <div class="guest-info">
                <div class="sub-title">客户信息</div>
                <table>
                    <tr>
                        <td>姓名</td>
                        <td>胡晚期</td>
                        <td>手机号</td>
                        <td>13111111111</td>
                    </tr>
                    <tr>
                        <td>身份证</td>
                        <td>440183199209080056</td>
                        <td>渠道</td>
                        <td>散客</td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="consume-info">
                <div class="sub-title">消费信息</div>
                <div class="subtype room">
                    <div class="sub-title">房间信息</div>
                    <table>
                        <tr>
                            <td><span>0102</span>&nbsp;(星空迷你木屋)<div class="sstatus book">预</div></td>
                            <td>
                                <span class="light">入住</span>
                                &nbsp;04-25&nbsp;~&nbsp;04-26&nbsp;
                                <span class="light">共7晚</span>
                            </td>
                            <td>¥10000</td>
                        </tr>
                        <tr>
                            <td><span>0102</span>&nbsp;(星空迷你木屋)<div class="sstatus book">预</div></td>
                            <td>
                                <span class="light">入住</span>
                                &nbsp;04-25&nbsp;~&nbsp;04-26&nbsp;
                                <span class="light">共7晚</span>
                            </td>
                            <td>¥10000</td>
                        </tr>
                    </table>
                </div>
                <div class="hr2"></div>
                <div class="subtype food">
                    <div class="sub-title">餐饮信息</div>
                    <table>
                        <tr>
                            <td>烧烤</td>
                            <td><span class="light">时间</span>&nbsp;0425</td>
                            <td><span class="light">数量</span>&nbsp;24 &nbsp;(剩余10)</td>
                            <td>¥10000</td>
                        </tr>
                        <tr>
                            <td>烧烤</td>
                            <td><span class="light">时间</span>&nbsp;0425</td>
                            <td><span class="light">数量</span>&nbsp;24 &nbsp;(剩余10)</td>
                            <td>¥10000</td>
                        </tr>
                        <tr>
                            <td>烧烤</td>
                            <td><span class="light">时间</span>&nbsp;0425</td>
                            <td><span class="light">数量</span>&nbsp;24 &nbsp;(剩余10)</td>
                            <td>¥10000</td>
                        </tr>
                    </table>
                </div>
                <div class="hr2"></div>
                <div class="subtype fun">
                    <div class="sub-title">娱乐信息</div>
                    <table>
                        <tr>
                            <td>皮划艇</td>
                            <td><span class="light">时间</span>&nbsp;0425</td>
                            <td><span class="light">数量</span>&nbsp;24 &nbsp;(剩余10)</td>
                            <td>¥10000</td>
                        </tr>
                    </table>
                </div>
                <div class="accounts">
                    <div class="sub-title">收银信息</div>
                    <div class="infos">
                        <div class="item">
                            <span class="slabel">订单总价:</span>
                            <span class="svalue">￥99999</span>
                        </div>
                        <div class="item">
                            &nbsp;&nbsp;&nbsp;
                            <span class="slabel">优惠:</span>
                            <span class="svalue">￥1919</span>
                        </div>
                        <div class="item diff1">
                            <span class="slabel">客户需补:</span>
                            <span class="svalue">￥9999</span>
                        </div>
                        <!--<div class="item diff2">-->
                            <!--<span class="slabel">客户需退:</span>-->
                            <!--<span class="svalue">￥9999</span>-->
                        <!--</div>-->
                        <div class="item deposit">
                            <span class="slabel">需退押金:</span>
                            <span class="svalue">￥200</span>
                        </div>
                        <div class="item">
                            <span class="slabel">备注:</span>
                            <span class="svalue">
                                没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话
                                没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话
                                没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话
                                没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话
                                没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话没有备注的话
                            </span>
                        </div>
                        <div class="item orderid">
                            <span class="slabel">订单号:</span>
                            <span class="svalue">20160756456456456456456456</span>
                        </div>
                        <div class="item staff">
                            <span class="slabel">办理预订员工:</span>
                            <span class="svalue">小明</span>
                        </div>
                    </div>
                    <div class="btns">
                        <div class="sbtn">办理入住</div>
                        <div class="sbtn">收银</div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" role="dialog" id="orderCancelModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="sheader">
                <div class="stitle">
                    <span>取消订单</span>
                    <div class="status book"><div class="triangle"></div>已预订</div>
                </div>
            </div>
            <div class="hr2"></div>
            <div class="guest-info">
                <div class="sub-title">客户信息</div>
                <table>
                    <tr>
                        <td>姓名</td>
                        <td>吴丹青</td>
                        <td>手机号</td>
                        <td>18768114210</td>
                    </tr>
                    <tr>
                        <td>身份证</td>
                        <td>440183199209080056</td>
                        <td>渠道</td>
                        <td>散客</td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="consume-info">
                <div class="sub-title consume-switch">消费信息
                    <img src="http://static.dingdandao.com/B78F7FA7-51E3-43F8-A590-4A658F0FA3A6@1x.png" alt="down">
                </div>
                <div class="hr2"></div>
                <div class="infos">
                    <div class="item">
                        <div class="sbold">商家需退:</div>
                        <div class="num">¥100000</div>
                        <div class="desc">
                            <img src="http://static.dingdandao.com/3978B081-296B-49BF-8758-79280A84D53D@1x.png" alt="">
                            <div class="desc-box">
                                <div class="subt">订单总结：</div>
                                <div class="sitem">
                                    <div class="sl">订单总价</div>
                                    <div class="sval">¥10000</div>
                                    <div class="clearline"></div>
                                </div>
                                <div class="sitem">
                                    <div class="sl">优惠：</div>
                                    <div class="sval">- ¥100</div>
                                    <div class="clearline"></div>
                                </div>
                                <div class="sitem">
                                    <div class="sl">客户应付：</div>
                                    <div class="sval">¥10000</div>
                                    <div class="clearline"></div>
                                </div>
                                <div class="hr3"></div>
                                <div class="subt">订单收支明细</div>
                                <div class="sitem">
                                    <div class="sl">客户已付（现金）：</div>
                                    <div class="sval1">¥10000</div>
                                </div>
                                <div class="sitem">
                                    <div class="sl">客户已付（支付宝）：</div>
                                    <div class="sval1">¥10000</div>
                                </div>
                                <div class="hr3"></div>
                                <div class="subt">押金收支明细</div>
                                <div class="sitem">
                                    <div class="sl">押金（现金）：</div>
                                    <div class="sval1">¥10000</div>
                                </div>
                                <div class="hr3"></div>
                                <div class="sitem">
                                    <div class="sl1">商家需退：</div>
                                    <div class="sval2">¥100000</div>
                                </div>
                                <div class="sitem">
                                    <div class="sl1">需退押金：</div>
                                    <div class="sval2">¥100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sbold">需退押金:</div>
                        <div class="num">¥150</div>
                    </div>
                    <div class="item item_small refund">
                        <div class="slabel">订单收款</div>
                        <div class="sadd">
                            <img src="http://static.dingdandao.com/F91A688D-9293-46DC-BE3A-4C89312DF1D6@1x.png" alt="add">
                            添加订单退款
                        </div>
                    </div>
                    <div class="item item_big">
                        <input type="text">
                        <div class="select1"></div>
                    </div>
                    <div class="item item_small">
                        <div class="slabel">押金收款</div>
                        <div class="sadd">
                            <img src="http://static.dingdandao.com/F91A688D-9293-46DC-BE3A-4C89312DF1D6@1x.png" alt="add">
                            添加押金收款
                        </div>
                    </div>
                    <div class="item item_big">
                        <input type="text">
                        <div class="select1"></div>
                    </div>
                </div>
            </div>
            <div class="remarks">
                <div class="slabel">备注:</div>
                <div class="stext">
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                    备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注备注
                </div>
            </div>
            <div class="sbottom">
                <div class="sbtn">确认取消</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" role="dialog" id="newOrderModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="sheader">
                <div class="stitle">
                    <span>预订</span>
                </div>
            </div>
            <div class="hr2"></div>
            <div class="guest-info">
                <div class="sub-title">客户信息</div>
                <table>
                    <tr>
                        <td>姓名</td>
                        <td><input placeholder="姓名" type="text" class="long"><div class="tips warning">必填字段</div></td>
                        <td>手机号</td>
                        <td><input placeholder="手机号" type="text" class="short"><div class="tips warning">必填字段</div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="select1"></div>
                        </td>
                        <td><input placeholder="身份证" type="text" class="long"><div class="tips warning">身份证格式错误</div></td>
                        <td>渠道</td>
                        <td>
                            <div class="select1"></div>
                        </td>
                    </tr>
                </table>
                <div class="hr2"></div>
            </div>
            <div class="subtype room">
                <div class="sub-title">房间信息</div>
                <table>
                    <tr>
                        <td><span>0102</span>&nbsp;(星空迷你木屋)</td>
                        <td>
                            <span class="light">入住</span>
                            &nbsp;<input type="text" class="datePicker">&nbsp;~&nbsp;<input type="text" class="datePicker">&nbsp;
                            共7晚
                            <div class="tips warning left">↑房间被占用</div>
                            <div class="tips warning right">↑房间被占用</div>
                        </td>
                        <td>¥10000<div class="sdelete"></div></td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="subtype food">
                <div class="sub-title">
                    餐饮信息
                    <div class="sadd">
                        <img src="http://static.dingdandao.com/F91A688D-9293-46DC-BE3A-4C89312DF1D6@1x.png" alt="add">
                        添加餐饮项目
                    </div>
                </div>
                <table>
                    <tr>
                        <td><div class="select1"></div></td>
                        <td>时间&nbsp;<input type="text" class="datePicker"></td>
                        <td>
                            数量&nbsp;
                            <div class="snumber">
                                <div class="minus">-</div>
                                <input type="text" value="1">
                                <div class="plus">+</div>
                            </div>
                            <div class="tips">剩余库存10</div>
                        </td>
                        <td>¥10000<div class="sdelete"></div></td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="subtype fun">
                <div class="sub-title">
                    娱乐信息
                    <div class="sadd">
                        <img src="http://static.dingdandao.com/F91A688D-9293-46DC-BE3A-4C89312DF1D6@1x.png" alt="add">
                        添加娱乐项目
                    </div>
                </div>
                <table>
                    <tr>
                        <td><div class="select1"></div></td>
                        <td>时间&nbsp;<input type="text" class="datePicker"></td>
                        <td>
                            数量&nbsp;
                            <div class="snumber">
                                <div class="minus">-</div>
                                <input type="text" value="1">
                                <div class="plus">+</div>
                            </div>
                            <div class="tips">剩余库存10</div>
                        </td>
                        <td>¥10000<div class="sdelete"></div></td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="discount">
                <div class="slabel">优惠</div>
                <input placeholder="金额" type="text">
                <span class="tips">-¥</span>
            </div>
            <div class="remark">
                <div class="slabel">备注</div>
                <textarea placeholder="请填写备注信息"></textarea>
            </div>
            <div class="counter warning">45/140</div>
            <div class="accounts">
                <div class="sgive">
                    <div class="slabel">客户需补</div>
                    <div class="snum">¥9999</div>
                </div>
                <div class="sbtn confirm">完成预订</div>
                <div class="sbtn cancel">取消</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal" role="dialog" id="orderEditModel">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="sheader">
                <div class="stitle">
                    <span>编辑订单</span>
                    <div class="status book"><div class="triangle"></div>已预订</div>
                </div>
            </div>
            <div class="hr2"></div>
            <div class="guest-info">
                <div class="sub-title">客户信息</div>
                <table>
                    <tr>
                        <td>姓名</td>
                        <td><input placeholder="姓名" type="text" class="long"><div class="tips warning">必填字段</div></td>
                        <td>手机号</td>
                        <td><input placeholder="手机号" type="text" class="short"><div class="tips warning">必填字段</div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="select1"></div>
                        </td>
                        <td><input placeholder="身份证" type="text" class="long"><div class="tips warning">身份证格式错误</div></td>
                        <td>渠道</td>
                        <td>
                            <div class="select1"></div>
                        </td>
                    </tr>
                </table>
                <div class="hr2"></div>
            </div>
            <div class="subtype room">
                <div class="sub-title">房间信息</div>
                <table>
                    <tr>
                        <td><span>0102</span>&nbsp;(星空迷你木屋)<div class="sstatus book">预</div></td>
                        <td>
                            <span class="light">入住</span>
                            &nbsp;
                            <div class="sstart">04-25</div>
                            &nbsp;~&nbsp;
                            <div class="send">04-25</div>
                            &nbsp;共7晚
                        </td>
                        <td>¥10000<div class="sdelete"></div></td>
                    </tr>
                    <tr>
                        <td><span>0102</span>&nbsp;(星空)<div class="sstatus finish">退</div></td>
                        <td>
                            <span class="light">入住</span>
                            &nbsp;<input type="text" class="datePicker">&nbsp;~&nbsp;<input type="text" class="datePicker">&nbsp;
                            共7晚
                            <div class="tips warning left">↑房间被占用</div>
                            <div class="tips warning right">↑房间被占用</div>
                        </td>
                        <td>¥10000<div class="sdelete"></div></td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="subtype food">
                <div class="sub-title">
                    餐饮信息
                    <div class="sadd">
                        <img src="http://static.dingdandao.com/F91A688D-9293-46DC-BE3A-4C89312DF1D6@1x.png" alt="add">
                        添加餐饮项目
                    </div>
                </div>
                <table>
                    <tr>
                        <td><div class="sname">烧烤烧烤烧烤烧烤烧烤烧烤烧烤烧烤</div></td>
                        <td><span class="light">时间</span>&nbsp;04-25</td>
                        <td>数量&nbsp;
                            <div class="snumber">
                                <div class="minus">-</div>
                                <input type="text" value="1">
                                <div class="plus">+</div>
                            </div>
                            &nbsp;(已使用10)
                            <div class="tips">剩余库存10</div>
                        </td>
                        <td>¥10000<div class="sdelete"></div></td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="subtype fun">
                <div class="sub-title">
                    娱乐信息
                    <div class="sadd">
                        <img src="http://static.dingdandao.com/F91A688D-9293-46DC-BE3A-4C89312DF1D6@1x.png" alt="add">
                        添加娱乐项目
                    </div>
                </div>
                <table>
                    <tr>
                        <td><div class="sname">皮划艇皮划艇皮划艇皮划艇皮划艇</div></td>
                        <td><span class="light">时间</span>&nbsp;04-25</td>
                        <td><span class="light">数量</span>&nbsp;
                            <div class="snumber">
                                <div class="minus">-</div>
                                <input type="text" value="1">
                                <div class="plus">+</div>
                            </div>
                            &nbsp;(已使用10)
                            <div class="tips">剩余库存10</div>
                        </td>
                        <td>¥10<div class="sdelete"></div></td>
                    </tr>
                </table>
            </div>
            <div class="hr2"></div>
            <div class="discount">
                <div class="slabel">优惠</div>
                <input type="text" placeholder="金额">
                <span class="tips">-¥</span>
            </div>
            <div class="remark">
                <div class="slabel">备注</div>
                <textarea placeholder="请填写备注信息"></textarea>
            </div>
            <div class="counter">45/140</div>
            <div class="accounts">
                <div class="sgive">
                    <div class="slabel">客户需补</div>
                    <div class="snum">¥9999</div>
                </div>
                <div class="deposit">
                    <div class="slabel">已收押金</div>
                    <div class="snum">¥99</div>
                </div>
                <div class="sbtn confirm">保存</div>
                <div class="sbtn cancel">取消</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" role="dialog" id="payWithAlipayModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="erweima">
                <img src="http://static.dingdandao.com/94AD306C-CB4D-4E4F-B4E2-3D41BFA6E631@1x.png" alt="">
                <input type="text" placeholder="付款码使用条码枪录入，也可手动录入。">
            </div>
            <div class="infos">
                <div class="item">应收金额：￥19999</div>
                <div class="item">订单编号：12399932199998876700</div>
                <div class="item">收银员：001</div>
            </div>
            <div class="sbtn">确认收款</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" role="dialog" id="keepOrNotModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stitle">
                要保留未使用项目吗
            </div>
            <div class="stext">
                有项目未使用~如果客人不再使用项目，请先去编辑订单将项目删除。
            </div>
            <div class="btns">
                <div class="sbtn cancel">不保留,去删除</div>
                <div class="sbtn confirm">保留</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" role="dialog" id="arrearsModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stitle">
                款项未结清
            </div>
            <div class="scontent">
                <div class="srow sgive">
                    <div class="slabel">客户需补订单：</div>
                    <div class="snum">￥5000</div>
                </div>
                <div class="srow srefund">
                    <div class="slabel">需退押金：</div>
                    <div class="snum">￥100</div>
                </div>
            </div>
            <div class="btns">
                <div class="sbtn confirm">没关系,继续</div>
                <div class="sbtn cancel">返回编辑收银</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="accommodation-mainContainer">
    <div class="content">
        <div class="date-selector">
            <div class="date-selector-switch">
                {{startDateStr}}
                <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/A3E5CB0B-62F7-4792-8347-B6241487725B@1x.png" alt="calendor">
            </div>
            <div class="date-table">
                <div class="tips">选择起始日期，将会显示未来30天的房态</div>
                <div class="month-selector">
                    <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/17B1D80F-9F0E-4F48-BE3C-2D8C8FC32093@1x.png" alt="left" class="previous" ng-click="lastMonth()">
                    {{startDate.getFullYear()}}年{{startDate.getMonth()+1}}月
                    <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/17B1D80F-9F0E-4F48-BE3C-2D8C8FC32093@1x.png" alt="left" class="next" ng-click="nextMonth()">
                </div>
                <div class="week-header">
                    <div class="item">一</div>
                    <div class="item">二</div>
                    <div class="item">三</div>
                    <div class="item">四</div>
                    <div class="item">五</div>
                    <div class="item">六</div>
                    <div class="item">日</div>
                </div>
                <div class="date-row" ng-repeat="row in calenderDays">
                    <div class="item {{day.sclass}}" ng-repeat="day in row" ng-click="selectDate(day.date)">
                        {{day.text || day.date.getDate()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="category-filter">
            <div class="category-filter-switch">
                筛选房型
                <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/673741C9-0BE5-4670-970E-37383302412F@1x.png" alt="下拉">
                <!--<img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/BA477982-E05E-414E-8F63-E35DB5277E42@1x.png" alt="上拉">-->
            </div>
            <div class="category-filter-menu">
                <div class="options">
                    <div class="item category-filter-all selected">
                        <div class="notCheck"></div>
                        <div class="yesCheck"></div>
                        全选
                    </div>
                    <div class="item category-filter-single selected" ng-repeat="pRoom in pRoomList">
                        <div class="notCheck"></div>
                        <div class="yesCheck"></div>
                        {{pRoom.name}}
                    </div>
                </div>
                <hr>
                <div class="sbtn">确定</div>
            </div>
        </div>
        <div class="leftHeader">
            <div class="category-item" ng-repeat="c in cRoomStore">
                <div class="category-name">
                    <span class="stext">{{c.name}}</span>
                </div>
                <div class="category-list">
                    <div class="room-item" room="{{r.id}}" ng-repeat="r in c.rooms">{{r.sn}}</div>
                </div>
            </div>
        </div>
        <div class="sheader">
            <div class="sheader-item" ng-repeat="d in datesArray">
                <div class="date-item"
                     ng-class="{'today':d.dateStr == today, 'weekend': d.weekday == '周五' || d.weekday == '周六'}"
                     date="{{d.dateStr}}">
                    <div class="date">{{d.dateStr == today ? '今天' : d.dateStr}}</div>
                    <div class="desc">{{d.weekday}}</div>
                </div>
                <div class="left">剩{{d.left}}</div>
            </div>
        </div>
        <div class="calendor-container">
            <div class="entryList">
                <div class="srow" room="{{r.id}}" ng-repeat="r in roomStore">
                    <div class="entryItem" date="{{day.date}}" ng-repeat="day in r.st">
                        <div class="inner">
                            <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/EFE699E7-4888-4F50-B17F-B9FAF5A19B8B@1x.png" alt="selected">
                            <div class="date">04-26</div>
                            <div class="price">￥49900</div>
                            <div class="name">102（房型名称)</div>
                            <div class="entryOp">
                                关闭房间
                            </div>
                            <div class="closeTips">
                                已关闭
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glyph ing" ng-repeat="g in glyphs"
                     style="left: {{g.left}}px;width: {{g.width}}px;top: {{g.top}}px;">
                    <div class="username">小树</div>
                    <div class="where">携程</div>
                    <img class="status"
                         src="http://7xsrk6.com2.z0.glb.qiniucdn.com/6F62DF58-FC40-4DF1-86F7-F7235C7B2123@1x.png" alt="">
                    <div class="infos ing up">
                        <div class="arrow-up"></div>
                        <div class="arrow-down"></div>
                        <div class="susername">三秒（12311111111)</div>
                        <div class="sstatus"><div class="dot ing"></div>已入住</div>
                        <div class="booktime">
                            <div class="start"><span>4-20</span>入住</div>
                            <div class="end"><span>4-25</span>离店</div>
                            <div class="stotal">共<span>4</span>晚</div>
                            <div class="from">携程</div>
                        </div>
                        <div class="bhr"></div>
                        <div class="bprice">
                            <div class="stotal"><span class="slabel">订单总价：</span><span class="num">¥ 1999</span></div>
                            <div class="sleft"><span class="slabel">客户需补：</span><span class="num">¥ 1999</span></div>
                            <div class="sgive"><span class="slabel">客户需退：</span><span class="num">¥ 1999</span></div>
                        </div>
                        <div class="remarks"><span>备注：</span>打了卡废旧塑料安宽带缴费了卡萨丁解放了;卡手机打开了 房间撒开了的放假了深刻爱打架;是拉动房价;拉萨的房价款</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopcart">
            <div class="already">已选择<span>100</span>个房间</div>
            <div class="roomList">
                <div class="item">房间1</div>
            </div>
            <div class="sbtn addition">补录</div>
            <div class="sbtn book">预订</div>
            <div class="sbtn buy" data-toggle="modal" data-target="#arrearsModal">直接入住</div>
        </div>
    </div>
</div>
</body>
</html>