<!DOCTYPE html>
<html ng-app="calenderApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了——房态</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/accommodation/calender.js"></script>
</head>
<body ng-controller="calenderCtrl">
<div class="msgModal modal fade" role="dialog" id="directModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stitle">直接入住</div>
            <div class="stext">选择直接入住，系统将自动清除今天以前的房态格子。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="msgModal modal fade" role="dialog" id="additionalModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stitle">补录</div>
            <div class="stext">选择补录，系统将自动清除今天及以后的房态格子。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="msgModal modal fade" role="dialog" id="bookModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stitle">预定</div>
            <div class="stext">选择预定，系统将自动清除今天以前的房态格子。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="msgModal modal fade" role="dialog" id="shortModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="stitle">库存不足</div>
            <div class="stext">部分房间库存不足，系统将自动清除不可选的房间。</div>
            <div class="btns">
                <div class="sbtn cancel">取消</div>
                <div class="sbtn confirm">清除</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="accommodation-mainContainer">
    <div class="content">
        <div class="date-selector">
            <div class="date-selector-switch">
                {{startDateStr}}
                <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/A3E5CB0B-62F7-4792-8347-B6241487725B@1x.png" alt="calendor">
            </div>
            <div class="date-table">
                <div class="tips">选择起始日期，将会显示未来30天的房态</div>
                <div class="month-selector">
                    <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/17B1D80F-9F0E-4F48-BE3C-2D8C8FC32093@1x.png" alt="left" class="previous">
                    2016年4月
                    <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/17B1D80F-9F0E-4F48-BE3C-2D8C8FC32093@1x.png" alt="left" class="next">
                </div>
                <div class="week-header">
                    <div class="item">一</div>
                    <div class="item">二</div>
                    <div class="item">三</div>
                    <div class="item">四</div>
                    <div class="item">五</div>
                    <div class="item">六</div>
                    <div class="item">日</div>
                </div>
                <div class="date-row" ng-repeat="row in calenderDays">
                    <div class="item {{day.sclass}}" ng-repeat="day in row">
                        {{day.date.getDate()}}
                        <div class="dot"></div>
                    </div>
                </div>
                <!--<div class="date-row">-->
                    <!--<div class="item invalid">27</div>-->
                    <!--<div class="item invalid">28</div>-->
                    <!--<div class="item invalid">29 <div class="dot"></div></div>-->
                    <!--<div class="item invalid">30</div>-->
                    <!--<div class="item today">31</div>-->
                    <!--<div class="item selected">1</div>-->
                    <!--<div class="item">2</div>-->
                <!--</div>-->
                <!--<div class="date-row">-->
                    <!--<div class="item invalid">27</div>-->
                    <!--<div class="item invalid">28</div>-->
                    <!--<div class="item invalid">29 <div class="dot"></div></div>-->
                    <!--<div class="item invalid">30</div>-->
                    <!--<div class="item today">31</div>-->
                    <!--<div class="item selected">1</div>-->
                    <!--<div class="item">2</div>-->
                <!--</div>-->
                <!--<div class="date-row">-->
                    <!--<div class="item invalid">27</div>-->
                    <!--<div class="item invalid">28</div>-->
                    <!--<div class="item invalid">29 <div class="dot"></div></div>-->
                    <!--<div class="item invalid">30</div>-->
                    <!--<div class="item today">31</div>-->
                    <!--<div class="item selected">1</div>-->
                    <!--<div class="item">2</div>-->
                <!--</div>-->
                <!--<div class="date-row">-->
                    <!--<div class="item invalid">27</div>-->
                    <!--<div class="item invalid">28</div>-->
                    <!--<div class="item invalid">29 <div class="dot"></div></div>-->
                    <!--<div class="item invalid">30</div>-->
                    <!--<div class="item today">31</div>-->
                    <!--<div class="item selected">1<div class="dot"></div></div>-->
                    <!--<div class="item">2</div>-->
                <!--</div>-->
                <!--<div class="date-row">-->
                    <!--<div class="item invalid">27</div>-->
                    <!--<div class="item invalid">28</div>-->
                    <!--<div class="item invalid">29 <div class="dot"></div></div>-->
                    <!--<div class="item invalid">30</div>-->
                    <!--<div class="item today">31</div>-->
                    <!--<div class="item selected">1</div>-->
                    <!--<div class="item">2</div>-->
                <!--</div>-->
                <!--<div class="date-row">-->
                    <!--<div class="item invalid">27</div>-->
                    <!--<div class="item invalid">28</div>-->
                    <!--<div class="item invalid">29 <div class="dot"></div></div>-->
                    <!--<div class="item invalid">30</div>-->
                    <!--<div class="item today">31</div>-->
                    <!--<div class="item selected">1</div>-->
                    <!--<div class="item">2</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="category-filter">
            <div class="category-filter-switch">
                筛选房型
                <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/673741C9-0BE5-4670-970E-37383302412F@1x.png" alt="下拉">
                <!--<img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/BA477982-E05E-414E-8F63-E35DB5277E42@1x.png" alt="上拉">-->
            </div>
            <div class="category-filter-menu">
                <div class="options">
                    <div class="item category-filter-all">
                        <div class="notCheck"></div>
                        <div class="yesCheck"></div>
                        全选
                    </div>
                    <div class="item category-filter-single">
                        <div class="notCheck"></div>
                        <div class="yesCheck"></div>
                        露营地
                    </div>
                </div>
                <hr>
                <div class="sbtn">确定</div>
            </div>
        </div>
        <div class="leftHeader">
            <div class="category-item" ng-repeat="c in category">
                <div class="category-name">
                    <span class="stext">{{c.name}}</span>
                </div>
                <div class="category-list">
                    <div class="room-item" room="{{r.id}}" ng-repeat="r in c.rooms">{{r.num}}</div>
                    <!--<div class="room-item" room="0">0101</div>-->
                    <!--<div class="room-item" room="1">0101</div>-->
                </div>
            </div>
        </div>
        <div class="sheader">
            <div class="sheader-item" ng-repeat="d in datesArray">
                <div class="date-item"
                     ng-class="{'today':d.dateStr == today, 'weekend': d.weekday == '周五' || d.weekday == '周六'}"
                     date="{{d.dateStr}}">
                    <div class="date">{{d.dateStr == today ? '今天' : d.dateStr}}</div>
                    <div class="desc">{{d.weekday}}</div>
                </div>
                <div class="left">剩{{d.left}}</div>
            </div>
        </div>
        <div class="calendor-container">
            <div class="entryList">
                <div class="srow" room="{{r.id}}" ng-repeat="r in rooms">
                    <div class="entryItem" date="{{day.date}}" ng-repeat="day in r.list">
                        <div class="inner">
                            <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/EFE699E7-4888-4F50-B17F-B9FAF5A19B8B@1x.png" alt="selected">
                            <div class="date">04-26</div>
                            <div class="price">￥49900</div>
                            <div class="name">102（房型名称)</div>
                            <div class="entryOp">
                                关闭房间
                            </div>
                            <div class="closeTips">
                                已关闭
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glyph ing" ng-repeat="g in glyphs"
                     style="left: {{g.left}}px;width: {{g.width}}px;top: {{g.top}}px;">
                    <div class="username">小树</div>
                    <div class="where">携程</div>
                    <img class="status"
                         src="http://7xsrk6.com2.z0.glb.qiniucdn.com/6F62DF58-FC40-4DF1-86F7-F7235C7B2123@1x.png" alt="">
                    <div class="infos ing up">
                        <div class="arrow-up"></div>
                        <div class="arrow-down"></div>
                        <div class="susername">三秒（12311111111)</div>
                        <div class="sstatus"><div class="dot ing"></div>已入住</div>
                        <div class="booktime">
                            <div class="start"><span>4-20</span>入住</div>
                            <div class="end"><span>4-25</span>离店</div>
                            <div class="stotal">共<span>4</span>晚</div>
                            <div class="from">携程</div>
                        </div>
                        <div class="bhr"></div>
                        <div class="bprice">
                            <div class="stotal"><span class="slabel">订单总价：</span><span class="num">¥ 1999</span></div>
                            <div class="sleft"><span class="slabel">客户需补：</span><span class="num">¥ 1999</span></div>
                            <div class="sgive"><span class="slabel">客户需退：</span><span class="num">¥ 1999</span></div>
                        </div>
                        <div class="remarks"><span>备注：</span>打了卡废旧塑料安宽带缴费了卡萨丁解放了;卡手机打开了 房间撒开了的放假了深刻爱打架;是拉动房价;拉萨的房价款</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopcart">
            <div class="already">已选择<span>100</span>个房间</div>
            <div class="roomList">
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
                <div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div><div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div><div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div><div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div><div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div><div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div><div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div><div class="item">房间1</div>
                <div class="item">房间1222222</div>
                <div class="item">房间12</div>
            </div>
            <div class="sbtn addition">补录</div>
            <div class="sbtn book" data-toggle="modal" data-target="#bookModal">预订</div>
            <div class="sbtn buy" data-toggle="modal" data-target="#directModal">直接入住</div>
        </div>
    </div>
</div>
</body>
</html>