@import "../../variable.scss";

.back-open {
  background-image: url("//static.dingdandao.com/open-button.png");
}
.back-close {
  background-image: url("//static.dingdandao.com/close-button.png");
}
.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  border-radius: 100%;
  vertical-align: middle;
}
.dot-grey {
  background: #cccccc;
}
.dot-blue {
  background: #178ce6;
}
.dot-yellow {
  background: #ff9326;
}
.dot-red {
  background: #f24949;
}
.right {
  float: right;
}
.left {
  float: left;
}
.show-transition {
  transition: all 0.6s linear;
  height: 211px;
}
.fade-transition {
  transition: all 0.6s linear;
  height: 263px;
}
.show-leave, .show-enter, .fade-leave, .fade-enter{
  height: 0;
}
.m-btn-code, .m-btn-wallet, .site-btn, .alipay-btn, .immedia-btn, .m-btn-company {
  cursor: pointer;
}
.code-container {
  width: 618px;
  font-size: 16px;
  margin-bottom: 30px;
  .c-text {
    height: 24px;
    line-height: 24px;
    display: inline-block;
  }
  .m-btn-code {
    display: inline-block;
    width: 44px;
    height: 24px;
    line-height: 24px;
    border-radius: $BorderRadius;
    vertical-align: middle;
  }
}

#method-wechatMethod {
  .modal-dialog {
    width: 500px;
  }
  .modal-content {
    width: 500px;
    height: 270px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stitle{
      margin-top: 46px;
      font-size: 18px;
      text-align: center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      color:$color1;
    }
    .stext{
      width: 442px;
      font-size:18px;
      color:$color1;
      text-align:center;
      margin: auto;
      margin-top: 16px;
    }
    .btns{
      margin-top: 29px;
      width: 100%;
      height: 40px;
      text-align: center;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        display: inline-block;
        height: 40px!important;
        line-height: 40px!important;
        margin: 0 20px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-newMethod {
  .modal-dialog {
    width: 700px;
  }
  .modal-content {
    width: 700px;
    height: 355px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .hr2{
      background:#dddddd;
      width:100%;
      height:1px;
      margin-bottom: 28px;
    }
    .stitle{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      margin-top: 45px;
      margin-bottom: 25px;
    }
    .maintext{
      width: 100%;
      height: 40px;
      margin-top: 48px;
      position: relative;
      .slabel{
        width: 84px;
        height: 40px;
        line-height: 40px;
        float: left;
        margin-left: 150px;
        font-size:14px;
        color:#526479;
      }
      .scontent{
        margin-left: 15px;
        height: 40px;
        width: 302px;
        float: left;
        input{
          display: block;
          background:#ffffff;
          border:1px solid #cccccc;
          border-radius:2px;
          width:300px;
          height:40px;
          padding: 0 10px;
        }
      }
      .errorTips{
        position: absolute;
        left: 250px;
        bottom: -40px;
        width: 100%;
        height: 40px;
        color: red;
        line-height: 40px;
      }
    }
    .btns{
      margin-top: 73px;
      width: 100%;
      height: 40px;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        height:40px;
        line-height: 40px;
        float: right;
        margin-right: 149px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        height:40px!important;
        line-height: 40px!important;
        float: right;
        margin-right: 49px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-deleteMethod {
  .modal-dialog {
    width: 400px;
  }
  .modal-content {
    width: 400px;
    height: 214px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stext{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 342px;
      margin: auto;
      margin-top: 46px;
      height: 50px;
      line-height: 25px;
    }
    .btns{
      margin-top: 24px;
      width: 100%;
      height: 40px;
      text-align: center;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        height:40px;
        line-height: 40px;
        display: inline-block;
        margin: 0 25px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        height:40px!important;
        line-height: 40px!important;
        display: inline-block;
        margin: 0 25px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-submitFail {
  .modal-dialog {
    width: 300px;
  }
  .modal-content {
    width: 300px;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    border-top: solid 4px #178ce6;
    .content-row {
      margin: 24px 47px;
    }
    .tips-box {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
    .text-title {
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      height: 21px;
      line-height: 21px;
      margin-bottom: 6px;
    }
    .text-sub {
      font-size: 14px;
      color: #b3b3b3;
      height: 19px;
      line-height: 19px;
    }
    .content-btn {
      font-size: 14px;
      width: 100px;
      height: 24px;
      text-align: center;
      color: #ffffff;
      line-height: 24px;
      background: #178ce6;
      border-radius: 2px;
      margin: 18px auto;
      cursor: pointer;
    }
  }
}

#method-submitSuccess {
  .modal-dialog {
    width: 300px;
  }
  .modal-content {
    width: 300px;
    height: 140px;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    border-top: solid 4px #178ce6;
    .content-row {
      margin: 45px 47px 40px;
    }
    .tips-box {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
    .text-title {
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      height: 21px;
      line-height: 21px;
      margin-bottom: 6px;
    }
    .text-sub {
      font-size: 14px;
      color: #b3b3b3;
      height: 19px;
      line-height: 19px;
    }
  }
}

#method-confirmSubmit {
  .modal-dialog {
    width: 300px;
  }
  .modal-content {
    width: 300px;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0 27px;
    border-top: solid 4px #178ce6;
  }
  .tips-box {
    margin-top: 32px;
  }
  .content-title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .tips-content {
    line-height: 19px;
    margin-bottom: 26px;
  }
  .submit-cancel {
    display: inline-block;
    width: 100px;
    height: 24px;
    line-height: 24px;
    color: #178ce6;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 6px;
    margin-bottom: 20px;
  }
  .submit-confirm {
    display: inline-block;
    width: 100px;
    height: 24px;
    line-height: 24px;
    background: #178ce6;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    vertical-align: top;
  }
}

#ali-facePay {
  .modal-dialog {
    width: 390px;
  }
  .modal-content {
    width: 390px;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0 8px;
    border-top: solid 4px #178ce6;
  }
  .content-container {
    width: 374px;
  }
  .hr {
    width: 100%;
    height: 1px;
    background: #d4d4d4;
  }
  .content-head {
    margin: 20px auto;
    width: 350px;
    .head-title-container {
      line-height: 21px;
    }
    .head-title {
      font-size: 16px;
      color: #178ce6;
      height: 21px;
      line-height: 21px;
    }
    .head-img-close {
      cursor: pointer;
    }
    .head-tip {
      font-size: 14px;
      color: #666666;
    }
  }
  .content-body {
    width: 332px;
    margin: 20px auto 0;
    a:hover, a:visited, a:link, a:active {
      text-decoration: none;
      color: #178ce6;
    }
    .first-container, .second-container, .third-container {
      display: inline-block;
      margin-bottom: 30px;
    }
    .item-index {
      height: 19px;
      line-height: 19px;
      display: inline-block;
      margin-right: 24px;
      vertical-align: top;
      font-size: 12px;
      color: #7d7d7d;
      opacity: 0.5;
    }
    .item-title {
      font-size: 14px;
      color: #666666;
      height: 19px;
      line-height: 19px;
    }
    .item-sub-title {
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    .invalid-tip {
      color: #f24949;
      margin-left: 8px;
    }
    .copy-text {
      width: 100px;
      height: 24px;
      display: inline-block;
      line-height: 24px;
      background: #178ce6;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      vertical-align: top;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    .copy-success-tip {
      margin-left: 4px;
    }
    .copy-success {
      width: 102px;
      height: 32px;
      line-height: 32px;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      margin-left: 16px;
      margin-top: 4px;
      display: none;
      text-align: center;
    }
    input {
      width: 296px;
      height: 24px;
      margin-bottom: 8px;
      line-height: 24px;
    }
    textarea {
      width: 296px;
      padding: 8px;
      font-size: 12px;
      display: block;
      color: #7d7d7d;
    }
  }
  .content-foot {
    margin: 20px 53px;
    .submit-cancel {
      display: inline-block;
      width: 100px;
      height: 24px;
      line-height: 24px;
      color: #178ce6;
      font-size: 14px;
      border-radius: 2px;
      cursor: pointer;
      margin-left: 24px;
    }
    .submit-confirm {
      display: inline-block;
      width: 100px;
      height: 24px;
      line-height: 24px;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      vertical-align: top;
    }
    .submit-valid {
      background: #178ce6;
    }
    .submit-invalid {
      background: #cccccc;
    }
  }
}

#company-aliPay {
  .modal-dialog {
    width: 390px;
  }
  .modal-content {
    width: 390px;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0 8px;
    border-top: solid 4px #178ce6;
  }
  .content-container {
    width: 374px;
  }
  .hr {
    width: 100%;
    height: 1px;
    background: #d4d4d4;
  }
  .content-head {
    margin: 20px auto;
    width: 350px;
    .head-title-container {
      line-height: 21px;
    }
    .head-title {
      font-size: 16px;
      color: #178ce6;
      height: 21px;
      line-height: 21px;
    }
    .head-img-close {
      cursor: pointer;
    }
    .head-tip {
      font-size: 14px;
      color: #666666;
    }
  }
  .content-body {
    width: 332px;
    margin: 20px auto 0;
    a:hover, a:visited, a:link, a:active {
      text-decoration: none;
      color: #178ce6;
    }
    .first-container, .second-container, .third-container {
      display: inline-block;
      margin-bottom: 30px;
    }
    .item-index {
      height: 19px;
      line-height: 19px;
      display: inline-block;
      margin-right: 24px;
      vertical-align: top;
      font-size: 12px;
      color: #7d7d7d;
      opacity: 0.5;
    }
    .item-title {
      font-size: 14px;
      color: #666666;
      height: 19px;
      line-height: 19px;
    }
    .item-sub-title {
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    .invalid-tip {
      color: #f24949;
      margin-left: 8px;
    }
    .copy-text {
      width: 100px;
      height: 24px;
      display: inline-block;
      line-height: 24px;
      background: #178ce6;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      vertical-align: top;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    .copy-success-tip {
      margin-left: 4px;
    }
    .copy-success {
      width: 102px;
      height: 32px;
      line-height: 32px;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      margin-left: 16px;
      margin-top: 4px;
      display: none;
      text-align: center;
    }
    input {
      width: 296px;
      height: 24px;
      margin-bottom: 8px;
      line-height: 24px;
    }
    textarea {
      width: 296px;
      padding: 8px;
      font-size: 12px;
      display: block;
      color: #7d7d7d;
    }
  }
  .content-foot {
    margin: 20px 53px;
    .submit-cancel {
      display: inline-block;
      width: 100px;
      height: 24px;
      line-height: 24px;
      color: #178ce6;
      font-size: 14px;
      border-radius: 2px;
      cursor: pointer;
      margin-left: 24px;
    }
    .submit-confirm {
      display: inline-block;
      width: 100px;
      height: 24px;
      line-height: 24px;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      vertical-align: top;
    }
    .submit-invalid {
      background: #cccccc;
    }
    .submit-valid {
      background: #178ce6;
    }
  }
}

#ali-immediaPay {
  .modal-dialog {
    width: 390px;
  }
  .modal-content {
    width: 390px;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 0 8px;
    border-top: solid 4px #178ce6;
  }
  .content-container {
    width: 374px;
  }
  .hr {
    width: 100%;
    height: 1px;
    background: #d4d4d4;
  }
  .content-head {
    margin: 20px auto;
    width: 364px;
    .head-title-container {
      line-height: 21px;
    }
    .head-title {
      font-size: 16px;
      color: #178ce6;
      height: 21px;
      line-height: 21px;
    }
    .head-img-close {
      cursor: pointer;
    }
    .head-tip {
      font-size: 14px;
      color: #666666;
    }
  }
  .content-body {
    width: 332px;
    margin: 20px auto 0;
    a:hover, a:visited, a:link, a:active {
      text-decoration: none;
      color: #178ce6;
    }
    .first-container, .second-container, .third-container {
      display: inline-block;
      margin-bottom: 30px;
    }
    .item-index {
      height: 19px;
      line-height: 19px;
      display: inline-block;
      margin-right: 24px;
      vertical-align: top;
      font-size: 12px;
      color: #7d7d7d;
      opacity: 0.5;
    }
    .item-title {
      font-size: 14px;
      color: #666666;
      height: 19px;
      line-height: 19px;
    }
    .item-sub-title {
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    .invalid-tip {
      color: #f24949;
      margin-left: 8px;
    }
    .copy-text {
      width: 100px;
      height: 24px;
      display: inline-block;
      line-height: 24px;
      background: #178ce6;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      vertical-align: top;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    .copy-success-tip {
      margin-left: 4px;
    }
    .copy-success {
      width: 102px;
      height: 32px;
      line-height: 32px;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      margin-left: 16px;
      margin-top: 4px;
      display: none;
      text-align: center;
    }
    input {
      width: 296px;
      height: 24px;
      margin-bottom: 8px;
      line-height: 24px;
    }
    textarea {
      width: 296px;
      padding: 8px;
      font-size: 12px;
      display: block;
      color: #7d7d7d;
    }
  }
  .content-foot {
    margin: 20px 53px;
    .submit-cancel {
      display: inline-block;
      width: 100px;
      height: 24px;
      line-height: 24px;
      color: #178ce6;
      font-size: 14px;
      border-radius: 2px;
      cursor: pointer;
      margin-left: 24px;
    }
    .submit-confirm {
      display: inline-block;
      width: 100px;
      height: 24px;
      line-height: 24px;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      vertical-align: top;
    }
    .submit-invalid {
      background: #cccccc;
    }
    .submit-valid {
      background: #178ce6;
    }
  }
}

.method-container {
  width: 618px;
  margin-bottom: 30px;
  font-size: 16px;
  .company-top {
    margin-top: 33px;
  }
  .stitle {
    width: 100%;
    margin-bottom: 16px;
    .c-text {
      height: 24px;
      line-height: 24px;
      display: inline-block;
      .c-text-inner {
        font-size: 14px;
        color: #b3b3b3;
      }
    }
    .m-btn-wallet, .m-btn-company {
      display: inline-block;
      width: 44px;
      height: 24px;
      line-height: 24px;
      border-radius: $BorderRadius;
      vertical-align: middle;
    }
  }
  .s-m-box{
    background: #fafafa;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .15);
    overflow: hidden;
    border-radius: $BorderRadius;
    width: 618px;
    .c-text-container {
      line-height: initial;
    }
    .c-text-par {
      display: block;
      margin-bottom: 2px;
    }
    .c-text-sub {
      font-size: 12px;
      color: #7d7d7d;
      opacity: 0.5;
    }
    .hr{
      background: #178ce6;
      width: 100%;
      height: 4px;
    }
    .table-box-wallet {
      padding: 0 8px;
      font-size: 14px;
      thead > tr {
        height: 51px;
        line-height: 51px;
        border-bottom: solid 1px #d4d4d4;
      }
      .col-first {
        width: 302px;
        padding-left: 32px;
      }
      .col-second {
        width: 200px;
        padding-right: 100px;
        text-align: center;
      }
      .col-last {
        width: 100px;
        text-align: center;
      }
      .site-btn, .alipay-btn, .immedia-btn {
        display: inline-block;
        width: 44px;
        height: 24px;
        border-radius: $BorderRadius;
        vertical-align: middle;
      }
      .tr-origin {
        height: 51px;
        line-height: 51px;
        border-top: solid 1px #e6e6e6;
      }
    }
    .table-box-company {
      padding: 0 8px;
      font-size: 14px;
      thead > tr {
        height: 51px;
        line-height: 51px;
        border-bottom: solid 1px #d4d4d4;
      }
      .site-btn, .alipay-btn, .immedia-btn {
        display: inline-block;
        width: 44px;
        height: 24px;
        border-radius: $BorderRadius;
        vertical-align: middle;
      }
      tbody .hr2 {
        width: 31px;
        height: 1px;
        background: #666666;
        display: inline-block;
      }
      .col-first {
        width: 302px;
        padding-left: 32px;
      }
      .col-not-first {
        width: 100px;
        text-align: center;
      }
      .tr-origin {
        height: 51px;
        line-height: 51px;
        border-top: solid 1px #e6e6e6;
      }
      .tr-special {
        height: 26px;
        line-height: 26px;
        border-top: dotted 2px #ededed;
        .col-first {
          padding-left: 52px;
        }
      }
      .company-alipay, .company-wechat, .face-pay-account, .immedia-pay-account {
        color: #178ce6;
        cursor: pointer;
      }
    }
  }
}

.otherMethod-container {
  width: 618px;
  font-size: 16px;
  .otitle {
    width: 100%;
    margin-bottom: 16px;
    .o-text {
      height: 24px;
      line-height: 24px;
      display: inline-block;
    }
    .o-text-special {
      font-size: 14px;
      color: #178ce6;
      cursor: pointer;
    }
    .add-img {
      vertical-align: baseline;
      margin-right: 4px;
      cursor: pointer;
    }
  }
  .o-m-box{
    background: #fafafa;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .15);
    overflow: hidden;
    border-radius: $BorderRadius;
    width: 618px;
  }
  .hr{
    background: #178ce6;
    width: 100%;
    height: 4px;
  }
  .table-box {
    padding: 0 8px;
    font-size: 14px;
    thead > tr {
      height: 51px;
      line-height: 51px;
      border-bottom: solid 1px #d4d4d4;
    }
    tbody > tr {
      height: 35px;
      line-height: 35px;
      border-top: solid 1px #e6e6e6;
    }
    .col-first {
      width: 502px;
      padding-left: 32px;
    }
    .col-not-first {
      width: 100px;
      text-align: center;
    }
    .del-method {
      color: #178ce6;
      cursor: pointer;
    }
  }
}


/*
.method-container{
  width: 618px;
  height: auto;
  position: relative;
  margin-bottom: 100px;
  //margin-top: 51px;
  .selectmethod{
    @include contentNormal();
    font-size: 16px;
    .sbox{
      margin-top: 20px;
      background:$colorBgGrey;
      border-radius:$BorderRadius;
      width:618px;
      height:190px;
      overflow: hidden;
      .hr{
        width: 100%;
        background:$color1;
        height:4px;
      }
      .hr3{
        width: 56px;
        background:#666666;
        height:1px;
      }
      table{
        @include contentNormal();
        font-size: 14px;
        thead{
          tr{
            height: 40px;
            line-height: 20px;
            padding-top: 12px;
            padding-bottom: 8px;
            border-bottom: #dddddd solid thin;
            th:first-child{
              width: 38px;
              text-align: right;
            }
            th:nth-child(2){
              width: 262px;
              padding: 6px;
              text-align: left;
            }
            th:nth-child(3){
              width: 226px;
              text-align: center;
            }
            th:nth-child(4){
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
          }
        }
        tbody{
          tr{
            height: 36px;
            line-height: 20px;
            padding-top: 8px;
            padding-bottom: 8px;
            td{
              position: relative;
            }
            img{
              position: absolute;
              top: 12px;
              left: 24px;
            }
            td:first-child{
              width: 38px;
              text-align: right;
              img{
                cursor: pointer;
              }
            }
            td:nth-child(2){
              width: 262px;
              padding: 6px;
              text-align: left;
              cursor: pointer;
            }
            td:nth-child(3){
              width: 226px;
              text-align: center;
              .dot{
                display: inline-block;
                background:$color1;
                width:6px;
                height:6px;
                margin-right: 4px;
                border-radius:100%;
              }
              .dot.invalid{
                background: $colorInvalid;
              }
            }
            td:nth-child(4){
              color: $color1;
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
          }
          tr:first-child{
            td:first-child{
              img{
                top: 30px;
              }
            }
          }
          .schange{
            cursor: pointer;
          }
          .schange:hover{
            color: $color1Hover;
          }
          .schange:active{
            color: $color1Click;
          }
        }
      }
    }
  }
  .othermethod{
    margin-top: 37px;
    @include contentNormal();
    font-size: 16px;
    position: relative;
    .sbtn{
      @include btn1_normal();
      @include btn_big();
      position: absolute;
      top: 0;
      right: 0;
    }
    .sbtn:hover{
      @include btn1_hover();
    }
    .sbtn:active{
      @include btn1_click();
    }
    .sbox{
      margin-top: 20px;
      background:$colorBgGrey;
      border-radius:$BorderRadius;
      width:618px;
      height:auto;
      overflow: hidden;
      .hr{
        width: 100%;
        background:$color1;
        height:4px;
      }
      .hr3{
        width: 56px;
        background:#666666;
        height:1px;
      }
      table{
        @include contentNormal();
        font-size: 14px;
        thead{
          tr{
            height: 40px;
            line-height: 20px;
            padding-top: 12px;
            padding-bottom: 8px;
            border-bottom: #dddddd solid thin;
            th:first-child{
              width: 300px;
              padding-left: 44px;
              text-align: left;
            }
            th:nth-child(2){
              width: 226px;
              text-align: center;
            }
            th:nth-child(3){
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
          }
        }
        tbody{
          tr{
            height: 36px;
            line-height: 20px;
            padding-top: 8px;
            padding-bottom: 8px;
            td:first-child{
              width: 300px;
              padding-left: 44px;
              text-align: left;
            }
            td:nth-child(2){
              width: 226px;
              text-align: center;
              .dot{
                display: inline-block;
                background:$color1;
                width:6px;
                height:6px;
                margin-right: 4px;
                border-radius:100%;
              }
              .dot.invalid{
                background: $colorInvalid;
              }
            }
            td:nth-child(3){
              color: $color1;
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
            td.delete{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#method-wechatMethod{
  .modal-dialog {
    width: 500px;
  }
  .modal-content {
    width: 500px;
    height: 270px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stitle{
      margin-top: 46px;
      font-size: 18px;
      text-align: center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      color:$color1;
    }
    .stext{
      width: 442px;
      font-size:18px;
      color:$color1;
      text-align:center;
      margin: auto;
      margin-top: 16px;
    }
    .btns{
      margin-top: 29px;
      width: 100%;
      height: 40px;
      text-align: center;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        display: inline-block;
        height: 40px!important;
        line-height: 40px!important;
        margin: 0 20px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-alipayMethod{
  .modal-dialog {
    width: 700px;
  }
  .modal-content {
    width: 700px;
    height: 575px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .hr2{
      background:#dddddd;
      width:100%;
      height:1px;
      margin-bottom: 28px;
    }
    .hr3{
      background:#dddddd;
      width:100%;
      height:1px;
      margin-top: 28px;
      margin-bottom: 24px;
    }
    .stitle{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      margin-top: 45px;
    }
    .subtitle{
      margin-top: 12px;
      font-size: 12px;
      text-align: center;
      width: 100%;
      line-height: 20px;
      color:#9e9e9e;
      margin-bottom: 20px;
    }
    .srow{
      font-size: 14px;
      height: 64px;
      width: 100%;
      .scol{
        float: left;
        height: 100%;
        line-height: 64px;
      }
      .scol1{
        width: 180px;
        margin-left: 112px;
        .tips{
          font-size:12px;
          color:#9e9e9e;
          text-align:left;
          line-height: 17px;
          position: relative;
          top: -14px;
        }
      }
      .scol2{
        width: 300px;
        margin-left: 16px;
        input{
          display: block;
          background:#ffffff;
          border:1px solid #cccccc;
          border-radius:2px;
          width:298px;
          height:38px;
          position: relative;
          top: 12px;
          padding-left: 10px;
        }
        textarea{
          display: block;
          background:#ffffff;
          border:1px solid #cccccc;
          border-radius:2px;
          width:298px;
          height:71px;
          position: relative;
          top: 12px;
          padding: 10px;
        }
      }
    }
    .srow.big{
      height: 95px;
    }
    .srow.medium{
      height: 78px;
      textarea{
        height: 54px;
      }
    }
    .sbtn-ok{
      @include btn2_normal();
      @include btn_big();
      height:40px;
      line-height: 40px;
      float: right;
      margin-right: 100px;
    }
    .sbtn-cancel{
      @include btn1_normal();
      @include btn_big();
      height:40px!important;
      line-height: 40px!important;
      float: right;
      margin-right: 49px;
    }
    .sbtn-cancel{
      @include btn1_normal();
    }
    .sbtn-ok:hover{
      @include btn2_hover();
    }
    .sbtn-ok:active{
      @include btn2_click();
    }
    .sbtn-cancel:hover{
      @include btn1_hover();
    }
    .sbtn-cancel:active{
      @include btn1_click();
    }
  }
}

#method-newMethod{
  .modal-dialog {
    width: 700px;
  }
  .modal-content {
    width: 700px;
    height: 355px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .hr2{
      background:#dddddd;
      width:100%;
      height:1px;
      margin-bottom: 28px;
    }
    .stitle{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      margin-top: 45px;
      margin-bottom: 25px;
    }
    .maintext{
      width: 100%;
      height: 40px;
      margin-top: 48px;
      position: relative;
      .slabel{
        width: 84px;
        height: 40px;
        line-height: 40px;
        float: left;
        margin-left: 150px;
        font-size:14px;
        color:#526479;
      }
      .scontent{
        margin-left: 15px;
        height: 40px;
        width: 302px;
        float: left;
        input{
          display: block;
          background:#ffffff;
          border:1px solid #cccccc;
          border-radius:2px;
          width:300px;
          height:40px;
          padding: 0 10px;
        }
      }
      .errorTips{
        position: absolute;
        left: 250px;
        bottom: -40px;
        width: 100%;
        height: 40px;
        color: red;
        line-height: 40px;
      }
    }
    .btns{
      margin-top: 73px;
      width: 100%;
      height: 40px;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        height:40px;
        line-height: 40px;
        float: right;
        margin-right: 149px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        height:40px!important;
        line-height: 40px!important;
        float: right;
        margin-right: 49px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-submitSuccess{
  .modal-dialog {
    width: 318px;
  }
  .modal-content {
    width: 318px;
    height: 162px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stext{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 100%;
      margin: auto;
      margin-top: 46px;
      line-height: 25px;
    }
    .stext_small{
      font-size:14px;
      color:#414141;
      text-align:center;
      width: 100%;
      margin-top: 18px;
    }
  }
}

#method-submitFail{
  .modal-dialog {
    width: 318px;
  }
  .modal-content {
    width: 318px;
    height: 162px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stext{
      font-size:18px;
      color:#d0021b;
      text-align:center;
      width: 100%;
      margin-top: 26px;
    }
    .stext_small{
      font-size:14px;
      color:#414141;
      text-align:center;
      width: 100%;
      margin-top: 8px;
    }
    .sbtn{
      @include btn1_normal();
      @include btn_big();
      height:40px;
      line-height: 40px;
      margin: auto;
      margin-top: 20px;
    }
    .sbtn:hover{
      @include btn1_hover();
    }
    .sbtn:active{
      @include btn1_click();
    }
  }
}

#method-deleteMethod{
  .modal-dialog {
    width: 400px;
  }
  .modal-content {
    width: 400px;
    height: 214px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stext{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 342px;
      margin: auto;
      margin-top: 46px;
      height: 50px;
      line-height: 25px;
    }
    .btns{
      margin-top: 24px;
      width: 100%;
      height: 40px;
      text-align: center;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        height:40px;
        line-height: 40px;
        display: inline-block;
        margin: 0 25px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        height:40px!important;
        line-height: 40px!important;
        display: inline-block;
        margin: 0 25px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-comfirmSubmit{
  .modal-dialog {
    width: 244px;
  }
  .modal-content {
    width: 244px;
    height: 186px;
    background: #f6f6f6;
    border-radius: $BorderRadius;
    overflow: hidden;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stitle{
      @include contentBlue();
      font-size:14px;
      text-align:center;
      margin-top: 10px;
    }
    .stext{
      @include contentNormal();
      font-size:14px;
      width: 196px;
      height: 100px;
      margin: auto;
      margin-top: 8px;
      line-height: 20px;
      text-align: left;
    }
    .btns{
      margin-top: 10px;
      width: 100%;
      height: 24px;
      text-align: center;
      //padding-right: 24px;
      font-size: 14px;
      .sbtn-ok{
        //background: $color1;
        //border-radius: $BorderRadius;
        //width:50px;
        //height:24px;
        //line-height: 24px;
        //color: white;
        //text-align: center;
        //display: inline-block;
        //margin: 0 10px;
        //cursor: pointer;
        @include btn2_normal();
        @include btn_big();
        display: inline-block;
        margin: 0 5px;
      }
      .sbtn-cancel{
        //border:1px solid $color1;
        //border-radius: $BorderRadius;
        //width:50px;
        //height:24px;
        //line-height: 24px;
        //color: $color1;
        //text-align: center;
        //display: inline-block;
        //margin: 0 0;
        //cursor: pointer;
        @include btn1_normal();
        @include btn_big();
        display: inline-block;
        margin: 0 5px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}*/
