@import "../../variable.scss";

.method-container{
  width: 618px;
  height: auto;
  position: relative;
  margin-bottom: 100px;
  //margin-top: 51px;
  .selectmethod{
    @include contentNormal();
    font-size: 16px;
    .sbox{
      margin-top: 20px;
      background:$colorBgGrey;
      border-radius:$BorderRadius;
      width:618px;
      height:161px;
      overflow: hidden;
      .hr{
        width: 100%;
        background:$color1;
        height:4px;
      }
      .hr3{
        width: 56px;
        background:#666666;
        height:1px;
      }
      table{
        @include contentNormal();
        font-size: 14px;
        thead{
          tr{
            height: 40px;
            line-height: 20px;
            padding-top: 12px;
            padding-bottom: 8px;
            border-bottom: #dddddd solid thin;
            th:first-child{
              width: 300px;
              padding-left: 44px;
              text-align: left;
            }
            th:nth-child(2){
              width: 226px;
              text-align: center;
            }
            th:nth-child(3){
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
          }
        }
        tbody{
          tr{
            height: 36px;
            line-height: 20px;
            padding-top: 8px;
            padding-bottom: 8px;
            td{
              position: relative;
            }
            img{
              position: absolute;
              top: 12px;
              left: 24px;
            }
            td:first-child{
              width: 300px;
              padding-left: 44px;
              text-align: left;
            }
            td:nth-child(2){
              width: 226px;
              text-align: center;
              .dot{
                display: inline-block;
                background:$color1;
                width:6px;
                height:6px;
                margin-right: 4px;
                border-radius:100%;
              }
              .dot.invalid{
                background: $colorInvalid;
              }
            }
            td:nth-child(3){
              color: $color1;
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
          }
          .alichat{
            .schange{
              cursor: pointer;
            }
            .schange:hover{
              color: $color1Hover;
            }
            .schange:active{
              color: $color1Click;
            }
          }
        }
      }
    }
  }
  .othermethod{
    margin-top: 37px;
    @include contentNormal();
    font-size: 16px;
    position: relative;
    .sbtn{
      @include btn1_normal();
      @include btn_big();
      position: absolute;
      top: 0;
      right: 0;
    }
    .sbtn:hover{
      @include btn1_hover();
    }
    .sbtn:active{
      @include btn1_click();
    }
    .sbox{
      margin-top: 20px;
      background:$colorBgGrey;
      border-radius:$BorderRadius;
      width:618px;
      height:auto;
      overflow: hidden;
      .hr{
        width: 100%;
        background:$color1;
        height:4px;
      }
      .hr3{
        width: 56px;
        background:#666666;
        height:1px;
      }
      table{
        @include contentNormal();
        font-size: 14px;
        thead{
          tr{
            height: 40px;
            line-height: 20px;
            padding-top: 12px;
            padding-bottom: 8px;
            border-bottom: #dddddd solid thin;
            th:first-child{
              width: 300px;
              padding-left: 44px;
              text-align: left;
            }
            th:nth-child(2){
              width: 226px;
              text-align: center;
            }
            th:nth-child(3){
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
          }
        }
        tbody{
          tr{
            height: 36px;
            line-height: 20px;
            padding-top: 8px;
            padding-bottom: 8px;
            td:first-child{
              width: 300px;
              padding-left: 44px;
              text-align: left;
            }
            td:nth-child(2){
              width: 226px;
              text-align: center;
              .dot{
                display: inline-block;
                background:$color1;
                width:6px;
                height:6px;
                margin-right: 4px;
                border-radius:100%;
              }
              .dot.invalid{
                background: $colorInvalid;
              }
            }
            td:nth-child(3){
              color: $color1;
              width: 92px;
              padding-left: 17px;
              text-align: left;
            }
            td.delete{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#method-wechatMethod{
  .modal-dialog {
    width: 500px;
  }
  .modal-content {
    width: 500px;
    height: 270px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stitle{
      margin-top: 46px;
      font-size: 18px;
      text-align: center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      color:$color1;
    }
    .stext{
      width: 442px;
      font-size:18px;
      color:$color1;
      text-align:center;
      margin: auto;
      margin-top: 16px;
    }
    .btns{
      margin-top: 29px;
      width: 100%;
      height: 40px;
      text-align: center;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-alipayMethod{
  .modal-dialog {
    width: 700px;
  }
  .modal-content {
    width: 700px;
    height: 575px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .hr2{
      background:#dddddd;
      width:100%;
      height:1px;
      margin-bottom: 28px;
    }
    .hr3{
      background:#dddddd;
      width:100%;
      height:1px;
      margin-top: 28px;
      margin-bottom: 24px;
    }
    .stitle{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      margin-top: 45px;
      margin-bottom: 25px;
    }
    .srow{
      font-size: 14px;
      height: 64px;
      width: 100%;
      .scol{
        float: left;
        height: 100%;
        line-height: 64px;
      }
      .scol1{
        width: 180px;
        margin-left: 112px;
        .tips{
          font-size:12px;
          color:#9e9e9e;
          text-align:left;
          line-height: 17px;
          position: relative;
          top: -14px;
        }
      }
      .scol2{
        width: 300px;
        margin-left: 16px;
        input{
          display: block;
          background:#ffffff;
          border:1px solid #cccccc;
          border-radius:2px;
          width:298px;
          height:38px;
          position: relative;
          top: 12px;
          padding-left: 10px;
        }
        textarea{
          display: block;
          background:#ffffff;
          border:1px solid #cccccc;
          border-radius:2px;
          width:298px;
          height:71px;
          position: relative;
          top: 12px;
          padding: 10px;
        }
      }
    }
    .srow.big{
      height: 95px;
    }
    .srow.medium{
      height: 78px;
      textarea{
        height: 54px;
      }
    }
    .sbtn-ok{
      @include btn2_normal();
      @include btn_big();
      height:40px;
      line-height: 40px;
      float: right;
      margin-right: 100px;
    }
    .sbtn-cancel{
      @include btn1_normal();
      @include btn_big();
      height:40px!important;
      line-height: 40px!important;
      float: right;
      margin-right: 49px;
    }
    .sbtn-cancel{
      @include btn1_normal();
    }
    .sbtn-ok:hover{
      @include btn2_hover();
    }
    .sbtn-ok:active{
      @include btn2_click();
    }
    .sbtn-cancel:hover{
      @include btn1_hover();
    }
    .sbtn-cancel:active{
      @include btn1_click();
    }
  }
}

#method-newMethod{
  .modal-dialog {
    width: 700px;
  }
  .modal-content {
    width: 700px;
    height: 355px;
    background:#f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr{
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .hr2{
      background:#dddddd;
      width:100%;
      height:1px;
      margin-bottom: 28px;
    }
    .stitle{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 100%;
      height: 25px;
      line-height: 25px;
      margin-top: 45px;
      margin-bottom: 25px;
    }
    .maintext{
      width: 100%;
      height: 40px;
      margin-top: 48px;
      position: relative;
      .slabel{
        width: 84px;
        height: 40px;
        line-height: 40px;
        float: left;
        margin-left: 150px;
        font-size:14px;
        color:#526479;
      }
      .scontent{
        margin-left: 15px;
        height: 40px;
        width: 302px;
        float: left;
        input{
          display: block;
          background:#ffffff;
          border:1px solid #cccccc;
          border-radius:2px;
          width:300px;
          height:40px;
          padding: 0 10px;
        }
      }
      .errorTips{
        position: absolute;
        left: 250px;
        bottom: -40px;
        width: 100%;
        height: 40px;
        color: red;
        line-height: 40px;
      }
    }
    .btns{
      margin-top: 73px;
      width: 100%;
      height: 40px;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        height:40px;
        line-height: 40px;
        float: right;
        margin-right: 149px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        height:40px!important;
        line-height: 40px!important;
        float: right;
        margin-right: 49px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-submitSuccess{
  .modal-dialog {
    width: 318px;
  }
  .modal-content {
    width: 318px;
    height: 162px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stext{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 100%;
      margin: auto;
      margin-top: 46px;
      line-height: 25px;
    }
    .stext_small{
      font-size:14px;
      color:#414141;
      text-align:center;
      width: 100%;
      margin-top: 18px;
    }
  }
}

#method-submitFail{
  .modal-dialog {
    width: 318px;
  }
  .modal-content {
    width: 318px;
    height: 162px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stext{
      font-size:18px;
      color:#d0021b;
      text-align:center;
      width: 100%;
      margin-top: 26px;
    }
    .stext_small{
      font-size:14px;
      color:#414141;
      text-align:center;
      width: 100%;
      margin-top: 8px;
    }
    .sbtn{
      @include btn1_normal();
      @include btn_big();
      height:40px;
      line-height: 40px;
      margin: auto;
      margin-top: 20px;
    }
    .sbtn:hover{
      @include btn1_hover();
    }
    .sbtn:active{
      @include btn1_click();
    }
  }
}

#method-deleteMethod{
  .modal-dialog {
    width: 400px;
  }
  .modal-content {
    width: 400px;
    height: 214px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stext{
      font-size:18px;
      color:$color1;
      text-align:center;
      width: 342px;
      margin: auto;
      margin-top: 46px;
      height: 50px;
      line-height: 25px;
    }
    .btns{
      margin-top: 24px;
      width: 100%;
      height: 40px;
      text-align: center;
      .sbtn-ok{
        @include btn2_normal();
        @include btn_big();
        height:40px;
        line-height: 40px;
        display: inline-block;
        margin: 0 25px;
      }
      .sbtn-cancel{
        @include btn1_normal();
        @include btn_big();
        height:40px!important;
        line-height: 40px!important;
        display: inline-block;
        margin: 0 25px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}

#method-comfirmSubmit{
  .modal-dialog {
    width: 244px;
  }
  .modal-content {
    width: 244px;
    height: 186px;
    background: #f6f6f6;
    border-radius: $BorderRadius;
    overflow: hidden;
    padding: 0;
    .hr {
      width: 100%;
      height: 4px;
      background-color: $color1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stitle{
      @include contentBlue();
      font-size:14px;
      text-align:center;
      margin-top: 10px;
    }
    .stext{
      @include contentNormal();
      font-size:14px;
      width: 196px;
      height: 100px;
      margin: auto;
      margin-top: 8px;
      line-height: 20px;
      text-align: left;
    }
    .btns{
      margin-top: 10px;
      width: 100%;
      height: 24px;
      text-align: center;
      //padding-right: 24px;
      font-size: 14px;
      .sbtn-ok{
        //background: $color1;
        //border-radius: $BorderRadius;
        //width:50px;
        //height:24px;
        //line-height: 24px;
        //color: white;
        //text-align: center;
        //display: inline-block;
        //margin: 0 10px;
        //cursor: pointer;
        @include btn2_normal();
        @include btn_big();
        display: inline-block;
        margin: 0 5px;
      }
      .sbtn-cancel{
        //border:1px solid $color1;
        //border-radius: $BorderRadius;
        //width:50px;
        //height:24px;
        //line-height: 24px;
        //color: $color1;
        //text-align: center;
        //display: inline-block;
        //margin: 0 0;
        //cursor: pointer;
        @include btn1_normal();
        @include btn_big();
        display: inline-block;
        margin: 0 5px;
      }
      .sbtn-cancel{
        @include btn1_normal();
      }
      .sbtn-ok:hover{
        @include btn2_hover();
      }
      .sbtn-ok:active{
        @include btn2_click();
      }
      .sbtn-cancel:hover{
        @include btn1_hover();
      }
      .sbtn-cancel:active{
        @include btn1_click();
      }
    }
  }
}