<!DOCTYPE html>
<html ng-app="vipApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了——会员管理</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/manageVip/vipItems.js"></script>
</head>
<body ng-controller="itemsCtrl">
    <div class="container-manageVip">
        <div class="vip-top">
            <span class="vip-left">共<span ng-bind="vipUserCount"></span>个会员</span>
            <input type="text" class="vip-right search" placeholder="搜索客户姓名/手机号/证件号">
            <span class="vip-right add-newVip" ng-click="addNewVip()"><img src="../../static/image/vipAdditional.png">新增会员</span>
            <span class="vip-right outPut-excel" ng-click="outPutExcel()"><img src="../../static/image/vipOutput.png">导出</span>
        </div>
        <div class="clearboth"></div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>加入时间</th>
                        <th>姓名</th>
                        <th>手机号</th>
                        <th>证件号</th>
                        <th>邮箱</th>
                        <th>性别</th>
                        <th>生日</th>
                        <th>地区</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dataItems">
                        <td ng-bind="item.createTime.split(' ')[0]"></td>
                        <td ng-bind="item.vipName"></td>
                        <td ng-bind="item.phone"></td>
                        <td ng-bind="item.idCardNum"></td>
                        <td ng-bind="item.email"></td>
                        <td><span ng-if="item.gender === 0">男</span><span ng-if="item.gender === 1">女</span></td>
                        <td ng-bind="item.birthday"></td>
                        <td ng-bind="item.county"></td>
                        <td ng-bind="item.remark"></td>
                        <td><span class="operation opt-modify">修改</span>/<span class="operation opt-remove" ng-click="removeVip()">删除</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()"></pager>
        </div>
    </div>
    <div id="newVipModal" class="modal fade" role="dialog" ng-controller="createVipCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="top-fixed">
                    <span class="dialog-close">&times;</span>
                </div>
                <div class="add-container">
                    <div class="vip-info">
                        <p class="dialog-mainTitle">新增会员</p>
                        <p class="dialog-subTitle">基本信息</p>
                        <div class="vipInfo">
                            <p><span>姓名</span><input ng-model="newVip.name" type="text" minlength="2" maxlength="16" ></p>
                            <p><span>手机号</span><input ng-model="newVip.phone" type="text" minlength="2" maxlength="16" ></p>
                            <p><span>证件号</span><input ng-model="newVip.idCardNum" type="text" minlength="2" maxlength="16" ></p>
                            <table class="single-line">
                            <tr>
                                <td class="gender">
                                    <label>性别</label>
                                    <div class="select1 gender-select">
                                        <span>{{selectedGenderLabel || '-性别-'}}</span>
                                        <div class="select1_options">
                                            <div class="oitem"
                                                 ng-click="changeGender(gender.key, gender.label);$event.stopPropagation();"
                                                 ng-repeat="gender in genderList">{{gender.label}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="birthday">
                                    <label>生日</label><datepicker placeholder="-年 月 日-" format-selected-date="newVip.birthday"></datepicker>
                                </td>
                            </tr>
                            </table>
                            <p><span>地区</span><input type="text" placeholder="-省 市 区-" ></p>
                            <p><span>邮箱</span><input ng-model="email" type="text" minlength="2" maxlength="16" ></p>
                            <p><span>备注</span><textarea ng-model="remark" type="text" placeholder="-请填写描述-" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="dialog-foot">
                    <button class="vip-confirm" ng-click="createVip()">确定</button>
                    <button class="vip-cancel btn-cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div id="removeVipModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="top-fixed">
                    <span class="dialog-close">&times;</span>
                </div>
                <div class="remove-container">
                    删除会员之后不可找回,您确定要删除吗?
                </div>
                <div class="foot-remove">
                    <button class="remove-confirm">确定</button>
                    <button class="remove-cancel btn-cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>