<!DOCTYPE html>
<html ng-app="vipApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了——会员管理</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/manageVip/vip.js"></script>
</head>
<body ng-controller="itemsCtrl">
    <div class="container-manageVip">
        <div class="vip-top">
            <img class="filter-img" ng-click="search()" src="http://static.dingdandao.com/vipSearch.png">
            <span class="vip-left">共<span ng-bind="vipUserCount"></span>个会员</span>
            <input type="text" class="vip-right search" ng-model="$root.searchText" ng-keyup="filterSearch($event)" placeholder="搜索客户姓名/手机号/证件号">
            <span class="vip-right add-newVip" ng-click="addNewVip()"><img src="http://static.dingdandao.com/vipAdditional.png">新增会员</span>
            <span class="vip-right outPut-excel"><a ng-href="{{outPutExcel()}}"><img src="http://static.dingdandao.com/vipOutput.png">导出</a></span>
        </div>
        <div class="clearboth"></div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th style="width: 109px;">加入时间</th>
                        <th style="width: 79px;">姓名</th>
                        <th style="width: 102px;">手机号</th>
                        <th style="width: 186px;">证件号</th>
                        <th style="width: 150px;">邮箱</th>
                        <th style="width: 60px;">性别</th>
                        <th style="width: 127px;">生日</th>
                        <th style="width: 121px;">地区</th>
                        <th style="width: 116px;">备注</th>
                        <th style="width: 99px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dataItems">
                        <td ng-bind="item.createTime.split(' ')[0]"></td>
                        <td ng-bind="item.vipName"></td>
                        <td ng-bind="item.phone"></td>
                        <td>{{item.idCardNum}}<span class="idType" ng-if="item.idCardNum && (item.idCardType || item.idCardType ===0) ">{{getIdCardIcon(item.idCardType)}}</span></td>
                        <td>
                            <p class="tow-line-ellipsis" ng-bind="item.email"></p>
                        </td>
                        <td><span ng-if="item.gender === 0">男</span><span ng-if="item.gender === 1">女</span></td>
                        <td style="text-align: center;padding-left: 0" ng-bind="item.birthday"></td>
                        <td>
                            <p class="tow-line-ellipsis" ng-bind="item.province + item.city + item.county"></p>
                        </td>
                        <td ng-class="{'remark': $index !== 0, 'remark-first': $index === 0}"><p class="tow-line-ellipsis" ng-bind="item.remark"></p>
                            <div ng-if="item.remark!=='' && $index !== 0">{{item.remark}}
                                <span><img src="http://static.dingdandao.com/vip_arrow_down.jpg" alt=""></span>
                            </div>
                            <div ng-if="item.remark!=='' && $index === 0">{{item.remark}}
                                <span><img src="http://static.dingdandao.com/vip_arrow_up.jpg" alt=""></span>
                            </div>
                        </td>
                        <td><span class="operation opt-modify" ng-click="modifyVip(item)">修改</span>/<span class="operation opt-remove" ng-click="removeVipModal(item)">删除</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <pager page-count="getPageCount()" current-page="$root.currentPage" on-page-change="onPageChange()"></pager>
        </div>
    </div>
    <div id="newVipModal" class="modal fade" role="dialog" ng-controller="createVipCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="top-fixed">
                    <span class="dialog-close" ng-click="close()">&times;</span>
                </div>
                <div class="add-container">
                    <div class="vip-info">
                        <p class="dialog-mainTitle" ng-if="!modify">新增会员</p>
                        <p class="dialog-mainTitle" ng-if="modify">修改会员信息</p>
                        <p class="dialog-subTitle">基本信息</p>
                        <div class="vipInfo">
                            <p><span class="newVip"><img ng-if="!modify" src="http://static.dingdandao.com/start.png">姓名</span><input ng-model="newVip.name" ng-if="!modify" type="text" maxlength="16" ><span class="modifyVip" ng-bind="item.vipName" ng-if="modify"></span></p>
                            <span ng-if="!modify && hasSubmit && newVip.name.length === 0" class="tip-name">必填字段</span>
                            <span ng-if="!modify && hasSubmit && newVip.name.length === 1" class="tip-name">格式错误</span>
                            <p><span class="newVip"><img ng-if="!modify" src="http://static.dingdandao.com/start.png">手机号</span><input ng-model="newVip.phone" ng-if="!modify" type="text" maxlength="11" ><span class="modifyVip" ng-bind="item.phone" ng-if="modify"></span></p>
                            <!--<p><span class="newVip">证件号</span><input ng-model="newVip.idCardNum" ng-if="!modify" type="text" minlength="2"  ><input ng-model="item.idCardNum" ng-if="modify" type="text" minlength="2" >-->
                            <span ng-if="!modify && hasSubmit && newVip.phone.length === 0" class="tip-phone">必填字段</span>
                            <span ng-if="!modify && hasSubmit && newVip.phone.length > 0 && newVip.phone.length !== 11" class="tip-phone">格式错误</span>
                            <table class="single-line">
                                <tr>
                                    <td class="identification">
                                        <label>证件号</label>
                                        <div class="select1 idcard-select">
                                            <span ng-if="!modify">{{idCardList[newVip.idCardType].label  || '身份证'}}</span>
                                            <span ng-if="modify">{{idCardList[item.idCardType].label  || '身份证'}}</span>
                                            <div class="select1_options">
                                                <div class="oitem"
                                                     ng-click="changeIdCard(idCard.key, idCard.label);$event.stopPropagation();"
                                                     ng-repeat="idCard in idCardList">{{idCard.label}}
                                                </div>
                                            </div>
                                        </div>
                                        <input ng-model="newVip.idCardNum" ng-if="!modify" type="text" minlength="2" maxlength="18">
                                        <input ng-model="item.idCardNum" ng-if="modify" type="text" minlength="2" maxlength="18" >
                                    </td>
                                </tr>
                                <tr>
                                    <td class="birthday">
                                        <label>生日</label><div ng-if="!modify" style="display: inline-block;"><datepicker placeholder="-年 月 日-" format-selected-date="newVip.birthday"></datepicker></div><div ng-if="modify" style="display: inline-block;"><datepicker placeholder="-年 月 日-" format-selected-date="item.birthday"></datepicker></div>
                                    </td>
                                    <td class="gender">
                                        <label>性别</label>
                                        <div class="select1 gender-select">
                                            <span ng-style="!genderList[newVip.gender] ? {color:'#ccc'} : ''" ng-if="!modify">{{genderList[newVip.gender].label  || '-性别-'}}</span>
                                            <span ng-style="!genderList[item.gender] ? {color:'#ccc'} : ''" ng-if="modify">{{genderList[item.gender].label  || '-性别-'}}</span>
                                            <div class="select1_options">
                                                <div class="oitem"
                                                     ng-click="changeGender(gender.key, gender.label);$event.stopPropagation();"
                                                     ng-repeat="gender in genderList">{{gender.label}}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!--<p><span class="newVip">地区</span><input type="text" placeholder="-省 市 区-" ></p>-->

                            <div class="formrow clearfloat">
                                <div class="slabel">地区</div>
                                <div class="scontent">
                                    <div class="selectBox small">
                                        <div ng-style="!item.province ? {color:'#ccc'}: ''" class="item selected" style="border-right: none;" ng-if="modify">
                                            {{ item.province || '-省'}}
                                        </div>
                                        <div ng-style="!newVip.province ? {color:'#ccc'}: ''" class="item selected" style="border-right: none;" ng-if="!modify">
                                            {{ newVip.province || '-省'}}
                                        </div>
                                        <div class="toselect-container toselect-first">
                                            <div class="item toselect" ng-click="selectProvince($index)" ng-repeat="n in provinceItems">{{n}}</div>
                                        </div>
                                    </div>
                                    <div class="selectBox small">
                                        <div ng-style="!item.city ? {color:'#ccc'}: ''" class="item selected" style="border-right: none; border-left: none;" ng-if="modify">
                                            {{ item.city || '市'}}
                                        </div>
                                        <div ng-style="!newVip.city ? {color:'#ccc'}: ''" class="item selected" style="border-right: none; border-left: none;" ng-if="!modify">
                                            {{ newVip.city || '市'}}
                                        </div>
                                        <div class="toselect-container">
                                            <div class="item toselect" ng-click="selectCity($index)" ng-repeat="n in cityItems">{{n}}</div>
                                        </div>
                                    </div>
                                    <div class="selectBox small">
                                        <div ng-style="!item.county ? {color:'#ccc'}: ''" class="item selected" style="border-left: none;" ng-if="modify">
                                            {{ item.county || '区-'}}
                                            <span class="triangle"></span>
                                        </div>
                                        <div ng-style="!newVip.county ? {color:'#ccc'}: ''" class="item selected" style="border-left: none;" ng-if="!modify">
                                            {{ newVip.county || '区-'}}
                                            <span class="triangle"></span>
                                        </div>
                                        <div class="toselect-container toselect-last">
                                            <div class="item toselect toselect-last-item" ng-click="selectDistrict($index)" ng-repeat="n in districtItems">{{n}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <p><span class="newVip">邮箱</span><input ng-if="!modify" ng-model="newVip.email" type="text" minlength="2" maxlength="50" ><input ng-model="item.email" ng-if="modify" type="text" minlength="2" maxlength="50">
                            </p>
                            <span ng-if="newVip.email && !mailFilter.test(newVip.email) && hasSubmit && !modify" class="tip-email">邮箱格式错误</span>
                            <span ng-if="item.email && !mailFilter.test(item.email) && hasSubmit && modify" class="tip-email-modify">邮箱格式错误</span>
                            <p><span class="newVip">备注</span><textarea ng-if="!modify" ng-model="newVip.remark" type="text" placeholder="-请填写描述-" maxlength="140" ></textarea><textarea ng-model="item.remark" ng-if="modify" type="text" placeholder="-请填写描述-" maxlength="140" ></textarea></p>
                        </div>
                    </div>
                </div>
                <div class="dialog-foot">
                    <button ng-if="!modify" class="vip-confirm" ng-click="createVip()">确定</button>
                    <button ng-if="modify" class="vip-confirm" ng-click="editVip()">确定</button>
                    <button class="vip-cancel btn-cancel" ng-click="close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div id="removeVipModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="top-fixed">
                    <span class="dialog-close">&times;</span>
                </div>
                <div class="remove-container">
                    删除会员之后不可找回,您确定要删除吗?
                </div>
                <div class="foot-remove">
                    <button class="remove-confirm" ng-click="removeVip()">确定</button>
                    <button class="remove-cancel btn-cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>