{
  "presets": [
    ["latest",
      {
        "modules": true
      }
    ],
    "stage-0"
  ],
  "plugins": ["transform-vue-jsx",["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }
  ]]]
}