/node_modules/*
/bower_components/*
/.idea/*
/.sass-cache/*
/static/css/main.min.css
/static/css/orders.min.css
/static/css/dist/*
/static/css/*.map
/static/js/app/dist/*
/*.war
/build/*
/projectFilesBackup/*
/rev/*
gulp-ruby-sass-0
.DS_Store
npm-debug.log*
/.happypack/*
/.vscode/*
/view/home/
/login.html
yarn-error.log
*.zip