<div class="createRoom">
  <div class="left">
    <form>
      <p>新增房型</p>
      <p>基本信息</p>
      <label for="roomName">房型名称</label>
      <input id="roomName" type="text" placeholder="用于展示给客户" />
      <label for="shortName">简称</label>
      <input type="text" id="shortName" placeholder="用于自己管理" />
      <label for="price">价格</label>
      <input type="text" id="price" placeholder="请填写纯数字 /">
      <p>可以在房价管理中，管理每天的房价，网络价和零售价默认一致</p>
      <label for="population">可容纳人数</label>
      <input type="text" id="population" placeholder="请填写纯数字" />
      <label for="category">单位</label>
      <input type="text" id="category" placeholder="请填写单位" />
      <label for="quantity">默认房间数</label>
      <input type="text" id="quantity" placeholder="请填写纯数字" />
      <p>可以在房态管理中，管理每天的房间库存</p>
    </form>
  </div>
  <div class="line"></div>
  <div class="mid">
    <span>管理子类</span>
    <div ng-controller="modalCtrl" class="create" ng-click="open('view/category/createRoom.html', 'w1130')">
      <img src="static/image/icon_xinjian.png" alt="新建">
      <span>新建子类</span>
    </div>
  </div>
  <div class="border-top-4px"></div>
  <div class="operate">
    <div class="first">
      <div class="leftOperate">
        <img src="static/image/icon_bianjijibenxinxi.png" alt="">
        <p>编辑信息</p>
      </div>
      <div class="rightOperate">
        <img src="static/image/icon_shanchu.png" alt="">
        <p>删除</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn-cancel">取消修改</button>
    <button class="btn-ok">确认新增</button>
  </div>
</div>
