<div class="subclassManagement">
  <div class="mid">
    <span>管理子类</span>
    <div ng-controller="modalCtrl" class="create" ng-click="open('view/category/createRoom.html', 'w1130')">
      <img src="static/image/icon_xinjian.png" alt="新建">
      <span>新建子类</span>
    </div>
  </div>
  <div class="border-top-4px"></div>
  <div class="operate">
    <div class="first">
      <div class="leftOperate">
        <img src="static/image/icon_bianjijibenxinxi.png" alt="">
        <p>编辑信息</p>
      </div>
      <div class="rightOperate">
        <img src="static/image/icon_shanchu.png" alt="">
        <p>删除</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn-cancel">取消修改</button>
    <button class="btn-ok">确认修改</button>
  </div>
</div>