.inventoryGrid {
  tr.subclass {
    height: auto;
    background-color: #178ce6;
    color: #FFF;
    td {
      border: 1px #3E79BF solid;
    }
    div{
      line-height: 34px;
    }
    div.notsale{  }
    div.sale{ background: #50E3C2; opacity: 0.9; }
    div.shut{ background: #1D4C83; opacity: 0.7; }
    div.reserve{ background: #D178D2; opacity: 0.7; }
    div.fix{ background: #DE6060; opacity: 0.7; }
    div.stop{ background: #A6A6A6; opacity: 0.7; }
    td:nth-child(even) {
      background-color: #488CDC;
    }
  }
  .roomitem.selected{
    border: solid thin white;
  }
  .statusitem.selected{
    border: solid thin white;
  }
}

#delPatch{
  .title{
    height: 44px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 31px;
    color: #178ce6;
  }
  .tips{
    width: 70px;
    height: 20px;
    color: #178ce6;
    font-size: 14px;
    line-height: 20px;
    margin-top: 29px;
    margin-left: 20px;
  }
  .monthPick{
    width: 767px;
    height: 44px;
    margin-top: 13px;
    margin-left: 20px;
    .month{
      font-size: 31px;
      line-height: 44px;
      color: #178ce6;
      width: 100px;
      float: left;
    }
    .pickers{
      float: right;
      position: relative;
      top: 6px;
      button{
        width: 69px;
        height: 31px;
        border-radius: 5px;
        border: 1px #178ce6 solid;
        background-color: #fff;
        color: #178ce6;
        font-size: 12px;
        margin: 0 13px;
        cursor: pointer;
      }
    }
  }
  .patchGrid {
    width: 767px;
    border-top:4px solid #178ce6;
    margin-top: 11px;
    margin-left: 20px;
    float: left;
    table {
      border-collapse: collapse;
      th {
        text-align: center;
        height: 49px;
        font-weight: bold;
        width: 110px;
        background-color: #F7F7F7;
      }
      tr{
        height: 109px;
        td {
          color: white;
          font-size: 12px;
          text-align: center;
          border: 1px #979797 solid;
          p{
            line-height: 25px;
          }
        }
        td.selected{ box-shadow: 0 0 0 1px white inset; }
        td.empty{background: #dddddd;}
        td.notsale{background: #178ce6;}
        td.sale{background: #50E3C2; opacity: 0.9;}
        td.shut{background: #1D4C83; opacity: 0.7;}
      }
      thead tr{
        height: 49px;
      }
    }
  }
  .operate{
    margin-top: 10px;
  }
  .footer{
    margin-top: 37px;
  }
}