<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了-会员设置</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dist/main.min.css">
    <link rel="stylesheet" href="/static/css/dist/setting.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/manageVip/setting.js"></script>
</head>
<body>
    <div class="vip-container">
        <ul class="restaurant-head-nav" style="margin-top: 20px">
            <li>
                <a href="/view/vip/vip.html">会员列表</a>
            </li>
            <li>
                <a class="active"  href="/view/vip/setting.html">会员设置</a>
            </li>
        </ul>
        <div style="margin-top: 23px" class="clearfix" v-if="settings && settings.length > 0">
            <i>会员等级由低到高自动升级（最多可创建5个等级）</i>
            <i>最多可创建5个等级</i>
            <span class="help-button" data-toggle="modal" data-target="#helpModal">帮助</span>
            <button v-if="settings && settings.length < 5" class="dd-btn dd-btn-primary" style="float: right" @click="openCreate">新增</button>
            <div style="margin-top:12px;box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);">
                <dd-Table :columns="columns" :data-source="settings"></dd-Table>
            </div>
        </div>

        <div style="text-align: center; margin-top: 87px" v-if="settings && settings.length === 0">
            <img src="//static.dingdandao.com/ordersManage_noOrders.png" alt="">
            <p style="margin: 10px 0 20px"><i>您目前还没有会员体系</i><span class="help-button" data-toggle="modal" data-target="#helpModal">&nbsp;&nbsp;帮助</span></p>
            <button class="dd-btn dd-btn-primary" data-toggle="modal" data-target="#system">创建会员体系</button>
        </div>
        <div class="modal fade" role="dialog" id="helpModal">
            <div class="modal-dialog" style="width: 632px">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h2 style="border-bottom: 1px solid #d4d4d4; margin-bottom: 15px;height: 40px;line-height: 40px">帮助</h2>
                    <div style="font-size: 12px">
                        <p style="margin-bottom: 5px">1、 会员系统如何使用？</p>
                        <p>
                            会员系统提供自动升级与不自动升级两种会员等级方案，首先请根据营业情况和发展规划设计好会员级别、升级条件（选择自动升级则需要填写升级条件）与会员权益。然后可以手动添加会员，也可以让客户通过会员注册网站注册成为会员。客户成为会员之后，通过订单来了系统创建订单时，会员客户将拥有相应的会员折扣，并在订单结束时会累计该会员的消费金额。如果选择自动升级，则当会员累计消费金额达到预定的升级条件时将会自动升级为下一等级的会员。
                        </p>
                        <br>
                        <p style="margin-bottom: 5px">
                            2、会员的累计消费金额包含会员在系统中所有项目的消费吗？
                        </p>
                        <p>
                            自动升级的情况下，管理者可以在会员等级设置中选择需要累计的项目，并且可以选择需要给予会员优惠的项目；
                            非自动升级的情况下，则默认累计所有的项目消费，但仍然可以选择需要给予会员优惠的项目。
                        </p>
                        <br>
                        <p style="margin-bottom: 5px">
                            3、 会员等级设置的更改（新增、删除、修改）对已有的会员数据会带来什么影响？
                        </p>
                        <p>
                            会员等级设置更改之后，已有的会员数据会根据最新的设置进行自动更新。如果选择自动升级，可能会导致会员等级的上升、下降或者不变。具体说明如下：
                            （1）删除会员等级，可能会导致一部分会员的等级下降为下一等级；<br>
                            （2）新增、修改会员等级设置，可能会导致部分会员等级上升，但是不会自动降低会员的等级；<br>
                            （3）已有会员的累计消费金额不受影响，并在最新的会员规则下继续累计、升级。<br>
                        </p>
                        <br>
                        <p style="margin-bottom: 5px">
                            4、 会员等级设置的更改（新增、删除、修改）或会员数据的更新（如：会员升级）对已有的订单会带来什么影响？
                        </p>
                        <p>
                            会员等级设置更改或会员数据更新之后，已有的订单（包括已预订、进行中、已结束的订单）不受影响，将保留原有的会员信息与会员折扣。只有新创建的订单，才会按照新的等级设置和新的会员等级进行消费金额累计与会员折扣。
                        </p>
                        <br>
                        <p style="margin-bottom: 5px">
                            5、 会员订单如何进行优惠？又如何累计消费金额？
                        </p>
                        <p>
                            订单创建时，系统根据输入的客户信息自动识别会员，符合规定的会员将在订单中享受折扣，会员与折扣信息会保存在订单中，直至订单结束。订单结束后，自动将实际消费金额累计到会员数据中。<br>
                            具体说明如下：<br>
                            （1）会员订单一旦创建，将不可更改客户信息。非会员订单创建后，即使更改客户信息，也不能识别为会员，不享受会员折扣，只能重新创建订单；<br>
                            （2）销售下单的订单，不参与会员消费金额累计与会员折扣；<br>
                            （3）微官网的订单，参与会员消费金额累计，但暂时没有会员折扣；<br>
                        </p>
                        <br>
                        <p style="margin-bottom: 5px">
                            6、 会员的等级可以更改吗？
                        </p>
                        <p>
                            如果选择自动升级，则新增会员时可以设置为某个等级，但添加之后不可更改；<br>
                            如果选择非自动升级，则可以随时更改会员等级。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="settingModal">
            <div class="modal-dialog"  style="width: 486px">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h2 v-if="!id" style="margin-bottom: 15px;height: 40px;line-height: 40px">添加会员等级</h2>
                    <h2 v-if="id" style="margin-bottom: 15px;height: 40px;line-height: 40px">编辑会员等级</h2>
                    <div class="form-row">
                        <label for="levelName">会员等级名称：</label>
                        <input id="levelName" maxlength="8" v-model="levelName" style="width: 208px" class="dd-input" type="text">
                    </div>
                    <div v-if="autoUpgrade == 1" class="form-row">
                        <label for="thresholdFee">升级条件：</label>
                        <span>消费金额满</span>
                        <input id="thresholdFee" v-model="thresholdFee" maxlength="10" class="dd-input" style="width: 110px;margin: 0 8px" type="text">
                        <span>元</span>
                    </div>
                    <div style="display: flex" v-if="autoUpgrade == 1" class="form-row">
                        <label >消费累计项目：</label>
                        <div style="flex: 1">
                            <span>{{consume.map(i => i.nodeName).join('、')}}</span>
                            <span @click="openSelectNode('consume', consume)" class="select-button">选择项目</span>
                        </div>
                    </div>
                    <i class="form-row" style="font-size: 12px">成为会员后，在【消费业态】中累计消费达到【升级条件】后自动升级为该级别会员</i>
                    <div class="line"></div>
                    <div class="form-row" style="display: flex">
                        <label>优惠折扣：</label>
                        <div>
                            <div style="margin-bottom: 3px" v-for="item in discount">
                                <span style="display: inline-block;width: 132px">{{item.nodeName}}</span>
                                <input style="width: 56px;" type="text" class="dd-input" v-model="item.discount">
                                <i style="margin: 0 16px 0 8px">折</i>
                                <img style="cursor: pointer" src="/static/image/modal/room_modal_delete.png" alt="" @click="deleteNode(item)">
                            </div>
                            <div>
                                <span @click="openSelectNode('discount', discount)" class="select-button">选择项目</span>
                                <small style="margin-left: 76px" v-if="discount.length > 0"><i>请输入0.1-9.9之间的数字</i></small>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 105px">
                        <button class="dd-btn dd-btn-primary dd-btn-sm" @click="createLevel">确定</button>
                        <button class="dd-btn dd-btn-ghost dd-btn-sm" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="system">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 496px">
                    <h2 style="margin-bottom: 24px">选择会员体系</h2>
                    <div style="margin-left: 23px">
                        <div style="margin-bottom: 22px">
                            <input type="radio" class="dd-radio" name="system" v-model="autoUpgrade" value="1">
                            <span>自动升级体系</span>
                            <p style="margin-left: 21px"><i><small>会员根据自身的消费累计金额，在达到一定的升级条件之后自动进行等级升级</small></i></p>
                        </div>
                        <div style="margin-bottom: 22px">
                            <input type="radio" class="dd-radio" name="system" v-model="autoUpgrade" value="0">
                            <span>非自动升级体系</span>
                            <p style="margin-left: 21px"><i><small>会员的等级需要进行手动编辑调整</small></i></p>
                        </div>
                        <div>
                            <button @click="selectSystem" class="dd-btn dd-btn-sm dd-btn-primary">下一步</button>
                            <button class="dd-btn dd-btn-sm dd-btn-ghost" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="selectModal">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h2 style="margin-bottom: 21px">{{type === 'consume' ? '选择消费累计项目' : '选择优惠项目'}}</h2>
                <div style="padding-left: 21px">
                    <div class="select-category"><input type="checkbox" class="dd-checkbox" v-model="all"><span>全部</span></div>
                    <div class="select-category"><input type="checkbox" class="dd-checkbox" v-model="room"><span>住宿</span></div>
                    <div class="select-category">
                        <span class="select-category-name"><input type="checkbox" class="dd-checkbox" v-model="food">餐饮</span>
                        <span class="select-category-nodes">
                            <span class="select-category-node" v-for="node in restNodeList"><input v-model="node.selected" type="checkbox" class="dd-checkbox">{{node.nodeName}}</span>
                        </span>
                    </div>
                    <div class="select-category">
                    <span class="select-category-name">
                        <input type="checkbox" class="dd-checkbox" v-model="et">娱乐
                    </span>
                        <span class="select-category-nodes">
                        <span class="select-category-node" v-for="node in enterNodeList"><input v-model="node.selected" type="checkbox" class="dd-checkbox">{{node.nodeName}}</span>
                    </span>
                    </div>
                    <div class="select-category"><input type="checkbox" class="dd-checkbox" v-model="shop"><span>商超</span></div>
                    <div>
                        <button class="dd-btn dd-btn-primary dd-btn-sm" @click="confirmSelect">确定</button>
                        <button class="dd-btn dd-btn-ghost dd-btn-sm" @click="close">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>