<!DOCTYPE html>
<html lang="en" xmlns:v-on="//www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>订单来了——餐厅管理</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dist/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/restaurant/restaurant.js"></script>
</head>
<body>
    <div class="mainContainer clearfloat">
        <div class="restaurant-container">
            <div class="restaurant-head clearfloat">
                <span>餐厅列表</span><span style="font-size: 12px">（点击菜品和桌子相关数字可以查看详情）</span>
                <span class="create-restaurant" v-on:click="openCreateDialog">新增餐厅</span>
            </div>
            <div class="restaurant-box">
                <table class="restaurant-table dd-table">
                    <thead>
                    <tr>
                        <th>餐厅名称</th>
                        <th style="width: 60px;">菜品</th>
                        <th style="width: 60px;">桌子</th>
                        <th style="width: 105px;position: relative">
                            开启扫码下单<img src="//static.dingdandao.com/eluyun/EDE0105F-5118-47DA-8648-DE0021AF4558@1x.png" alt="" class="imgss">
                            <p class="remindWords" style="display:none;">
                                1、开启扫码下单后，客户可以通过微信扫描该餐厅的桌位二维码进行点菜、付款。<br/>2、您可以进入桌子列表管理和下载桌位二维码。
                            </p>
                        </th>
                        <th>扫码下单公告</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="restaurant in restaurants" track-by="restId">
                        <td>{{restaurant.restName}}</td>
                        <td><a :href="`/view/settings/business/restaurant/dishes.html?restId=${restaurant.restId}`">{{restaurant.dishesSum}}</a></td>
                        <td><a :href="`/view/settings/business/restaurant/table.html?restId=${restaurant.restId}`">{{restaurant.boardSum}}</a></td>
                        <td><span class="code-btn back-{{restaurant.isOpenCaterScan === 1 ? 'open':'close'}}" @click="toggleStatus(restaurant)"></span></td>
                        <td class="rest-announcement" :class="[restaurant.isOpenCaterScan === 1 ? 'bkWord':'gyWord']" :title="restaurant.caterScanAnnouncement">{{restaurant.caterScanAnnouncement}}</td>
                        <td>
                            <span v-on:click="openSettingDialog(restaurant)">其他设置</span>/<span v-on:click="openEditDialog(restaurant)">修改</span>/<span v-on:click="openDeleteDialog(restaurant.restId)">删除</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="restaurantDialog">
        <div class="modal-dialog modal-w300" style="width:380px;">
            <div class="modal-content clearfloat v-modal">
                <p class="rest-title">
                    {{status === 'create' ? '新增餐厅' : '修改餐厅信息'}}
                    <span @click="close"><img src="//static.dingdandao.com/eluyunCC08FD01-AA5B-44BF-B550-106AE72E7D34@1x.png" alt=""></span>
                </p>
                <p class="sub-line"></p>
                <label for="restaurantName">餐厅名称<img src="//static.dingdandao.com/eluyunBC267416-CA82-43A8-9F4E-8E47FC3FE798@1x.png" alt=""></label>
                <input type="text" id="restaurantName" v-model="restaurantName" maxlength="20" placeholder="请输入餐厅名称">
                <p class="rest-tips">
                    <span v-if="submitted && restaurantName === ''">↑ 必填字段</span>
                </p>
                <label for="restaurantNotice" style="vertical-align: top">扫码下单公告</label>
                <textarea v-model="resturantNotice" name="扫码下单公告" id="restaurantNotice" placeholder="请输入扫码下单公告">{{resturantNotice}}</textarea>
                <p class="sub-num" v-text="`${resturantNotice.length}/140`" :style="{color: resturantNotice.length > 140 ? '#f24949' : '#999'}"></p>
                <div class="v-btn-group">
                    <button class="v-btn v-blue-btn" v-if="status === 'create'" v-on:click="createRestaurant">确定</button>
                    <button class="v-btn v-blue-btn" v-if="status === 'edit'" v-on:click="editRestaurant">确定</button>
                    <button class="v-btn v-white-btn" v-on:click="cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="settingDialog">
        <div class="modal-dialog" style="width:437px;">
            <div class="modal-content clearfloat v-modal">
                <button type="button" class="close" @click="close"><span>&times;</span></button>
                <p class="rest-title" style="margin-bottom: 18px;">
                    其他设置
                </p>
                <p class="sub-line"></p>
                <div style="display: flex;margin-bottom: 20px   ">
                    <span class="setting-label">快捷折扣：</span>
                    <div>
                        <p v-for="discount in discounts" v-if="!discount.deleted">
                            <span style="width: 130px;display: inline-block">{{discount.description}}</span>
                            <span style="width: 78px;margin: 0 20px;display: inline-block">{{discount.discount}}折</span>
                            <img src="/static/image/modal/room_modal_delete.png" @click="remove(discount)" style="cursor: pointer">
                        </p>
                        <div v-for="discount in newDiscounts" style="margin-bottom: 10px">
                            <input class="dd-input" type="text" placeholder="折扣名称" v-model="discount.description" maxlength="8" style="width: 130px">
                            <span style="margin: 0 20px"><input class="dd-input" type="text" placeholder="优惠" v-model="discount.discount" maxlength="3" style="width: 60px;margin-right: 4px">折</span>
                            <img src="/static/image/modal/room_modal_delete.png" @click="remove(discount)" style="cursor: pointer">
                        </div>
                        <p style="margin: -5px 0 10px;font-size: 12px" v-if="newDiscounts.length > 0">注：请输入0.1~9.9之间的数字</p>
                        <span v-if="newDiscounts.length+discounts.length<10" @click="addDiscount" style="cursor: pointer"><img src="//static.dingdandao.com/vipAdditional.png" style="margin-right: 4px">新增折扣</span>
                    </div>
                </div>
                <p class="sub-line"></p>
                <div>
                    <div>
                        <span class="setting-label">零头处理：</span>
                        <input name="oddType" type="radio" class="dd-radio" id="zero-none" value="0" v-model="oddType"><label for="zero-none">不处理</label>
                        <input name="oddType" type="radio" class="dd-radio" id="zero-round" value="1" v-model="oddType"><label for="zero-round">四舍五入</label>
                        <input name="oddType" type="radio" class="dd-radio" id="zero-fixed" value="2" v-model="oddType"><label for="zero-fixed">元后抹零</label>
                    </div>
                    <div v-if="oddType == 1 || oddType == 2">
                        <span class="setting-label">精确到：</span>
                        <input name="unit" type="radio" class="dd-radio" id="zero-jiao" value="1" v-model="unit"><label for="zero-jiao">角</label>
                        <input name="unit" type="radio" class="dd-radio" id="zero-yuan" value="2" v-model="unit"><label for="zero-yuan">元</label>
                        <input name="unit" type="radio" class="dd-radio" id="zero-ten" value="3" v-model="unit"><label for="zero-ten">十元</label>
                    </div>
                </div>
                <div class="v-btn-group" style="padding-left: 60px">
                    <button class="v-btn v-blue-btn" @click="confirm">确定</button>
                    <button class="v-btn v-white-btn" @click="close">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>