@import '../../../../node_modules/dd-common-css/src/variables';

.ordersManage-mainContainer {
  width: 1129px;
  margin: 0 auto;
  position: relative;
  top: 68px;

  .topFilters-container {
    width: 100%;
    height: 40px;
  }

  .middleTable-container th {
    font-weight: bold;
  }

  .footer-container {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fafafa;
    box-shadow: $table-box-shadow;
    padding: 0 30px;
    margin-bottom: $spacer;
  }

  .noOrders-tr > td {
    padding: 0;
  }

  .noOrders-container {
    background: $table-bg;
    height: 656px;
    text-align: center;
    font-size: $font-size-lg;
    color: $gary-daker;
    img {
      margin-top: 150px;
    }
    p {
      margin-top: 40px;
    }
  }
}