.salesite-info-tips{
  font-size:18px;
  color:#5d6f82;
  line-height:26px;
  text-align:left;
  margin-top: 79px;
}

.salesite-info-infobox{
  background:#f6f6f6;
  box-shadow:0px 2px 4px 0px #b4c1ce;
  border-radius:2px;
  width: 73%;
  height:574px;
  margin-top: 50px;
  margin-bottom: 66px;
  font-size: 14px;
  color:#48596e;
  overflow-x: hidden;
  position: relative;
  .hr{
    background:#3d83e1;
    width:100%;
    height:6px;
  }
  .sbtn{
    background:#4a90e2;
    border-radius:2px;
    width:100px;
    height:40px;
    line-height:40px;
    float: left;
    font-size:14px;
    color:#ffffff;
    text-align:center;
    cursor: pointer;
  }
  .sbtn.save{
    position: absolute;
    right: 11.25%;
    bottom: 36px;
  }
  .sbtn:hover{
    background: #3a71b0;
  }
  .sbtn:focus{
    background: #3a71b0;
  }
  .formrow{
    width: 100%;
    height: 40px;
    margin-top: 24px;
    .slabel{
      width: 25%;
      height: 40px;
      line-height: 40px;
      float: left;
      text-align: right;
      padding-right: 15px;
    }
    .scontent{
      width: 75%;
      height: 40px;
      line-height: 40px;
      float: left;
      text-align: left;
      .selectBox{
        display: block;
        width: 85%;
        .item{
          width: 100%;
          height: 40px;
          background:#ffffff;
          padding-left: 8px;
        }
        .item.selected{
          position: relative;
          border:1px solid #cccccc;
          border-radius:2px;
          .triangle{
            width:0;
            height:0;
            border-left:4px solid transparent;
            border-right:4px solid transparent;
            border-top:6px solid #cccccc;
            position: absolute;
            right: 8px;
            top: 16px;
          }
        }
        .toselect-container{
          display: none;
          max-height: 300px;
          overflow-y: auto;
          position: relative;
          z-index: 2;
          margin-top: -1px;
        }
        .item.toselect{
          border-left:1px solid #cccccc;
          border-right:1px solid #cccccc;
        }
        .item.toselect:last-child{
          border-bottom:1px solid #cccccc;
        }
        .item.toselect:hover{
          background:#edeef4;
        }
      }
      .selectBox.small{
        width: 27%;
        margin-right: 2%;
        float: left;
      }
      input{
        display: block;
        width: 85%;
        height: 40px;
        background:#ffffff;
        border:1px solid #cccccc;
        border-radius:2px;
        padding-left: 8px;
        padding-right: 8px;
      }
      .thumbpic{
        width: 200px;
        height: 100px;
        background: white;
        float: left;
        margin-right: 15px;
        img{
          width: 100%;
          height: 100%;
        }
        .cross{
          width: 100%;
          position: relative;
          height: 1px;
          .item1, .item2{
            width: 111.8%;
            height: 1px;
            background: green;
            position: absolute;
            left: 0;
            top: 0;
          }
          .item1{
            transform:rotate(20deg);
          }
          .item2{
            transform:rotate(-20deg);
          }
        }
      }
    }
  }
}