
  <div class="modal-dialog modal-w1130">
    <div class="modal-content clearfloat">
      <div class="createRoom clearfloat">
        <div class="inputFiled rightBorder">
          <h1>新增房型</h1>
          <h2>基本信息</h2>
          <ul>
            <li><label for="roomName">房型名称</label>
              <input id="roomName" type="text" placeholder="用于展示给客户" /></li>
            <li><label for="shortName">简称</label>
              <input type="text" id="shortName" placeholder="用于自己管理" /></li>
            <li><label for="price">价格</label>
              <input type="text" id="price" placeholder="请填写纯数字" />
              <p>可以在房价管理中，管理每天的房价，网络价和零售价默认一致</p></li>
            <li><label for="population">可容纳人数</label>
              <input type="text" id="population" placeholder="请填写纯数字" /></li>
            <li><label for="category">单位</label>
              <input type="text" id="category" placeholder="请填写单位" /></li>
            <li><label for="quantity">默认房间数</label>
              <input type="text" id="quantity" placeholder="请填写纯数字" />
              <p>可以在房态管理中，管理每天的房间库存</p></li>
          </ul>
        </div>
        <div class="footer">
          <button class="btn-cancel">取消新增</button>
          <button class="btn-ok">确认新增</button>
        </div>
      </div>
    </div>
  </div>