<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>订单来了——排队网站设置</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/linesite/operation.js"></script>
</head>
<body>
<div class="mainContainer clearfloat">
    <div class="content clearfloat">
        <div class="codesite-operation-success">
            <div class="successbox">
                <div class="hr"></div>
                <div class="formrow website">
                    <div class="clabel">网址：</div>
                    <div class="ctext"><a id="campUrl" :href="linesiteUrl" v-text="linesiteUrl"></a></div>
                    <div class="cbtn" @click="copyText">复制网址</div>
                    <div class="copy-success"><span class="copy-success-img"><img src="http://static.dingdandao.com/success-copy.png" alt=""></span><span class="copy-success-tip">复制成功!</span></div>
                </div>
                <div class="formrow erweima">
                    <div class="clabel">二维码:</div>
                    <img class="erweimapic" alt="营地二维码" :src="linesiteQrCode"/>
                    <div class="c-btn"><a :href="linesiteQrCode" download>下载二维码</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>