.detail-head {
  font-size: 12px;
  color: #999999;
  text-align: left;
}
.detail-content {
  background: #fafafa;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
  width: 400px;
  height: 560px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.detail-tips {
  background: #178ce6;
  width: 400px;
  height: 4px;
}
.detail-remind {
  font-size: 12px;
  color: #999999;
  text-align: left;
}
.detail-add {
  font-size:14px;
  color:#178ce6;
  text-align:center;
}
.detail-message {
  background: #ffffff;
  border-radius: 1.2px;
  width: 360px;
  float: left;
  margin-top: 6px;
}