.modal-content {
    overflow: hidden;
}
.modal-w1130 {
    width: 1130px;
}

.btn-ok {
    background-color: #4A90E2;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4A90E2;
    width: 163px;
    height: 43px;
    text-align: center;
    line-height: 22px;
}

.btn-cancel {
    background-color: #FFF;
    color: #4A90E2;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4A90E2;
    width: 163px;
    height: 43px;
    text-align: center;
    line-height: 22px;
}

.border-top-4px {
    border-top: 4px solid #4A90E2;
}
