// .el-picker-panel{
//  position: relative!important;
// top: 50%!important;
// left: 50%!important;
// -webkit-transform: translate(-50%,-50%);
//         transform: translate(-50%,-50%);
//         transform-origin: inherit!important;
// }
.DatePickerAbsorct {
    // position: relative!important;
    z-index: 3001!important;
}
.el-date-editor--datetimerange{
    input {
        height: 24px;
        border-radius: 2px;
        padding: 3px 8px;
        font-size: 14px;
        color: #666;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        transition: border .2s ease-in-out;
        border-radius: 2px;
    }
}
// 日历的css
.modal-w1130 {
    width: 1130px;
}

.modal-w1050 {
    width: 1050px;
}

.modal-w626 {
    width: 626px;
}

.modal-w506 {
    width: 506px;
}

.modal-w485 {
    width: 485px;
}

.modal-w392 {
    width: 392px;
}

.modal-w300 {
    width: 300px;
}

.modal-w345 {
    width: 345px;
}

.modal-dialog {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal {
    text-align: center;
    overflow: auto !important;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-content {
    padding: 30px;
}

.btn-ok {
    background-color: #4A90E2;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4A90E2;
    width: 163px;
    height: 43px;
    text-align: center;
    line-height: 22px;
}

.btn-cancel {
    background-color: #FFF;
    color: #4A90E2;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4A90E2;
    width: 163px;
    height: 43px;
    text-align: center;
    line-height: 22px;
}

.footer .cancel {
    background-color: #FFF;
    color: #4A90E2;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4A90E2;
    width: 163px;
    height: 43px;
    text-align: center;
    line-height: 22px;
}

.border-top-4px {
    border-top: 4px solid #4A90E2;
}

.operate {
    color: #4A90E2;
    width: 176px;
    float: right;
    margin-top: 40px;
    img {
        margin-bottom: 8px;
    }
    .first {
        border-top: solid 4px #4A90E2;
        padding-bottom: 30px;
        overflow: hidden;
        height: 120px;
    }
    #roomCategoryFirst {
        height: 203px;
    }
    .second {
        border-top: solid 2px #4A90E2;
        padding-bottom: 30px;
        overflow: hidden;
    }
    .operateItem {
        width: 88px;
        text-align: center;
        float: left;
        margin-top: 30px;
        font-size: 12px;
        .putaway {
            font-size: 12px;
            color: #B0B0B0;
            text-align: center;
        }
    }
}

.cursor {
    cursor: pointer;
}

.clickDiv {
    cursor: pointer;
    display: inline-block;
    p {
        cursor: pointer;
    }
}

.myGrid {
    width: 900px;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

.hide {
    display: none;
}

.grid {
    .head {
        background-color: #F7F7F7;
        height: 49px;
        th {
            font-weight: bold;
            padding-left: 17px;
            border-bottom: 1px solid #D9D9D9;
        }
    }
    .mainClass {
        height: 59px;
        cursor: pointer;
        td {
            padding-left: 17px;
            border-bottom: 1px solid #D9D9D9;
            line-height: 58px;
        }
    }
}

.mainActive {
    border: 2px #4A90E2 solid;
}

.subActive {
    div.first {
        border-left: 2px solid #FFF;
        margin-left: 2px;
        padding-left: 13px !important;
    }
    div.last {
        border-right: 2px solid #FFF;
        margin-right: 2px;
    }
    div {
        border-top: 2px #FFF solid;
        border-bottom: 2px #FFF solid;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 55px !important;
        line-height: 51px !important;
    }
}

.tip {
    font-size: 12px;
    color: #4F4F4F;
    margin: 8px 0 30px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #4A90E2;
    color: #FFF;
    border: 0px;
}

.nav-tabs {
    border: 0px;
    margin-bottom: 40px;
    .leftTab {
        border-radius: 8px 0px 0px 8px;
    }
    .rightTab {
        border-radius: 0px 8px 8px 0px;
    }
}

.nav-tabs-li {
    margin-right: -2px;
    width: 120px;
    height: 27px;
    border: 1px solid #4A90E2;
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}

.nav>li>a {
    margin-right: 0px;
    text-align: center;
    height: 100%;
    line-height: 25px;
    color: #4A90E2;
    border-radius: 0;
    padding: 0px;
    border: 0px;
}

.nav-tabs-li a {
    margin-right: 0px;
    text-align: center;
    height: 100%;
    line-height: 25px;
    color: #4A90E2;
    border-radius: 0;
    padding: 0px;
    border: 0px;
    position: relative;
    display: block;
}

.nav-tabs>li>a:hover {
    background-color: #FFF;
    border: 0px;
}

.nav-tabs-li a:hover {
    background-color: #FFF;
    border: 0px;
    text-decoration: none;
    color: #4A90E2;
}

.nav-tabs-li.active a,
.nav-tabs-li.active a:focus,
.nav-tabs-li.active a:hover {
    background-color: #4A90E2;
    color: #FFF;
    border: 0px;
    cursor: default;
}

.tab-content .tab-pane {
    display: none;
    background-color: #FFF;
}

.tab-content .active {
    display: block;
}

.modal {
    .inputFiled {
        float: left;
        width: 455px;
        margin-right: 40px;
        ul {
            li:after {
                display: block;
                clear: both;
                content: "";
                visibility: hidden;
                height: 0
            }
            li {
                color: #000;
                zoom: 1;
                margin: 20px 0;
                label {
                    width: 75px;
                    text-align: right;
                    margin-right: 13px;
                    color: #666;
                    float: left;
                    height: 34px;
                    line-height: 43px;
                }
                input[type=radio] {
                    margin: 14px 0 0;
                }
                div {
                    margin: 4px 70px 0 0;
                    text-align: right;
                }
                span {
                    display: block;
                    margin-left: 92px;
                }
                .text {
                    border: 1px #CCC solid;
                    border-radius: 5px;
                    width: 297px;
                    height: 42px;
                    text-indent: 9px;
                    line-height: 43px;
                }
                textarea {
                    width: 348px;
                    height: 157px;
                    border: 1px #CCC solid;
                    border-radius: 5px;
                    padding: 12px 9px;
                    resize: none;
                    *width: 330px;
                }
                p {
                    font-size: 12px;
                    color: #909090;
                    margin-left: 90px;
                }
            }
        }
    }
    .rightBorder {
        border-right: 1px solid #979797;
    }
    .mid {
        float: left;
        width: 337px;
        .title {
            h2 {
                height: 36px;
                line-height: 36px;
                display: inline-block;
                float: left;
            }
            .create {
                cursor: pointer;
                float: right;
                color: #4A90E2;
                height: 36px;
                line-height: 36px;
                img {
                    margin-right: 15px;
                }
                span {
                    cursor: pointer;
                }
            }
        }
        .grid {
            margin-top: 50px;
            width: 337px;
            table {
                width: 337px;
            }
        }
    }
    .operate {
        margin-top: 50px;
    }
    .footer {
        button {
            margin-left: 24px;
            float: right;
        }
    }
}

#confirmDialog {
    z-index: 99999;
    .modal-content {
        font-size: 16px;
        padding: 24px 29px;
        border-radius: 2px;
        border-top: 4px #178ce6 solid;
        .modal-header {
            padding: 0;
            margin-bottom: 10px;
            p {
                color: #178ce6;
            }
        }
        .modal-body {
            margin-bottom: 20px;
            padding: 0;
        }
        #confirmDialogOk {
            margin-left: 0;
        }
        .footer {
            display: flex;
            justify-content: space-between;
            button {
                margin-left: 0;
                float: none;
            }
        }
    }
}

#errorAlert {
    z-index: 9999;
    .modal-content {
        font-size: 16px;
        padding: 24px 29px;
        border-radius: 2px;
        border-top: 4px #178ce6 solid;
        .modal-header {
            padding: 0;
            margin-bottom: 10px;
            p {
                color: #178ce6;
            }
        }
        .modal-body {
            margin-bottom: 20px;
            padding: 0;
        }
    }
}

.moreInfo {
    z-index: 9999;
    color: #FFF;
    background-color: #4ACFE2;
    max-width: 150px;
    padding: 5px;
    position: absolute;
}

.rotate {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.mainOperate {
    position: fixed;
    margin-left: 775px;
    margin-top: 40px;
}

.selectList {
    position: absolute;
    top: 0;
    left: 214px;
    padding: 10px;
    background-color: #4a90e2;
    color: #fff;
    cursor: pointer;
    width: 124px;
    li {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    #selectSwitch {
        margin-left: 0;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.v-btn {
    border-radius: 2px;
    border: 0;
    background-color: #fff;
    padding: 1.5px 11px;
    line-height: 19px;
}

.v-blue-btn {
    background-color: #178ce6;
    border: 1px solid #178ce6;
    color: #fff;
}

.v-white-btn {
    color: #178ce6;
    border: 1px solid #178ce6;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
