$bannerUrl: "../image/bg_banner.png";
@mixin minWidth($minWidth: 1200px) {
    min-width: $minWidth;
}
@mixin inputStyle {
    width: 250px;
    height: 43px;
    border: 1px #CCCCCC solid;
    border-radius: 5px;
    overflow: hidden;
}
$minWidth: 1200px;
.myContainer {
    width: $minWidth;
    margin: 0 auto;
    position: relative;
}

.banner {
    @include minWidth;
    background: url($bannerUrl);
    height: 399px;
    .logo {
        width: 176px;
        height: 77px;
        top: 150px;
        left: 209px;
        border: 1px solid black;
        position: absolute;
    }
    .title {
        width: 406px;
        height: 30px;
        top: 238px;
        left: 209px;
        border: 1px solid black;
        position: absolute;
    }
    #login {
        width: 322px;
        height: 356px;
        position: absolute;
        top: 76px;
        left: 851px;
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #000;
        z-index: 10;
        p:nth-of-type(1) {
            margin-top: 44px;
            text-align: center;
        }
        p:nth-of-type(2) {
            margin: 27px 36px 0 36px;
            @include inputStyle;
            label {
                background-color: #EEE;
                width: 47px;
                height: 42px;
                text-align: center;
                line-height: 41px;
            }
        }
        p:nth-of-type(3) {
            margin: 9px 36px 0 36px;
            @include inputStyle;
        }
    }
}



.info {
    @include minWidth;
    height: 375px;
}

.ad {
    @include minWidth;
    height: 210px;
    background-color: #EBEBEB;
}

.footer {
    @include minWidth;
    height: 40px;
    background-color: #303030;
    color: #FFF;
    line-height: 40px;
    text-align: center;
}