$spriteUrl: url('../image/sprite0531.png');

.spriteImg{
  display: inline-block;
}
.eluyun_manage_outer {
  height: 51px;
  width: 48px;
  overflow: hidden;
}
.eluyun_manage {
  background: $spriteUrl -0px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_delete_outer {
  height: 50px;
  width: 25px;
  overflow: hidden;
}
.eluyun_delete {
  background: $spriteUrl -48px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 48px;
  _margin-left: -48px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_tick-big_outer {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.eluyun_tick-big {
  background: $spriteUrl -0px -51px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 51px;
  _margin-top: -51px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_ex-big_outer {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.eluyun_ex-big {
  background: $spriteUrl -50px -51px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 50px;
  _margin-left: -50px;
  _padding-top: 51px;
  _margin-top: -51px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_ask-big_outer {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.eluyun_ask-big {
  background: $spriteUrl -0px -101px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 101px;
  _margin-top: -101px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_scan_outer {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.eluyun_scan {
  background: $spriteUrl -50px -101px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 50px;
  _margin-left: -50px;
  _padding-top: 101px;
  _margin-top: -101px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_edit_outer {
  height: 50px;
  width: 72px;
  overflow: hidden;
}
.eluyun_edit {
  background: $spriteUrl -0px -151px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 151px;
  _margin-top: -151px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_ground_outer {
  height: 50px;
  width: 84px;
  overflow: hidden;
}
.eluyun_ground {
  background: $spriteUrl -0px -201px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 201px;
  _margin-top: -201px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_logo2_outer {
  height: 26px;
  width: 100px;
  overflow: hidden;
}
.eluyun_logo2 {
  background: $spriteUrl -0px -251px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 251px;
  _margin-top: -251px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_forward_outer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.eluyun_forward {
  background: $spriteUrl -73px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 73px;
  _margin-left: -73px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_backward_outer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.eluyun_backward {
  background: $spriteUrl -73px -24px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 73px;
  _margin-left: -73px;
  _padding-top: 24px;
  _margin-top: -24px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_4_outer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.eluyun_4 {
  background: $spriteUrl -72px -151px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 72px;
  _margin-left: -72px;
  _padding-top: 151px;
  _margin-top: -151px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_3_outer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.eluyun_3 {
  background: $spriteUrl -72px -175px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 72px;
  _margin-left: -72px;
  _padding-top: 175px;
  _margin-top: -175px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_premonth_outer {
  height: 24px;
  width: 70px;
  overflow: hidden;
}
.eluyun_premonth {
  background: $spriteUrl -0px -277px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 277px;
  _margin-top: -277px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_nextmonth_outer {
  height: 24px;
  width: 70px;
  overflow: hidden;
}
.eluyun_nextmonth {
  background: $spriteUrl -0px -301px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 301px;
  _margin-top: -301px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_finish_outer {
  height: 22px;
  width: 50px;
  overflow: hidden;
}
.eluyun_finish {
  background: $spriteUrl -0px -325px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 325px;
  _margin-top: -325px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_book_outer {
  height: 22px;
  width: 50px;
  overflow: hidden;
}
.eluyun_book {
  background: $spriteUrl -50px -325px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 50px;
  _margin-left: -50px;
  _padding-top: 325px;
  _margin-top: -325px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_ing_outer {
  height: 22px;
  width: 50px;
  overflow: hidden;
}
.eluyun_ing {
  background: $spriteUrl -0px -347px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 347px;
  _margin-top: -347px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_upload3x_outer {
                 height: 20px;
                 width: 26px;
                 overflow: hidden;
               }
.eluyun_upload3x {
                 background: $spriteUrl -70px -277px no-repeat;
                 width: 100%;
                 height: 100%;
                 _background: none;
                 _padding-left: 70px;
                 _margin-left: -70px;
                 _padding-top: 277px;
                 _margin-top: -277px;
                 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
               }
.eluyun_recents3x_outer {
                  height: 18px;
                  width: 18px;
                  overflow: hidden;
                }
.eluyun_recents3x {
                  background: $spriteUrl -70px -301px no-repeat;
                  width: 100%;
                  height: 100%;
                  _background: none;
                  _padding-left: 70px;
                  _margin-left: -70px;
                  _padding-top: 301px;
                  _margin-top: -301px;
                  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
                }
.eluyun_double_bed3x_outer {
                     height: 18px;
                     width: 23px;
                     overflow: hidden;
                   }
.eluyun_double_bed3x {
                     background: $spriteUrl -50px -347px no-repeat;
                     width: 100%;
                     height: 100%;
                     _background: none;
                     _padding-left: 50px;
                     _margin-left: -50px;
                     _padding-top: 347px;
                     _margin-top: -347px;
                     _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
                   }
.eluyun_tick_outer {
  height: 17px;
  width: 24px;
  overflow: hidden;
}
.eluyun_tick {
  background: $spriteUrl -73px -347px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 73px;
  _margin-left: -73px;
  _padding-top: 347px;
  _margin-top: -347px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_ing-small_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
.eluyun_ing-small {
  background: $spriteUrl -84px -201px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 84px;
  _margin-left: -84px;
  _padding-top: 201px;
  _margin-top: -201px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_finish-small_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
.eluyun_finish-small {
  background: $spriteUrl -84px -217px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 84px;
  _margin-left: -84px;
  _padding-top: 217px;
  _margin-top: -217px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_book-small_outer {
  height: 16px;
  width: 16px;
  overflow: hidden;
}
.eluyun_book-small {
  background: $spriteUrl -84px -233px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 84px;
  _margin-left: -84px;
  _padding-top: 233px;
  _margin-top: -233px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_tick-small_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_tick-small {
  background: $spriteUrl -0px -369px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 369px;
  _margin-top: -369px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_rest_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_rest {
  background: $spriteUrl -14px -369px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 14px;
  _margin-left: -14px;
  _padding-top: 369px;
  _margin-top: -369px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_trash-grey_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_trash-grey {
  background: $spriteUrl -28px -369px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 28px;
  _margin-left: -28px;
  _padding-top: 369px;
  _margin-top: -369px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_detail_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_detail {
  background: $spriteUrl -42px -369px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 42px;
  _margin-left: -42px;
  _padding-top: 369px;
  _margin-top: -369px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_checked_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_checked {
  background: $spriteUrl -56px -369px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 56px;
  _margin-left: -56px;
  _padding-top: 369px;
  _margin-top: -369px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_ask-orange_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_ask-orange {
  background: $spriteUrl -70px -369px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 70px;
  _margin-left: -70px;
  _padding-top: 369px;
  _margin-top: -369px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_calendar_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_calendar {
  background: $spriteUrl -84px -369px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 84px;
  _margin-left: -84px;
  _padding-top: 369px;
  _margin-top: -369px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_unchecked_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_unchecked {
  background: $spriteUrl -0px -383px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 383px;
  _margin-top: -383px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_ex-red_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_ex-red {
  background: $spriteUrl -14px -383px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 14px;
  _margin-left: -14px;
  _padding-top: 383px;
  _margin-top: -383px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_left_outer {
  height: 13px;
  width: 7px;
  overflow: hidden;
}
.eluyun_left {
  background: $spriteUrl -88px -301px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 88px;
  _margin-left: -88px;
  _padding-top: 301px;
  _margin-top: -301px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_right_outer {
  height: 13px;
  width: 7px;
  overflow: hidden;
}
.eluyun_right {
  background: $spriteUrl -28px -383px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 28px;
  _margin-left: -28px;
  _padding-top: 383px;
  _margin-top: -383px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_search-blue_outer {
  height: 12px;
  width: 12px;
  overflow: hidden;
}
.eluyun_search-blue {
  background: $spriteUrl -35px -383px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 35px;
  _margin-left: -35px;
  _padding-top: 383px;
  _margin-top: -383px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_search-grey_outer {
  height: 12px;
  width: 12px;
  overflow: hidden;
}
.eluyun_search-grey {
  background: $spriteUrl -47px -383px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 47px;
  _margin-left: -47px;
  _padding-top: 383px;
  _margin-top: -383px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_search-light_outer {
  height: 12px;
  width: 12px;
  overflow: hidden;
}
.eluyun_search-light {
  background: $spriteUrl -59px -383px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 59px;
  _margin-left: -59px;
  _padding-top: 383px;
  _margin-top: -383px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_add_outer {
  height: 12px;
  width: 12px;
  overflow: hidden;
}
.eluyun_add {
  background: $spriteUrl -71px -383px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 71px;
  _margin-left: -71px;
  _padding-top: 383px;
  _margin-top: -383px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_star_outer {
  height: 6px;
  width: 6px;
  overflow: hidden;
}
.eluyun_star {
  background: $spriteUrl -70px -319px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 70px;
  _margin-left: -70px;
  _padding-top: 319px;
  _margin-top: -319px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_arrow-down-big_outer {
  height: 6px;
  width: 12px;
  overflow: hidden;
}
.eluyun_arrow-down-big {
  background: $spriteUrl -76px -319px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 76px;
  _margin-left: -76px;
  _padding-top: 319px;
  _margin-top: -319px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_arrow-down-small_outer {
  height: 4px;
  width: 8px;
  overflow: hidden;
}
.eluyun_arrow-down-small {
  background: $spriteUrl -70px -297px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 70px;
  _margin-left: -70px;
  _padding-top: 297px;
  _margin-top: -297px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
.eluyun_arrow-down-big-copy_outer {
  height: 4px;
  width: 8px;
  overflow: hidden;
}
.eluyun_arrow-down-big-copy {
  background: $spriteUrl -78px -297px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 78px;
  _margin-left: -78px;
  _padding-top: 297px;
  _margin-top: -297px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
