$spriteUrl: url('/static/image/sprite.png');

.spriteImg{
  display: inline-block;
}

.eluyun_paywithalipay_outer {
  height: 52px;
  width: 50px;
  overflow: hidden;
}
.eluyun_paywithalipay {
  background: $spriteUrl -0px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_fail_outer {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.eluyun_fail {
  background: $spriteUrl -50px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 50px;
  _margin-left: -50px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_success_outer {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.eluyun_success {
  background: $spriteUrl -100px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 100px;
  _margin-left: -100px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_question-big_outer {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.eluyun_question-big {
  background: $spriteUrl -0px -52px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 52px;
  _margin-top: -52px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_upload_outer {
  height: 27px;
  width: 27px;
  overflow: hidden;
}
.eluyun_upload {
  background: $spriteUrl -50px -52px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 50px;
  _margin-left: -50px;
  _padding-top: 52px;
  _margin-top: -52px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_trash-blue_outer {
  height: 25px;
  width: 24px;
  overflow: hidden;
}
.eluyun_trash-blue {
  background: $spriteUrl -77px -52px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 77px;
  _margin-left: -77px;
  _padding-top: 52px;
  _margin-top: -52px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_edit_outer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.eluyun_edit {
  background: $spriteUrl -101px -52px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 101px;
  _margin-left: -101px;
  _padding-top: 52px;
  _margin-top: -52px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_arrow-left-border_outer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.eluyun_arrow-left-border {
  background: $spriteUrl -125px -52px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 125px;
  _margin-left: -125px;
  _padding-top: 52px;
  _margin-top: -52px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_arrow-right-border_outer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.eluyun_arrow-right-border {
  background: $spriteUrl -0px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_setting_outer {
  height: 24px;
  width: 26px;
  overflow: hidden;
}
.eluyun_setting {
  background: $spriteUrl -24px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 24px;
  _margin-left: -24px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_new_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_new {
  background: $spriteUrl -50px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 50px;
  _margin-left: -50px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_unchecked_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_unchecked {
  background: $spriteUrl -64px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 64px;
  _margin-left: -64px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_calendar_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_calendar {
  background: $spriteUrl -78px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 78px;
  _margin-left: -78px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_check-dot_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_check-dot {
  background: $spriteUrl -92px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 92px;
  _margin-left: -92px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_check-tick_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_check-tick {
  background: $spriteUrl -106px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 106px;
  _margin-left: -106px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_trash-grey_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_trash-grey {
  background: $spriteUrl -120px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 120px;
  _margin-left: -120px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_question_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_question {
  background: $spriteUrl -134px -102px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 134px;
  _margin-left: -134px;
  _padding-top: 102px;
  _margin-top: -102px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_error_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_error {
  background: $spriteUrl -0px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_tips_outer {
  height: 14px;
  width: 14px;
  overflow: hidden;
}
.eluyun_tips {
  background: $spriteUrl -14px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 14px;
  _margin-left: -14px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_arrow-right-blue_outer {
  height: 13px;
  width: 7px;
  overflow: hidden;
}
.eluyun_arrow-right-blue {
  background: $spriteUrl -28px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 28px;
  _margin-left: -28px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_arrow-left-blue_outer {
  height: 13px;
  width: 7px;
  overflow: hidden;
}
.eluyun_arrow-left-blue {
  background: $spriteUrl -35px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 35px;
  _margin-left: -35px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_search_outer {
  height: 12px;
  width: 12px;
  overflow: hidden;
}
.eluyun_search {
  background: $spriteUrl -42px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 42px;
  _margin-left: -42px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_required_outer {
  height: 6px;
  width: 6px;
  overflow: hidden;
}
.eluyun_required {
  background: $spriteUrl -54px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 54px;
  _margin-left: -54px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_arrow-down-grey_outer {
  height: 6px;
  width: 12px;
  overflow: hidden;
}
.eluyun_arrow-down-grey {
  background: $spriteUrl -60px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 60px;
  _margin-left: -60px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_arrow-down-blue_outer {
  height: 4px;
  width: 8px;
  overflow: hidden;
}
.eluyun_arrow-down-blue {
  background: $spriteUrl -72px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 72px;
  _margin-left: -72px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}
.eluyun_arrow-down-black_outer {
  height: 4px;
  width: 8px;
  overflow: hidden;
}
.eluyun_arrow-down-black {
  background: $spriteUrl -80px -126px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 80px;
  _margin-left: -80px;
  _padding-top: 126px;
  _margin-top: -126px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src=$spriteUrl);
}