$color1: #178CE6;
$color1Hover: #45a0e6;
$color1Click: #1684d9;

$color2: #10c8e0;
$color2Hover: #3dcde0;
$color2Click: #0fbdd4;

$color3: #36d987;
$color3Hover: #62d99d;
$color3Click: #33cc80;

$color4: #ffbf40;
$color4Hover: #ffd073;
$color4Click: #f2b63d;

$color5: #ff9326;
$color5Hover: #ffac59;
$color5Click: #f28b24;

$color6: #f24949;
$color6Hover: #f27979;
$color6Click: #e64545;

$colorInvalid: #cccccc;
$colorBgGrey: #f6f6f6;

$headerBg: #393b4a;

@mixin mainTitle1(){
  color: #00a0e8;
  font-size: 16px;
}
@mixin mainTitle2(){
  color: #666666;
  font-size: 16px;
}
@mixin subTitle1(){
  color: #178ce6;
  font-size: 14px;
}
@mixin subTitle2(){
  color: #666666;
  font-size: 14px;
}
@mixin contentBlue(){
  color: $color1;
  font-size: 12px;
}
@mixin contentNormal(){
  color: #666666;
  font-size: 12px;
}
@mixin contentInvalid(){
  color: #cccccc;
  font-size: 12px;
}
@mixin contentAsist(){
  color: #999999;
  font-size: 12px;
}
@mixin contentWarning(){
  color: #f24949;
  font-size: 12px;
}
@mixin contentLink(){
  color: #178ce6;
  font-size: 12px;
}

@mixin btn1_normal(){
  border:1px solid $color1;
  border-radius: 2px;
  font-size:14px;
  height: 24px;
  color:$color1;
  text-align:center;
  line-height: 22px;
  cursor: pointer;
}
@mixin btn1_hover(){
  background:#e6f1ff;
  border:1px solid $color1Hover;
  color: $color1Hover
}
@mixin btn1_click(){
  background:#e6f1ff;
  border:1px solid $color1Click;
  color: $color1Click;
}
@mixin btn2_normal(){
  background:$color1;
  border-radius:2px;
  height: 24px;
  font-size:14px;
  color:white;
  text-align:center;
  line-height: 24px;
  cursor: pointer;
}
@mixin btn2_hover(){
  background:$color1Hover;
  border: none;
  color: white;
}
@mixin btn2_click(){
  background:$color1Click;
  border: none;
  color: white;
}

@mixin btn_small{
  width:50px;
}
@mixin btn_big{
  width:100px;
}

@mixin select1{
  border:1px solid #cccccc;
  border-radius:2px;
  //padding-left: 8px;
  //padding-right: 24px;
  text-overflow: ellipsis;
  line-height: 20px;
  width:114px;
  height:22px;
  font-size:14px;
  color:#666666;
  text-align:left;
  display: block;
  background: white url("http://static.dingdandao.com/27822A44-62B9-4B12-9550-EC005EAA3D33@1x.png") 100px no-repeat;
  position: relative;
  span{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    width: 110%;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    padding-right: 24px;
  }
  .select1_options{
    display: none;
    background:#fafafa;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.15);
    border-radius:2px;
    width:100%;
    height: auto;
    position: absolute;
    margin-top: 2px;
    overflow-x: visible;
    overflow-y: auto;
    //top: 24px;
    //left: 0;
    z-index: 3;
    max-height: 120px;
    .oitem{
      background:#fafafa;
      width: 100%;
      height:24px;
      line-height: 24px;
      padding: 0 7px;
      font-size:14px;
      color:#666666;
      text-align:left;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 0;
    }
    .oitem:hover{
      background: #ededed;
    }
  }
}

$BorderRadius: 2px;