<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>订单来了——微官网设置</title>
    <link rel="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ANYHKLirIPmgVuMmBnLT60z2a564Cxix&s=1"></script>
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/salesite/info.js"></script>
</head>
<body>
<div class="mainContainer clearfloat">
    <div class="content clearfloat">
        <div class="info-head">基本信息用于在微官网上展示给客户，请确保基本信息的真实和完整</div>
        <div class="info-content">
            <div class="info-tips"></div>
            <div class="info-show">
                <div class="clearfloat info-message">
                    <div class="info-definition">店铺名称</div>
                    <div class="info-names">{{campName}}</div>
                </div>
                <div class="clearfloat info-message">
                    <div class="info-definition">店铺类型</div>
                    <div class="info-selections">
                        <dd-select placeholder="请选择店铺类型" style="width:160px;" v-model="shopType">
                            <dd-option v-for="option in optionShopType" :value="option.id" :label="option.name">
                            </dd-option>
                        </dd-select>
                    </div>
                    <div class="info-definition" style="margin-left: 15px;">店铺电话</div>
                    <input type="text" class="dd-input" style="width:160px;margin-left: 15px;" placeholder="请输入店铺电话" v-model="shopPhone">
                </div>
                <div class="info-message clearfloat">
                    <div class="info-definition">店铺地址</div>
                    <div class="info-imgs" style="float: left ;margin-left: 16px ;">
                        <div class="info-logo" v-if="infoWords === ''">
                        <img  src="//static.dingdandao.com/eluyunF30DBA32-2C67-4BA8-8259-17F65AFF0A63@1x.png" alt="" style="cursor: pointer;">
                        <span  class="info-add" style="cursor: pointer;" @click="openAddressShowDialog">点击选择地址</span>
                        </div>
                        <div class="info-map" style="position:relative;" v-if="infoWords !== ''">
                            <div id="infoWord" class="info-word" v-text="infoWords"></div>
                            <div id="smallMap" style="width:408px;height:200px;" @click="openAddressShowDialog"></div>
                        </div>
                    </div>
                </div>
                <div class="info-message clearfloat">
                    <div class="info-definition">展示图片</div>
                    <div class="info-uploading" style="float:left;">
                        <div class="info-remind" style="float:left;margin-left:8px;">注:首张为封面，图片推荐比例16:9</div>
                        <div class="info-press" style="float:left;margin-left:100px;">
                            <img src="//static.dingdandao.com/eluyun4BF1D477-3E1F-4785-92E5-FB8DD2D51460@1x.png" alt="" style="cursor: pointer;" class="add-img">
                            <span class="info-add" style="cursor: pointer;" @click="uploadNewImg">添加图片</span>
                            <span class="info-num" v-text="`${imgUrls.length}/20`"></span>
                        </div>
                        <input id="detail" type="file" name="file" accept="image/*" style="height: 1px;width: 1px;opacity: 0;" />
                        <div class="info-img-container">
                            <div class='detail-imgs' v-for="imgUrl in imgUrls">
                                <img :src='imgUrl' style='height:72px; width:72px;'/>
                                <div class='img-handle'>
                                    <img src='//static.dingdandao.com/eluyun3E02A1DF-ECB8-45AD-97B8-855C0F1A2815@1x.png' class='info-close'@click='remove($index)'/>
                                    <span class='img-replace' @click='replace(imgUrl)'>替换</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-footer clearfloat" style="margin:10px 5px 10px 218px;">
                    <button class="dd-btn-primary" style="width:100px;height:24px;border: 1px solid #178ce6;margin-right:40px;" @click="saveMessage">保存</button>
                    <button class="dd-btn-ghost" style="width:100px;height:24px;border: 1px solid #178ce6;">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="addressShowDialog">
        <div class="modal-dialog" style="width: 650px">
            <div class="modal-content clearfloat v-modal" style="width:650px;position:relative">
                <div id="bigMap" style="width:600px;height:400px;"></div>
                <div id="r-result"><input type="text" class="dd-input" id="suggestId" size="20" style="width:150px;border-radius: 20px;position:absolute;top:25px;right:25px;" placeholder="请输入地址"/></div>
                <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                <button class="dd-btn-primary" style="width:100px;height:24px;border: 1px solid #178ce6; margin:5px 0 5px 250px;" @click="confirm">确定</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
