<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了——订单管理</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <link rel="stylesheet" href="/static/css/orders.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/ordersManage/orders.js"></script>
</head>
<body>
    <div class="ordersManage-mainContainer">
        <div class="topFilters-container">
            <div class="dd-select-ordertype">
                <dd-select v-model="orderType">
                    <dd-option v-for="option in optionsOrderType" :value="option.id" :label="option.name">
                    </dd-option>
                </dd-select>
            </div>
            <div class="dd-select-orderstate">
                <dd-select v-model="orderTypeItem" multiple>
                    <dd-option v-for="option in optionsOrderTypeItems" :value="option.id" :label="option.name">
                    </dd-option>
                </dd-select>
            </div>
            <div class="dd-select-orderstate">
                <dd-select v-model="orderStatus">
                    <dd-option v-for="option in optionsOrderState" :value="option.id" :label="option.name">
                    </dd-option>
                </dd-select>
            </div>
            <span class="dd-date-label">使用时间:</span>
            <div class="dd-start-date">
                <dd-datepicker placeholder="开始时间" v-model="startDate" />
            </div>
            <span class="dd-date-symbol">~</span>
            <div class="dd-end-date">
                <dd-datepicker placeholder="结束时间" v-model="endDate" />
            </div>
            <div class="dd-dropdown">
                <dd-dropdown text="导出明细" trigger="click">
                    <dd-dropdown-item><span>导出PDF</span></dd-dropdown-item>
                    <dd-dropdown-item><span>导出Excel</span></dd-dropdown-item>
                </dd-dropdown>
            </div>
            <div class="order-search-container">
                <input type="text" placeholder="搜索客户姓名/手机号/订单号" class="order-search dd-input" v-model="searchContent">
                <span class="order-search-icon" @click="searchOrders"><img :src="searchIconUrl" alt=""></span>
            </div>
        </div>
        <div class="middleTable-container">
            <table class="dd-table orders-manage-table">
                <thead>
                    <tr>
                        <th style="padding-left: 30px">订单号</th>
                        <th>订单业态</th>
                        <th>订单金额¥</th>
                        <th>客户已付¥</th>
                        <th>已收押金¥</th>
                        <th>客户姓名</th>
                        <th>手机号码</th>
                        <th>使用时间</th>
                        <th>订单状态</th>
                        <th>收银员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-show="isLoading">
                        <td colspan="10" style="text-align: center">
                            数据加载中...
                        </td>
                    </tr>
                    <tr class="noOrders-tr" v-show="orderItems.length === 0 && !isLoading">
                        <td colspan="10">
                            <div class="noOrders-container">
                                <img src="http://static.dingdandao.com/ordersManage_noOrders.png" alt="">
                                <p>没有订单信息</p>
                            </div>
                        </td>
                    </tr>
                    <template v-for="(item, index) in orderItems" v-show="orderItems.length > 0 && !isLoading">
                        <tr :class="['orders-tr', index % 2 === 1 ? 'orders-tr-even' : 'orders-tr-odd']" @click="handleClickTr(item)">
                            <td style="padding-left: 30px">
                                <div class="dd-arrowRight-orderNum" v-if="getOrderType(item).length > 1 && !item.showSub"></div>
                                <div class="dd-arrowDown-orderNum" v-if="getOrderType(item).length > 1 && item.showSub"></div>
                                {{ item.orderNum }}
                            </td>
                            <td style="font-size: 0">
                                <span class="order-state order-state-red" v-if="getOrderType(item).indexOf(3) !== -1">住</span>
                                <span class="order-state order-state-yellow" v-if="getOrderType(item).indexOf(0) !== -1">餐</span>
                                <span class="order-state order-state-blue" v-if="getOrderType(item).indexOf(1) !== -1">娱</span>
                                <span class="order-state order-state-green" v-if="getOrderType(item).indexOf(2) !== -1">商</span>
                            </td>
                            <td v-text="item.orderTotalPrice"></td>
                            <td v-text="item.payAmount"></td>
                            <td v-text="item.depositAmount"></td>
                            <td v-text="item.customerName || '--'"></td>
                            <td v-text="item.customerPhone || '--'"></td>
                            <td v-text="item.date"></td>
                            <td v-text="orderStatusText[item.orderState]"></td>
                            <td v-text="item.operators.join('、') || '--'"></td>
                        </tr>
                        <template v-if="item.orderType === -1 && item.subOrderList.length > 1 && item.showSub">
                            <tr :class="['orders-tr', 'orders-sub-tr', index % 2 === 1 ? 'orders-tr-even' : 'orders-tr-odd']" v-for="option in item.subOrderList">
                                <td v-text="option.orderNum" style="padding-left: 42px"></td>
                                <td style="font-size: 0">
                                    <span class="order-state order-state-red" v-if="option.orderType === 3">住</span>
                                    <span class="order-state order-state-yellow" v-if="option.orderType === 0">餐</span>
                                    <span class="order-state order-state-blue" v-if="option.orderType === 1">娱</span>
                                    <span class="order-state order-state-green" v-if="option.orderType === 2">商</span>
                                </td>
                                <td v-text="option.orderTotalPrice"></td>
                                <td v-text="option.payAmount"></td>
                                <td v-text="option.depositAmount"></td>
                                <td v-text="option.customerName || '--'"></td>
                                <td v-text="option.customerPhone || '--'"></td>
                                <td v-text="option.date"></td>
                                <td v-text="orderStatusText[option.orderState]"></td>
                                <td v-text="option.operators.join('、') || '--'"></td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="footer-container" v-show="!isLoading">
            <span class="orders-total">共计<b>{{ orderNum }}个订单</b></span>
            <span class="orders-total">金额<b>¥{{ orderTotalPrice }}</b></span>
            <span class="orders-total">客户已付<b>¥{{ totalPay }}</b></span>
            <span class="orders-total">已收押金<b>¥{{ depositAmount }}</b></span>
            <div class="dd-pagination-container">
                <dd-pagination @currentchange="handlePageChange" :visible-pager-count="5" :show-one-page="false" :page-count="Math.ceil(orderNum / pageSize)"></dd-pagination>
            </div>
        </div>
    </div>
</body>
</html>