<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了——订单管理</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <link rel="stylesheet" href="/static/css/orders.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/ordersManage/orders.js"></script>
</head>
<body>
    <div class="ordersManage-mainContainer">
        <div class="topFilters-container">
            <div class="dd-select-ordertype">
                <dd-select v-model="orderType">
                    <dd-option v-for="option in optionsType" :value="option.id" :label="option.name">
                    </dd-option>
                </dd-select>
            </div>
            <div class="dd-select-orderstate">
                <dd-select v-model="orderState">
                    <dd-option v-for="option in optionsState" :value="option.id" :label="option.name">
                    </dd-option>
                </dd-select>
            </div>
            <div class="dd-select-orderstate">
                <dd-select v-model="orderState">
                    <dd-option v-for="option in optionsState" :value="option.id" :label="option.name">
                    </dd-option>
                </dd-select>
            </div>
            <span class="dd-date-label">使用时间:</span>
            <div class="dd-start-date">
                <dd-datepicker placeholder="开始时间" v-model="startDate" />
            </div>
            <span class="dd-date-symbol">~</span>
            <div class="dd-end-date">
                <dd-datepicker placeholder="结束时间" v-model="endDate" />
            </div>
            <div class="dd-dropdown">
                <dd-dropdown text="导出明细" trigger="click">
                    <dd-dropdown-item><span>导出PDF</span></dd-dropdown-item>
                    <dd-dropdown-item><span>导出Excel</span></dd-dropdown-item>
                </dd-dropdown>
            </div>
            <div class="order-search-container">
                <input type="text" placeholder="搜索客户姓名/手机号/订单号" class="order-search" v-model="searchContent" @input="changeIcon">
                <span class="order-search-icon"><img :src="`http://static.dingdandao.com/order_manage_search_${searchState}.png`" alt=""></span>
            </div>
        </div>
        <div class="middleTable-container">
            <table class="dd-table orders-manage-table">
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>订单业态</th>
                        <th>订单金额¥</th>
                        <th>客户已付¥</th>
                        <th>已收押金¥</th>
                        <th>客户姓名</th>
                        <th>手机号码</th>
                        <th>使用时间</th>
                        <th>订单状态</th>
                        <th>收银员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="noOrders-tr" v-show="orderItems.length === 0">
                        <td colspan="10">
                            <div class="noOrders-container">
                                <img src="http://static.dingdandao.com/ordersManage_noOrders.png" alt="">
                                <p>没有订单信息</p>
                            </div>
                        </td>
                    </tr>
                    <tr class="orders-tr" v-for="item in orderItems" v-show="orderItems.length > 0">
                        <td>hello,everyone!</td>
                        <td style="font-size: 0">
                            <span class="order-state order-state-red">住</span>
                            <span class="order-state order-state-yellow">餐</span>
                            <span class="order-state order-state-blue">娱</span>
                            <span class="order-state order-state-green">商</span>
                        </td>
                        <td>hello,everyone!</td>
                        <td>hello,everyone!</td>
                        <td>hello,everyone!</td>
                        <td>hello,everyone!</td>
                        <td>hello,everyone!</td>
                        <td>hello,everyone!</td>
                        <td>hello,everyone!</td>
                        <td>hello,everyone!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer-container">
            <span class="orders-total">共计<b>350个订单</b></span>
            <span class="orders-total">金额<b>¥10000</b></span>
            <span class="orders-total">客户已付<b>¥10000</b></span>
            <span class="orders-total">已收押金<b>¥10000</b></span>
            <div class="dd-pagination-container">
                <dd-pagination @currentchange="handlePageChange" :visible-pager-count="6" :show-one-page="false" :page-count="10"></dd-pagination>
            </div>
        </div>
    </div>
</body>
</html>