.board-table {
    border-radius: 2px;
    th {
        width: 173.67px;
        text-align: center;
        font-weight: bolder;
    }
    tr {
        height: 48px;
        line-height: 48px;
        border: 1px solid #ededed;
    }
    thead {
        background: #fafafa;
        height: 48px;
    }
    tbody {
        td:nth-child(1) {
            padding-left: 59px;
        }
        td:nth-child(2) {
            padding-left: 69.3px;
        }
        td:nth-child(3) {
            text-align: center;
        }
        td:last-child {
            // padding-left: 48.7px;
            // color: #178ce6;
            span {
                cursor: pointer;
            }
        }

    }
}

.restaurant-box-title {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background: #f0f0f0;
    font-size: 16px;
    .changearea {
        font-size: 14px;
        color: #178ce6;
        cursor:pointer;
        &:first-child {
            margin-left: 10px;
        }
    }
    .volume-production,
    .create-restaurant,
    .volume-download {
        left: 0;
        color: #178ce6;
        margin-left: 20px;
    }
    .volume-production,
    .volume-download {
        width: 100px
    }
}

.rest-area-contain {
    display: flex;
    color:#666;
    .restaurant-area-box {
        background: #ffffff;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        padding-bottom: 20px;
        border-top: 4px solid #178ce6;
        width: 720px;
        .restaurant-box {
            margin: 20px 20px 0;
        }
    }
    .board-table {
        thead {
            background: none;
        }
        tr {
            border: none;
            height: 32px;
            line-height: 32px;
            td {
                text-align: center;
                padding: 0;
                &:first-child {
                    text-align: left;
                    padding-left: 20px;
                }
                &:last-child {
                    text-align: right;
                    padding-right: 20px;
                    color: #178ce6;
                }
            }
        }
        th {
            font-weight: normal;
            &:first-child {
                text-align: left;
                padding-left: 20px;
            }
            &:last-child {
                text-align: right;
                padding-right: 20px;
            }
        }
    }
}

.restaurant-right {
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px 2px 0px 2px 2px;
    display: inline-block;
    width: 215px;
    margin-left: 20px;
    height: 300px;
    border-top: 4px solid #178ce6;
}
#boardDialog{
  .modal-w300{
    width: 365px;
    input[type="text"], select{
      width:210px;
    }
    .board-num-container{
      width: 200px;
    }
    .v-blue-btn{
      margin-right: 30px;
    }
    .areaName{
      width: 200px;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
#boardDialog {
  .delete-icon{
    background-image: url('../../image/modal/room_modal_delete.png');
    // margin-left: 16px;
    width: 16px;
    height: 16px;
    background-size: contain;
    cursor: pointer;
        position: relative;
    top: 2px;
    display: inline-block;
  }
    .v-modal {
        padding: 20px 24px 13px 20px;
    }
    label {
        width: 94px;
        text-align: right;
        margin-right: 10px;
    }
    input[type="text"] {
        width: 156px;
        height: 24px;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    select {
        width: 156px;
        height: 24px;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
}

.board-title {
    font-size: 16px;
    color: #178ce6;
    margin-bottom: 25px;
}

.board-num-container {
    display: inline-block;
    list-style: none;
    width: 156px;
    margin-left: 110px;
}
.board-add{
    border: none;
    color: #178ce6;
}
.board-num {
    width: 60px;
    height: 24px;
    float: left;
    margin-right: 4px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

.board-num:nth-child(5n) {
    margin-right: 0;
}

.board-num-close {
    z-index: 10;
    position: absolute;
    cursor: pointer;
    width: 8px;
    height: 8px;
    right: 0;
    top: 0;
    background: url(//static.dingdandao.com/eluyun/image/7F4EA759-432E-4B50-8DD7-B8A4363D121D@1x.png);
}

.restaurant-head-restName {
    font-size: 16px;
    margin-bottom: 17px;
}

.restaurant-head-list {
    font-size: 14px;
}

.board-num-edit {
    text-align: center;
    // position: absolute;
    width: 36px !important;
    height: 22px !important;
    background: #fff;
    left: 0;
    top: 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#resetDialog {
    .item-title {
        font-family: MicrosoftYaHei;
        font-size: 16px;
        color: #178ce6;
        text-align: left;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .item-title span img {
        float: right;
        margin-top: 4px;
        cursor: pointer;
    }
    .v-btn {
        background: #178ce6;
        border-radius: 2px;
        width: 100px;
        height: 24px;
        margin-top: 10px;
    }
}

#confirmResetDialog {
    .remind-message {
        font-family: MicrosoftYaHei-Bold;
        font-size: 16px;
        color: #666666;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .btn-l {
        background: #178ce6;
        border-radius: 2px;
        width: 100px;
        height: 24px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 10px;
    }
    .btn-r {
        border: 1px solid #178ce6;
        border-radius: 2px;
        width: 98px;
        height: 24px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #178ce6;
        text-align: center;
        margin-left: 114px;
        margin-bottom: 10px;
    }
}

.twoCode:hover {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #178ce6;
    padding: 1px;
}

.twoCode {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
}
