.dishes-table {
  border-radius: 2px;
  width: 725px;
  th {
    text-align: center;
    font-weight: bolder;
  }
  tr {
    height: 48px;
    line-height: 48px;
    border: 1px solid #ededed;
  }
  thead {
    background: #fafafa;
    height: 48px;
  }
  td {
    cursor: pointer;
  }
}
.dishes-box {
  width: 725px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.15);
  .hr {
    width: 100%;
    background: #178CE6;
    height: 4px;
  }
}
.restaurant-head-nav {
  border: 1px solid #178ce6;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  li {
    width:100px;
    line-height: 24px;
    height:24px;
    color:#178ce6;
    text-align:center;
    display: inline-block;
  }
}
.restaurant-head-nav-selected {
  background-color: #178ce6;
  a {
    color: #ffffff;
  }
}
.rest-operation {
  background: #fafafa;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
  width: 184px;
  height: 213px;
  border-top: 4px solid #178ce6;
  font-size: 12px;
  color: #178ce6;
  text-align: center;
  position: fixed;
  margin-left: 775px;
  float: right;
}
.rest-operation-1 {
  padding-top: 8px;
  height: 133px;
  border-bottom: 1px solid #178ce6;
}
.rest-operation-2 {
  padding-top: 8px;
}
.rest-operation-item {
  float: left;
  width: 92px;
  margin: 8px 0 8px 0;
  cursor: pointer;
  img {
    margin-bottom: 4px;
  }
  p {
    cursor: pointer;
  }
}
#dishesDialog {
  select {
    width: 238px;
    height: 24px;
    border: 1px solid #cccccc;
    border-radius: 2px;
  }
  label {
    width: 56px;
    text-align: right;
  }
  textarea {
    width: 238px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
  }
  input {
    width: 238px;
    height: 24px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    text-indent: 8px;
  }
  .v-btn-group {
    margin-top: 44px;
  }
}
.dishes-classify-table {
  width: 300px;
  border-radius: 2px;
  border-top: 4px solid #178ce6;
  thead {
    background-color: #fafafa;
  }
  th {
    width: 150px;
    text-align: center;
  }
  tr {
    height: 45px;
    border: 1px solid #ededed;
  }
  td:nth-child(1) {
    padding-left: 33px;
  }
  td:nth-child(2) {
    padding-left: 62px;
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
}
.classify-operation {
  position: absolute;
  right: 33px;
  top: 64px;
  background: #fafafa;
  border-radius: 2px;
  width: 184px;
  height: 78px;
  border-top: 4px solid #178ce6;
  color: #178ce6;
  text-align: center;
}
.classify-operation-item {
  float: left;
  width: 92px;
  margin: 8px 0 8px 0;
  cursor: pointer;
  img {
    margin-bottom: 4px;
  }
  p {
    cursor: pointer;
  }
}
#dishesClassifyEditDialog {
  input {
    width: 148px;
    height: 24px;
  }
  label {
    text-align: right;
    width: 56px;
  }
}
#packageDialog {
  input {
    width: 238px;
    height: 24px;
    text-indent: 8px;
  }
  label {
    text-align: right;
    width: 56px;
    vertical-align: top;
    line-height: 24px;
  }
  textarea {
    border: 1px solid #cccccc;
    border-radius: 2px;
    width: 238px;
    height: 182px;
    padding: 2px 8px;
  }
  .dishes-num {
    background: #f4f4f4;
    border: 1px solid #cccccc;
    border-radius: 2px;
    width: 130px;
    height: 22px;
    display: inline-block;
  }
}
.editDishesInPackage {
  border: 1px solid #178ce6;
  border-radius: 2px;
  width: 98px;
  height: 22px;
  background-color: #fff;
  color: #178ce6;
  margin-left: 5px;
}
.dishes-classify-box {
  float: left;
  border-right: 1px solid #ededed;
  width: 379px;
  height: 402px;
}
.dishes-selected-box {
  width: 309px;
  float: left;
  height: 344px;
  overflow: auto;
}
.dishes-classify-box-classify {
  li {
    float: left;
    width: 64px;
    line-height: 43px;
    text-align: center;
    height: 43px;
    border: 1px solid #d4d4d4;
    background-color: #fafafa;
    margin-left: -1px;
    cursor: pointer;
  }
}
.dishes-classify-box-dishes {
  overflow-y: auto;
  height: 359px;
  padding: 11px 6px;
  li {
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 2px;
    width: 100px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    margin: 8px;
    cursor: pointer;
  }
}
.dishes-selected-box-table {
  th {
    text-align: center;
    width: 104px;
  }
  tr {
    height: 42px;
  }
  input[type=text] {
    width: 52px;
    height: 25px;
    border: 1px solid #cccccc;
    border-right: 0;
    border-left: 0;
    text-align: center;
  }
  td:nth-child(1) {
    padding-left: 25px;
  }
  td:nth-child(2) {
    padding-left: 21px;
  }
  td:nth-child(3) {
    padding-left: 13px;
  }
}
.dishes-table {
  th, td {
    width: 90.625px;
  }
  td:nth-child(2), td:nth-child(3), td:nth-child(4){
    color: #333!important;
  }
  td:nth-child(2) {
    padding-left: 18px!important;
  }
  .mainActive {
    outline: 1px solid #178ce6!important;
    border: 1px solid #ededed!important;
  }
}
.overflow-default {
  overflow: visible;
}
.classify-selected {
  outline: 1px solid #178ce6!important;
}
.dishes-in-package {
  border: 1px solid #178ce6!important;
}
.current-classify {
  color: #178ce6;
  background-color: #fff !important;
  border-bottom: 1px solid #fff !important;
}
.dishes-num-decrease {
  display: inline-block;
  width: 14px;
  height: 25px;
  text-align: center;
  border: 1px solid #cccccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  line-height: 23px;
}
.dishes-num-increase {
  display: inline-block;
  height: 25px;
  width: 14px;
  text-align: center;
  border: 1px solid #cccccc;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  line-height: 23px;
}
#packageSelectDialog {
  .v-btn-group {
    position: absolute;
    right: 25px;
    bottom: 20px;
  }
}
.package-table {
  td {
    padding-left: 28px!important;
  }
}