.restaurant-container {
  margin: 20px auto 0 auto;
  width: 950px;
  position: relative;
}
.restaurant-head {
  font-size:16px;
  width: 464px;
  color:#178ce6;
  margin-bottom: 16px;
}
.restaurant-box {
  width: 695px;
  border-radius: 2px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.15);
  .hr {
    width: 100%;
    background: #178CE6;
    height: 4px;
  }
}
.create-restaurant {
  cursor: pointer;
  font-weight: normal;
  width: 78px;
  font-size: 14px;
  float: right;
  text-align: right;
  position: relative;
  left: 230px;
  background: url(//static.dingdandao.com/vipAdditional.png) no-repeat 5px;
}
.volume-production{
  cursor: pointer;
  font-weight: normal;
  width: 125px;
  font-size: 14px;
  float: right;
  text-align: right;
  position: relative;
  left: 95px;
  background: url(//static.dingdandao.com/eluyunAA8E0D41-A0E2-4208-9BE6-2A827F73D0E7@1x.png) no-repeat 5px;
}
.volume-download{
  cursor: pointer;
  font-weight: normal;
  width: 125px;
  font-size: 14px;
  float: right;
  text-align: right;
  position: relative;
  left: 350px;
  background: url(//static.dingdandao.com/eluyunC7FF2EEE-47F3-4789-BABF-7AF8234B9E1B@1x.png) no-repeat 5px;
}
.restaurant-table {
  border-radius:2px;
  .back-open {
    background-image: url("//static.dingdandao.com/open-button.png");
  }
  .back-close {
    background-image: url("//static.dingdandao.com/close-button.png");
  }
  .code-btn {
    cursor: pointer;
    display: inline-block;
    width: 44px;
    height: 24px;
    border-radius: 2px;
    vertical-align: middle;
  }
  .remindWords {
    position: absolute;
    top: 35px;
    left: 0;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
    padding: 10px;
    font-size: 12px;
    color: #666666;
    text-align: left;
    z-index: 10;
    line-height: 2;
    font-weight: normal;
  }
  th>img {
    margin-left: 5px;
  }
  thead {
    background: #fafafa;
  }
  tbody {
    td:nth-child(2), td:nth-child(3) {
      color: #178ce6;
    }
    td:nth-child(4) {
    }
    td:nth-child(5) {
    }
    .rest-announcement {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 80px;
    }
    .bkWord {
      color: #666666;
    }
    .gyWord {
      color: #cccccc;
    }
    td:nth-child(6) {
      color:#178ce6;
      span {
        cursor: pointer;
      }
    }
  }
}
.rest-title {
  font-size: 16px;
}
.rest-title span img{
  position: absolute;
  left: 340px;
  top: 20px;
  cursor: pointer;
}
.sub-line {
  background: #d4d4d4;
  height: 1px;
  position: relative;
  top: -10px;
}
#restaurantName {
  padding-left: 8px;
  margin-left: 2px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  width: 230px;
  height: 22px;
  position: relative;
  left: 20px;
}
#restaurantNotice {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  width: 230px;
  height: 72px;
  position: relative;
  padding: 4px 8px;
}
.sub-num {
  position: relative;
  top: -6px;
  text-align: right;
}
.v-modal {
  background:#fafafa;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.15);
  border-radius: 2px;
  border-top: 4px solid #178ce6;
  padding: 16px 30px 10px 30px;
}
#restaurantDialog {
  .rest-title {
    margin-bottom: 18px;
  }
  .v-btn-group {
    margin-left: 90px;
    .v-btn { width: 100px; }
    .v-btn:nth-child(1) {
      margin-right: 24px;
    }
  }
}
.rest-tips {
  font-size: 12px;
  color: #f24949;
  height: 17px;
  line-height: 17px;
  margin-left: 90px;
}
.setting-label {
  width: 70px;
  display: inline-block;
  text-align: right;
}
#settingDialog {
  label {
    margin-right: 10px;
  }
}