@import '../../../node_modules/dd-common-css/src/variables';

.vip-container {
  padding-top: 88px;
  max-width: 1200px;
  margin: 0 auto;

  i {
    color: #999;
    font-style: normal;
  }

  .help-button {
    color: #178ce6;
    cursor: pointer;
  }
  #helpModal {
    .modal-content {
      padding: 10px;
    }
  }

  #settingModal {
    label {
      width: 98px;
      text-align: right;
    }
    .form-row {
      margin-bottom: 15px;
    }
    .line {
      width: 484px;
      height: 1px;
      background: #e6e6e6;
      margin: 15px -20px;
    }
  }
}
.modal-content {
  background: #fafafa;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
  border-top: 4px solid #178ce6;
  padding: 20px;
}
.select-category {
  display: flex;
  input[type=checkbox] {
    margin-right: 6px;
    &:focus {
      outline: 0;
    }
  }
  span {
    margin-bottom: 19px;
  }
  .select-category-nodes {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    span {
      margin-right: 6px;
    }
  }
}
.select-category-name {
  width: 62px;
}

.select-category-node {
  display: flex;
}
#settingModal {
  .select-button {
    cursor: pointer;
    color: #178ce6;
  }
}
td {
  vertical-align: top !important;
}
