<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单来了——房态</title>
    <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dist/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/accommodation.js"></script>
</head>
<body>
<script>

    //- 状态事件
    function onStatus(state,msg) {
        /*****************************************************************************
         state	msg
         0		关闭
         1		启动
         2		找到阅读器：……
         3		未找到卡（证），已查找了n秒时间。
         4		选择卡（证）失败
         5		读取基本信息失败。……
         6		读取追加数据失败。……
         7		照片解码错误。……
         8		软件未授权。
         9		读卡成功。
         10		读卡时系统出现错误。……
         11		未找到USB读卡设备(连接USB端口失败)
         *****************************************************************************/
        console.log('state:', state, 'msg:', msg);
    }

    //- 消息事件，主要是读卡错误时引发
    function onMessage(msg) {
        console.log('msg:', msg);
    }
    </script>
    <div id="app">

    </div>
</body>
</html>