@import '../../../../node_modules/dd-common-css/src/variables';

.ordersManage-mainContainer {
  width: 1129px;
  margin: 0 auto;
  position: relative;
  top: 68px;

  .topFilters-container {
    width: 100%;
    height: 40px;
    padding-top: 16px;
    .dd-select-ordertype {
      width: 88px;
      display: inline-block;
    }
    .dd-select-orderstate {
      width: 136px;
      display: inline-block;
      margin-left: 12px;
    }
    .orders-state {
      width: 116px;
    }
    .select-overflow {
      .dd-input {
        text-overflow: ellipsis;
      }
    }
    .dd-start-date, .dd-end-date {
      display: inline-block;
    }
    .dd-date-label {
      margin-left: 12px;
      color: $gary-dark;
      font-size: $font-size-base;
    }
    .dd-date-symbol {
      color: $gary-dark;
      font-size: $font-size-base;
    }
    .dd-dropdown {
      display: inline-block;
      width: 100px;
      margin-left: 16px;
      float: right;
    }
    .dd-dropdown-item {
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
        &:active {
          text-decoration: none;
        }
      }
    }
    .order-search-container {
      float: right;
      position: relative;
    }
    .order-search {
      min-width: 216px;
      &::-webkit-input-placeholder{
        color: $gary;
      }
      &::-moz-placeholder {
        color: $gary;
      }
    }
    .order-search-icon {
      position: absolute;
      top: 3px;
      right: 6px;
      cursor: pointer;
    }
    .dd-checkbox {
      outline: none;
    }
    .dd-select-menu {
      max-height: 120px;
    }
    .dd-select-option {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .middleTable-container {
    margin: 16px 0;
  }
  .middleTable-container th {
    font-weight: bold;
  }
  .dd-tr-selected {
    outline: none !important;
    td {
      background: rgba($blue-light, .2);
    }
  }
  .dd-start-date, .dd-end-date {
    width: 153px;
  }
  .orders-sub-tr > td {
    border-top: 1px dotted $gary-light;
  }

  tbody > .orders-tr-odd {
    background: transparent !important;
  }

  tbody > .orders-tr-even {
    background: $gary-lightest !important;
  }

  .orders-tr {
    cursor: pointer;
  }

  .dd-orderArrow {
    position: absolute;
    width: 0;
    height: 0;
  }

  div.dd-arrowRight-orderNum {
    left: 34px;
    top: 22px;
    border-top: 4px solid transparent;
    border-left: 4px solid grey;
    border-bottom: 4px solid transparent;
    border-right: none;
  }

  .dd-pagination-btn span {
    cursor: pointer;
  }

  div.dd-arrowDown-orderNum {
    left: 30px;
    top: 25px;
    border-top: 4px solid grey;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: none;
  }

  div.dd-arrowTop-useDate {
    right: 33px;
    top: 20px;
    border-top: none;
    border-bottom: 3px solid grey;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  div.dd-arrowDown-useDate {
    right: 33px;
    top: 25px;
    border-bottom: none;
    border-top: 3px solid grey;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }
  
  .order-state {
    display: inline-block;
    font-size: $font-size-base;
    text-align: center;
    height: 22px;
    width: 22px;
    line-height: 22px;
    color: $body-bg;
    border-radius: $border-radius;
    margin-right: 4px;
  }

  .order-state-red {
    background: #f27979;
  }

  .order-state-yellow {
    background: #ffac59
  }

  .order-state-green {
    background: #62d99d;
  }

  .order-state-blue {
    background: #3dcde0;
  }

  .footer-container {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fafafa;
    box-shadow: $table-box-shadow;
    padding: 0 30px;
    margin-bottom: $spacer;
    .orders-total {
      display: inline-block;
      height: 17px;
      line-height: 17px;
      font-size: $font-size-sm;
      color: $gary-dark;
      margin-right: 15px;
      padding-right: 16px;
      border-right: $border-width solid $gary-light;
      b {
        color: $gary-daker;
        font-size: $font-size-base;
        font-weight: normal;
        margin-left: 4px;
      }
      &:last-child {
        margin-right: 0;
        border: none;
      }
    }
  }
  .dd-pagination-container {
    display: inline-block;
    line-height: initial;
    margin-top: 10px;
    float: right;
  }

  .noOrders-tr > td {
    padding: 0;
  }

  .noOrders-container {
    background: $table-bg;
    height: 656px;
    text-align: center;
    font-size: $font-size-lg;
    color: $gary-daker;
    img {
      margin-top: 150px;
    }
    p {
      margin-top: 40px;
    }
  }
}