.entertainitem.selected, .entertainDayItem.selected{
  box-shadow: 0 0 0 2px #178ce6 inset;
}

.patchGrid td.empty{
  background-color: #eeeeee;
}
.patchGrid .entertainPatchItem.selected{
  box-shadow: 0 0 0 2px #178ce6 inset;
}