<!DOCTYPE html>
<html lang="en" ng-app="operationApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>订单来了——微官网设置</title>
    <link rel="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/salesite/operation.js"></script>
</head>
<body ng-controller="operationCtrl">
<div class="modal fade" role="dialog" id="announcement">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="hr"></div>
            <div class="title1">公告</div>
            <textarea name="announce" id="announce"
                      placeholder="系统只会保留最新一条公告" ng-model="notice2" ng-keyup="textOnChange()"></textarea>
            <div class="counter">
                <span ng-class="{true: 'current full', false: 'current'}[noticeLength > 140]">{{noticeLength}}</span>
                <span>/</span>
                <span class="total">140</span>
            </div>
            <div class="errorTips" ng-if="noticeLength > 140">
                公告不能超过140字！
            </div>
            <div class="btns">
                <div class="mmbtn publish" ng-click="publishNotice()">发布公告</div>
                <div class="mmbtn cancel">取消</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="mainContainer clearfloat">
    <div class="content clearfloat">
        <div class="salesite-operation-status">
            <div class="slabel">网站状态：</div>
            <div class="scontent fail" ng-if="directNetStatus === 0 && (!status.isOnlinePay.status || !status.campBasicInfo.status)">未完成准备工作，未上线</div>
            <div class="scontent on" ng-if="directNetStatus === 1">已上线</div>
            <div class="scontent ready" ng-if="directNetStatus === 0 && (status.isOnlinePay.status && status.campBasicInfo.status)">已完成准备工作，未上线</div>
            <div class="sbtn openbtn" ng-if="directNetStatus === 0 && (status.isOnlinePay.status && status.campBasicInfo.status)" ng-click="changeSiteState()">网站上线</div>
            <div class="sbtn closebtn" ng-if="directNetStatus === 1" ng-click="changeSiteState()">关闭网站</div>
        </div>
        <div class="salesite-operation-fail" ng-if="!(status.isOnlinePay.status && status.campBasicInfo.status)">
            <div class="failbox">
                <div class="hr"></div>
                <div class="stitle">上线准备工作</div>
                <div class="wrapper">
                    <div class="item" ng-repeat="s in status">
                        <div class="itemBox" ng-class="{'active': s.status}" ng-click="onWebsite(s)">
                            <img class="yesTips" src="http://7xsrk6.com2.z0.glb.qiniucdn.com/11176E901CF-4311-4524-A5CD-1E61F5801437@1x.png" alt="" ng-if="s.status"/>
                            <img class="logo" ng-src="{{s.yesUrl}}" alt="" ng-if="s.status"/>
                            <img class="logo" ng-src="{{s.noUrl}}" alt="" ng-if="!s.status"/>
                            <div class="stext active" ng-if="s.status">{{s.yesText}}</div>
                            <div class="stext" ng-if="!s.status"><a href="{{s.href}}">{{s.noText}}</a></div>
                        </div>
                    </div>
                </div>
                <div class="sbtn" ng-class="{'disabled': !status['isOnlinePay'].status || !status['campBasicInfo'].status}" ng-click="changeSiteState()">网站上线</div>
            </div>
        </div>
        <div class="salesite-operation-success" ng-if="(status.isOnlinePay.status && status.campBasicInfo.status)">
            <div class="successbox">
                <div class="hr"></div>
                <div class="formrow notice">
                    <div class="slabel">公告：</div>
                    <div class="stext">{{notice || "无"}}</div>
                    <div class="stime">{{noticeTime || ''}}</div>
                    <div class="sbtn" data-toggle="modal" data-target="#announcement">发布新公告</div>
                    <!--<div class="stext">公告:{{notice || "无"}}</div>-->
                    <!--<div class="stime">{{noticeTime || ''}}</div>-->
                    <!--<div class="sbtn" data-toggle="modal" data-target="#announcement">发布新公告</div>-->
                </div>
                <div class="hr2" ng-if="campUrl != ''"></div>
                <div class="formrow website" ng-if="campUrl != ''">
                    <div class="slabel">网站：</div>
                    <div class="stext"><span id="campUrl">{{campUrl}}</span></div>
                    <div class="sbtn" ng-click="copySite()">复制网址</div>
                    <div class="copy-success"><span class="copy-success-img"><img src="http://static.dingdandao.com/success-copy.png" alt=""></span><span class="copy-success-tip">复制成功!</span></div>
                </div>
                <div class="hr2" ng-if="campUrl != ''"></div>
                <div class="formrow erweima" ng-if="campQrCode != ''">
                    <div class="slabel">二维码:</div>
                    <img class="erweimapic" ng-src="{{campQrCode}}" alt="营地二维码"/>
                    <div class="sbtn"><a ng-href="{{campQrCode}}" download>下载二维码</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>