.inventoryGrid {
  width: 745px;
  //max-height: 600px;
  //overflow-y: auto;
  border-top:4px solid #4A90E2;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  table {
    width: 100%;
    border-collapse: collapse;
    thead tr{
      height: 49px!important;
    }
    th {
      text-align: center;
      height: 49px!important;
      font-weight: bold;
      width: 100px;
      background-color: #F7F7F7;
    }
    tr{
      height: 75px;
      td {
        font-size: 12px;
        text-align: center;
        border: 1px #D8D8D8 solid;
        p{
          line-height: 25px;
        }
        img{
          transition: 300ms linear;
        }
      }
    }
    td:nth-child(even) {
      background-color: #F9F9F9;
    }
    tr.subclass.hide{
      display: none;
    }
  }
}

#editInven, #editInvenForPatch{
  .title{
    margin-top: 10px;
    margin-right: 49px;
    font-size: 16px;
  }
  .edit{
    margin-top: 20px;
    width: 100%;
    position: relative;
    height: 43px;
    .label{
      width: auto;
      height: 50px;
      color: #666666;
      font-size: 14px;
      line-height: 43px;
      padding: 0;
      margin-right: 10px;
    }
    input{
      width: 230px;
    }
  }
  .tips{
    width: 110px; height: 20px; line-height: 20px; text-align: left; margin-left: 122px; font-size: 14px; color: #666666;
    margin-top: 9px;
  }
  .footer{
    margin-top: 30px;
  }
  button {
    width: auto;
    height: auto;
    font-size: 14px;
  }
}

#editPatch{
  .title{
    height: 44px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 31px;
    color: #4A90E2;
  }
  .tips{
    width: 70px;
    height: 20px;
    color: #4A90E2;
    font-size: 14px;
    line-height: 20px;
    margin-top: 29px;
    margin-left: 20px;
  }
  .label1{
    width: 100px;
    margin-left: 20px;
    margin-top: 15px;
    height: 20px;
    line-height: 20px;
    color: #4a90e2;
    font-size: 14px;
  }
  .numofall{
    display: block;
    width: 348px;
    height: 43px;
    border-radius: 5px;
    margin-top: 13px;
    margin-left: 20px;
    border: 1px solid #ccc;;
  }
  .monthPick{
    width: 767px;
    height: 44px;
    margin-top: 13px;
    margin-left: 20px;
    .month{
      font-size: 31px;
      line-height: 44px;
      color: #4a90e2;
      width: 100px;
      float: left;
    }
    .pickers{
      float: right;
      position: relative;
      top: 6px;
      button{
        width: 69px;
        height: 31px;
        border-radius: 5px;
        border: 1px #4a90e2 solid;
        background-color: #fff;
        color: #4a90e2;
        font-size: 12px;
        margin: 0 13px;
        cursor: pointer;
      }
    }
  }
  .patchGrid {
    width: 767px;
    border-top:4px solid #4A90E2;
    margin-top: 11px;
    margin-left: 20px;
    float: left;
    table {
      border-collapse: collapse;
      th {
        text-align: center;
        height: 49px;
        font-weight: bold;
        width: 110px;
        background-color: #F7F7F7;
      }
      tr{
        height: 109px;
        td {
          color: black;
          font-size: 12px;
          text-align: center;
          border: 1px #979797 solid;
          p{
            line-height: 25px;
          }
          p.date{
            color: #9B9B9B;
          }
          p.left{
            color: #4A90E2;
          }
        }
        td.fixed{
          width: 150px;
        }
      }
      thead tr{
        height: 49px;
      }
    }
  }
  .operate{
    margin-top: 10px;
  }
  .footer{
    margin-top: 37px;
  }
}

.inventoryOperate{
  position: fixed;
  margin-left: 775px;
  margin-top: 44px;
}