.create{
    cursor: pointer;
    float: right;
    color: #4A90E2;
    height: 36px;
    line-height: 36px;
    img {
        margin-right: 15px;
    }
}

.categoryGrid {
    width: 900px;
    border-top:4px solid #4A90E2;
    margin-top: 40px;
    float: left;
}