<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>易露云</title>
  <link rel="stylesheet" href="/eluyun/static/css/main.min.css">
  <script src="/eluyun/static/js/jquery.min.js"></script>
  <script src="/eluyun/static/js/main.js"></script>
</head>
<body>
  <div class="mainContainer clearfloat">
    <div class="content clearfloat">
      <div class="title clearfloat">
        <span class="campName"></span>

      </div>
      <div class="priceGrid">
        <table>
          <thead>
            <tr>
              <th>房型</th>
              <th>价格类型</th>
              <th>
                <p>11-02</p>
                <p>今天</p>
              </th>
              <th>
                <p>11-02</p>
                <p>周二</p>
              </th>
              <th>
                <p>11-02</p>
                <p>周三</p>
              </th>
              <th>
                <p>11-02</p>
                <p>周四</p>
              </th>
              <th>
                <p>11-02</p>
                <p>周五</p>
              </th>
              <th>
                <p>11-02</p>
                <p>周六</p>
              </th>
              <th>
                <p>11-02</p>
                <p>周日</p>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="operate mainOperate">
        <div class="first"></div>
        <div class="second hide"></div>
      </div>
      </div>
    </div>
</body>
</html>