@import '../../variable.scss';

.salesite-operation-status{
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin-top: 69px;
  margin-bottom: 20px;
  font-size:16px;
  .slabel{
    float: left;
    color:#5d6f82;
    text-align:left;
    padding-right: 24px;
  }
  .scontent{
    float: left;
  }
  .scontent.online{
    color: #4a90e2;
  }
  .scontent.offline{
    color: #a8a8a8;
  }
  .scontent.fail{
    color: $color6;
  }
  .scontent.ready{
    color: $color5;
  }
  .scontent.on{
    color:#4a90e2;
  }
  .sbtn{
    float: right;
    background:$color1;
    border-radius: $BorderRadius;
    width:100px;
    height:24px;
    line-height: 24px;
    text-align: center;
    @include contentNormal();
    color: white;
    cursor: pointer;
    margin-right: 390px;
  }
  .sbtn:hover{
    background: $color1Hover;
  }
  .sbtn:active{
    background: $color1Click;
  }
}

.salesite-operation-fail{
  //display: none;
  width: 100%;
  .failbox{
    overflow: hidden;
    background:#f6f6f6;
    box-shadow:0px 2px 4px 0px #b4c1ce;
    width:574px;
    height:218px;
    border-radius: $BorderRadius;
    .hr{
      background:#3d83e1;
      width:100%;
      height:6px;
    }
    .stitle{
      @include subTitle1();
      width: 100%;
      line-height: 20px;
      height: 20px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 18px;
    }
    .wrapper{
      width: 100%;
      height: 110px;
      margin: 0 auto 20px auto;
      text-align: center;
      .item{
        display: inline-block;
        width: 158px;
        height: 110px;
        margin: auto 34px;
        //background: green;
        .itemBox{
          width: 158px;
          height: 110px;
          background:#ffffff;
          border:1px solid #dadada;
          border-radius:2px;
          padding-top: 10px;
          position: relative;
          &:hover{
            cursor: pointer;
          }
        }
        .itemBox.active{
          border:1px solid #4a90e2;
        }
        img.logo{
          width: 64px;
          height: 64px;
        }
        .stext{
          text-align:center;
          width: 100%;
          margin-top: 10px;
        }
        .stext.active{
          @include contentNormal();
        }
        a{
          @include contentLink();
          text-decoration: none;
        }
        .yesTips{
          position: absolute;
          right: -10px;
          top: -10px;
          z-index: 1;
        }
      }
      .item:first-child{
        margin-left: 0;
      }
      .item:last-child{
        margin-right: 0;
      }
    }
    .sbtn{
      @include contentNormal();
      background: $color1;
      color: white;
      width: 100px;
      height: 24px;
      line-height: 24px;
      margin: auto;
      border-radius: $BorderRadius;
      text-align:center;
      cursor: pointer;
    }
    .sbtn:hover{
      background: $color1Hover;
    }
    .sbtn:active{
      background: $color1Click;
    }
    .sbtn.disabled{
      @include contentNormal();
      background: $colorInvalid;
      color:white;
      cursor: not-allowed;
    }
  }
  margin-bottom: 20px;
}

.salesite-operation-success{
  width: 100%;
  .successbox{
    background:#f6f6f6;
    box-shadow:0px 2px 4px 0px #b4c1ce;
    overflow: hidden;
    border-radius: $BorderRadius;
    width:574px;
    min-height: 324px;
    height:auto;
    margin-top: 20px;
    margin-bottom: 236px;
  }
  .hr{
    background:#3d83e1;
    width:100%;
    height:6px;
  }
  .hr2{
    border:1px solid #dadada;
    width:100%;
    height:1px;
  }
  .formrow{
    width: 100%;
    position: relative;
    @include contentNormal();
    .slabel{
      position: absolute;
      left: 24px;
      top: 10px;
    }
    .stext{
      vertical-align: top;
      width: 360px;
      margin-left: 60px;
      padding-top: 10px;
      line-height: 17px;
    }
    .stime{
      @include contentInvalid();
      height: 17px;
      line-height: 17px;
      margin-right: 154px;
      color: #a8a8a8;
      text-align: right;
    }
  }
  .formrow.website{
    margin-top: 4px;
    margin-bottom: 17px;
  }
  .formrow.notice{
    height: auto;
    padding-bottom: 10px;
    .stext{
      height: auto;
      word-break: break-all;
    }
  }
  .sbtn{
    background:$color1;
    border-radius: $BorderRadius;
    width:100px;
    height:24px;
    line-height: 24px;
    text-align: center;
    @include contentNormal();
    color: white;
    position: absolute;
    top: 10px;
    right: 24px;
    cursor: pointer;
  }
  .sbtn:hover{
    background: $color1Hover;
  }
  .sbtn:active{
    background: $color1Click;
  }
  .formrow.erweima{
    padding-bottom: 10px;
    .erweimapic{
      display: inline-block;
      width: 128px;
      height: 128px;
      margin-left: 72px;
      margin-top: 10px;
      img{
        width: 128px;
        height: 128px;
      }
    }
    .sbtn{
      top: 44px;
    }
  }
}

#copySuccess{
  .modal-dialog {
    width: 318px;
  }
  .modal-content {
    width: 318px;
    height: 162px;
    background:#f5f5f5;
    border-radius: 2px;
    padding: 0;
  }
  .label1 {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    color: #4A90E2;
    margin-top: 50px;
  }
  .label2{
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #414141;
    margin-top: 18px;
  }
  .hr{
    width: 100%;
    height: 4px;
    background-color: #4A90E2;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#announcement{
  .modal-dialog {
    width: 700px;
  }
  .modal-content {
    width: 700px;
    height: 360px;
    background:#f5f5f5;
    border-radius: 2px;
    padding: 0;
  }
  .hr{
    width: 100%;
    height: 4px;
    background-color: #4A90E2;
    position: absolute;
    top: 0;
    left: 0;
  }
  .title1 {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    color: #4A90E2;
    margin-top: 26px;
  }
  textarea{
    background:#ffffff;
    border:1px solid #cccccc;
    border-radius:2px;
    width:600px;
    height:150px;
    display: block;
    margin: auto;
    padding: 11px 21px;
    font-size: 14px;
    margin-top: 19px;
  }
  .counter{
    font-size: 12px;
    color: #a8a8a8;
    width: 600px;
    margin: auto;
    text-align: right;
    margin-top: 9px;
    line-height: 17px;
    height: 17px;
    .current.full{
      color: #d0021b;
    }
  }
  .errorTips{
    font-size: 12px;
    color: #d0021b;
    width: 600px;
    margin: auto;
    text-align: left;
    margin-top: -17px;
    line-height: 17px;
  }
  .btns{
    width: 600px;
    height: 40px;
    margin: auto;
    margin-top: 33px;
    .mmbtn{
      cursor: pointer;
    }
    .publish{
      background:#4a90e2;
      border-radius:2px;
      width:100px;
      height:40px;
      float: right;
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      line-height: 40px;
    }
    .publish:hover, .publish:focus{
      background: #3a71b0;
    }
    .cancel{
      border:1px solid #4a90e2;
      border-radius:2px;
      width:100px;
      height:40px;
      float: right;
      font-size: 14px;
      color: #4a90e2;
      text-align: center;
      line-height: 40px;
      margin-right: 49px;
    }
    .cancel:hover, .cancel:focus{
      background: #dddddd;
    }
  }
}