@import '../../variable.scss';

.codesite-operation-success{
  width: 100%;
  .successbox{
    background:#fafafa;
    box-shadow:0px 2px 4px 0px rgba(0, 0, 0, .15);
    overflow: hidden;
    border-radius: $BorderRadius;
    width:618px;
    //min-height: 324px;
    padding-bottom: 20px;
    height:auto;
    margin-top: 20px;
    a{
      text-decoration: underline;
      color: #178ce6;
      font-size: 12px;
    }
  }
  .hr{
    background:#178ce6;
    width:100%;
    height:4px;
  }
  .formrow{
    width: 100%;
    position: relative;
    @include contentNormal();
    font-size: 14px;
    .clabel{
      position: absolute;
      left: 16px;
      top: 13px;
    }
    .ctext{
      height: 33px;
      vertical-align: top;
      width: 420px;
      margin-left: 65px;
      padding-top: 12px;
      line-height: 20px;
    }
  }
  .cbtn{
    background:$color1;
    border-radius: $BorderRadius;
    width:100px;
    height:24px;
    line-height: 24px;
    text-align: center;
    @include contentNormal();
    font-size: 14px;
    color: white;
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
  }
  .copy-success {
    position: absolute;
    top: 6px;
    right: 126px;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: none;
    text-align: center;
  }
  .cbtn:hover{
    background: $color1Hover;
  }
  .cbtn:active{
    background: $color1Click;
  }
  .formrow.erweima{
    padding-bottom: 10px;
    .erweimapic{
      display: inline-block;
      width: 150px;
      height: 213px;
      margin-left: 75px;
      margin-top: 10px;
      vertical-align: top;
    }
    .c-btn {
      display: inline-block;
      margin-left: 45px;
      margin-top: 10px;
      background:$color1;
      border-radius: $BorderRadius;
      width:100px;
      height:24px;
      line-height: 24px;
      text-align: center;
      @include contentNormal();
      font-size: 14px;
      color: white;
      cursor: pointer;
      a{
        text-decoration: none;
        color: white;
      }
    }
    .c-btn:hover{
      background: $color1Hover;
    }
    .c-btn:active{
      background: $color1Click;
    }
  }
}
.codesite-operation-status {
  width: 100%;
  .statusbox {
    background:#fafafa;
    box-shadow:0px 2px 4px 0px rgba(0, 0, 0, .15);
    border-radius: $BorderRadius;
    width:618px;
    //min-height: 324px;
    height:auto;
    margin-top: 30px;
    .hr {
      background:#178ce6;
      width:100%;
      height:4px;
    }
    .table-box {
      width: 100%;
      padding: 15px 16px 18px;
      .c-text {
        width: 100px;
        height: 24px;
        line-height: 24px;
      }
      .dot {
        display: inline-block;
        background: #178ce6;
        width: 6px;
        height: 6px;
        margin-right: 4px;
        border-radius: 100%;
        vertical-align: middle;
      }
      .dot-grey {
        background: #cccccc !important;
      }
      .c-status {
        display: inline-block;
        width: 42px;
        height: 24px;
        line-height: 24px;
      }
      .c-btn {
        display: inline-block;
        background:$color1;
        border-radius: $BorderRadius;
        width:100px;
        height:24px;
        line-height: 24px;
        text-align: center;
        @include contentNormal();
        font-size: 14px;
        color: white;
        cursor: pointer;
      }
      .c-btn:hover{
        background: $color1Hover;
      }
      .c-btn:active{
        background: $color1Click;
      }
      .cbtn-grey {
        position: relative;
        display: inline-block;
        background:#cccccc;
        border-radius: $BorderRadius;
        width:100px;
        height:24px;
        line-height: 24px;
        text-align: center;
        @include contentNormal();
        font-size: 14px;
        color: white;
        cursor: pointer;
      }
      .tips {
        position: absolute;
        color: #666666;
        width: 156px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        background: #ffffff;
        top: 34px;
        border: 1px solid #cccccc;
        border-radius: $BorderRadius;
        a:hover, a:visited, a:link, a:active {
          text-decoration: none;
          color: #178ce6;
        }
      }
      .tips-arrow {
        position: absolute;
        width: 12px;
        height: 6px;
        top:19px;
        left: 23px;
        cursor: pointer;
      }
    }
  }
}
