<div class="createShop">
  <h1>新增娱乐</h1>
  <h2>基本信息</h2>
  <label for="name">餐饮名称</label>
  <input type="text" id="name" placeholder="用于展示给客户">
  <label for="shortName">简称</label>
  <input type="text" id="shortName" placeholder="用于自己管理">
  <label for="unit">单位</label>
  <input type="text" id="unit" placeholder="请填写单位">
  <label for="number">适用人数</label>
  <input type="text" id="number" placeholder="请填写纯数字">
  <label for="inventory">默认库存</label>
  <input type="text" id="inventory" placeholder="请填写纯数字">
  <label for="price">单价</label>
  <input type="text" id="price" placeholder="请填写纯数字">
  <label for="description">描述</label>
  <textarea name="description" id="description" cols="30" rows="10" placeholder="请填写描述"></textarea>
  <div class="footer">
    <button class="btn-cancel">取消修改</button>
    <button class="btn-ok">确认新增</button>
  </div>
</div>