<div class="mid">
  <span class="campName">千岛湖星空帐篷营地</span>
  <div class="create">
    <img src="static/image/icon_xinjian.png" alt="新建">
    <span>新建娱乐</span>
  </div>
  <div class="categoryGrid"></div>

</div>
<div class="operate">
  <div class="first">
    <div class="leftOperate">
      <img src="static/image/icon_zileiguanli.png" alt="">
      <p>娱乐点管理</p>
    </div>
    <div class="rightOperate">
      <img src="static/image/icon_bianjijibenxinxi.png" alt="">
      <p>编辑基本信息</p>
    </div>
    <div class="leftOperate">
      <img src="static/image/icon_shanchu.png" alt="">
      <p>删除</p>
    </div>
  </div>
  <div class="second">
    <div class="leftOperate">
      <img src="static/image/icon_bianjijibenxinxi.png" alt="">
      <p>编辑展示信息</p>
    </div>
    <div class="rightOperate">
      <img src="static/image/icon_shangjia.png" alt="">
      <p>上架</p>
      <p class="putaway">目前未上架</p>
    </div>
  </div>
</div>
