<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="renderer" content="webkit">
  <title>易露云</title>
  <link rel="stylesheet" href="/eluyun/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--[if lte IE 6]>
  <link rel="stylesheet" type="text/css" href="/eluyun/static/css/bootstrap-ie6.min.css">
  <link rel="stylesheet" type="text/css" href="/eluyun/static/css/ie.css">
  <![endif]-->
  <link rel="stylesheet" href="/eluyun/static/css/main.min.css">
  <script src="/eluyun/bower_components/jquery.min.js"></script>
  <script src="/eluyun/static/js/jquery.cookie.js"></script>
  <script src="/eluyun/static/js/jquery.validate.min.js"></script>
  <script src="/eluyun/static/js/validation.js"></script>
  <script src="/eluyun/static/js/ajaxurl.js"></script>
  <script src="/eluyun/static/js/jquery.ui.widget.js"></script>
  <script src="/eluyun/static/js/jquery.iframe-transport.js"></script>
  <script src="/eluyun/static/js/jquery.fileupload.js"></script>
  <script src="/eluyun/static/js/bootstrap.min.js"></script>
  <script src="/eluyun/static/js/store.min.js"></script>
  <!--[if lte IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
  <![endif]-->
  <!--[if lte IE 7]>
  <script src="/eluyun/static/js/json2.js"></script>
  <![endif]-->
  <!--[if lte IE 6]>
  <script type="text/javascript" src="/eluyun/static/js/bootstrap-ie.js"></script>
  <![endif]-->
  <script src="/eluyun/static/js/main.js"></script>
  <script src="/eluyun/static/js/app/category/entertainment/entertainment.js"></script>
</head>
<body>
  <!-- 新增娱乐 -->
  <div class="modal fade" role="dialog" id="createEnt">
  <div class="modal-dialog modal-w626">
    <div class="modal-content clearfloat">
      <div class="createEnt clearfloat">
        <form class="inputFiled">
          <h1>新增娱乐</h1>
          <h2>基本信息</h2>
          <ul>
            <li>
              <label for="createETName">娱乐名称</label>
              <input maxlength="16" type="text" class="text required" id="createETName" name="createETName" placeholder="用于展示给客户">
            </li>
            <li>
              <label for="createETShortName">简称</label>
              <input maxlength="8" type="text" class="text required" id="createETShortName" name="createETShortName" placeholder="用于自己管理">
            </li>
            <li>
              <label for="createETUnit">单位</label>
              <input maxlength="8" type="text" class="text required" id="createETUnit" name="createETUnit" placeholder="例如：次/辆">
            </li>
            <li>
              <label for="createETFitNum">适用人数</label>
              <input maxlength="8" type="text" class="text required" id="createETFitNum" name="createETFitNum" placeholder="请填写纯数字">
            </li>
            <li>
              <label for="createETInventory">默认库存</label>
              <input maxlength="8" range="[1,99999999]" digits="true" type="text" class="text required" id="createETInventory" name="createETInventory" placeholder="请填写纯数字">
            </li>
            <li>
              <label for="createETPrice">单价</label>
              <input maxlength="8" range="[0,99999999]" type="text" class="text required" id="createETPrice" name="createETPrice" placeholder="请填写纯数字">
            </li>
            <li>
              <label for="createETDescription">描述</label>
              <textarea maxlength="140" name="description" id="createETDescription" name="createETDescription" placeholder="请填写描述"></textarea>
            </li>
          </ul>
        </form>
        <div class="footer">
          <button class="btn-cancel">取消</button>
          <button class="btn-ok" id="createETOk">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- 编辑基本信息 -->
  <div class="modal fade" role="dialog" id="editET">
    <div class="modal-dialog modal-w626">
      <div class="modal-content clearfloat">
        <div class="editET clearfloat">
          <form class="inputFiled">
            <h1>编辑娱乐</h1>
            <h2>基本信息</h2>
            <ul>
              <li>
                <label for="editETName">娱乐名称</label>
                <input maxlength="16" type="text" class="text required" id="editETName" name="editETName" placeholder="用于展示给客户">
              </li>
              <li>
                <label for="editETShortName">简称</label>
                <input maxlength="8" type="text" class="text required" id="editETShortName" name="editETShortName" placeholder="用于自己管理">
              </li>
              <li>
                <label for="editETUnit">单位</label>
                <input maxlength="8" type="text" class="text required" id="editETUnit" name="editETUnit" placeholder="例如：次/辆">
              </li>
              <li>
                <label for="editETFitNum">适用人数</label>
                <input maxlength="8" range="[1,99999999]" digits="true" type="text" class="text required" id="editETFitNum" name="editETFitNum" placeholder="请填写纯数字">
              </li>
              <li>
                <label for="editETInventory">默认库存</label>
                <input maxlength="8" range="[1,99999999]" digits="true" type="text" class="text required" id="editETInventory" name="editETInventory" placeholder="请填写纯数字">
              </li>
              <li>
                <label for="editETPrice">单价</label>
                <input maxlength="8" range="[0,99999999]" type="text" class="text required" id="editETPrice" name="editETPrice" placeholder="请填写纯数字">
              </li>
              <li>
                <label for="editETDescription">描述</label>
                <textarea maxlength="140" name="description" id="editETDescription" name="editETDescription" placeholder="请填写描述"></textarea>
              </li>
            </ul>
          </form>
          <div class="footer">
            <button class="btn-cancel">取消</button>
            <button class="btn-ok" id="editETOk">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 编辑展示信息 -->
  <div class="modal fade" role="dialog" id="editDisplayInfo">
    <div class="modal-dialog modal-w626">
      <div class="modal-content clearfloat">
        <div class="editDisplayInfo clearfloat">
          <h1>编辑展示信息-烧烤</h1>
          <p class="tip">这些信息会出现在易露营的网站以及APP上，更详细的信息会帮助你吸引来更多客人哦</p>
          <div class="clearfloat">
            <div class="photo">
              <h2>图片管理</h2>
              <div class="cover">
                <div class="title clearfloat">
                  <span>封面</span>
                  <div class="create">
                    <img src="/eluyun/static/image/icon_xinjian.png" alt="新增">
                    <span>上传图片</span>
                  </div>
                  <input id="cover" type="file" name="file" class="hide" multiple>
                </div>
                <div class="photoContainer"></div>
                <p class="coverError hide">请上传封面<p>
              </div>
              <div class="detail">
                <div class="title clearfloat">
                  <span>详细图片</span>
                  <div class="create">
                    <img src="/eluyun/static/image/icon_xinjian.png" alt="新增">
                    <span>上传图片</span>
                  </div>
                  <input id="detail" type="file" name="file" class="hide" multiple>
                </div>
                <div class="photoContainer"></div>
                <p class="detailError hide">请上传详细图片<p>
              </div>
            </div>
            <div class="operate">
              <div class="first">
                <div class="operateItem hide">
                  <div id="replaceCover" class="clickDiv">
                    <img src="/eluyun/static/image/icon_bianjijibenxinxi.png" alt="">
                    <p>替换图片</p>
                  </div>
                </div>
                <div class="operateItem hide">
                  <div id="deleteCover" class="clickDiv">
                    <img src="/eluyun/static/image/icon_shanchu.png" alt="">
                    <p>删除</p>
                  </div>
                </div>
              </div>
              <div class="second">
                <div class="operateItem hide">
                  <div id="replaceDetail" class="clickDiv">
                    <img src="/eluyun/static/image/icon_bianjijibenxinxi.png" alt="">
                    <p>替换图片</p>
                  </div>
                  <input type="file" class="hide" name="file" id="replaceDetailImg"/>
                </div>
                <div class="operateItem hide">
                  <div id="deleteDetail" class="clickDiv">
                    <img src="/eluyun/static/image/icon_shanchu.png" alt="">
                    <p>删除</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <button class="btn-cancel">取消</button>
            <button class="btn-ok" id="editETShowOk">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainContainer">
    <div class="content">
      <div class="title">
        <span class="campName"></span>
        <div class="create" data-toggle="modal" data-target="#createEnt">
          <img src="/eluyun/static/image/icon_xinjian.png" alt="新增">
          <span>新增娱乐</span>
        </div>
      </div>
        <div class="categoryGrid">
          <table>
            <thead>
              <tr class="head">
                <th>娱乐</th>
                <th>简称</th>
                <th>单位</th>
                <th>适用人数</th>
                <th>默认库存</th>
                <th>单价</th>
                <th>描述</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      <div class="mainOperate operate">
        <div class="first clearfloat">
          <div class="operateItem hide">
            <div class="clickDiv" id="editETButton" data-toggle="modal" data-target="#editET">
              <img src="/eluyun/static/image/icon_bianjijibenxinxi.png" alt="">
              <p>编辑基本信息</p>
            </div>
          </div>
          <div class="operateItem hide">
            <div class="clickDiv" id="deleteETButton">
              <img src="/eluyun//static/image/icon_shanchu.png" alt="">
              <p>删除</p>
            </div>
          </div>
        </div>
        <div class="second clearfloat hide">
          <div class="operateItem hide">
            <div class="clickDiv" id="editETShowInfoButton" data-toggle="modal" data-target="#editDisplayInfo">
              <img src="/eluyun/static/image/icon_bianjijibenxinxi.png" alt="">
              <p>编辑展示信息</p>
            </div>
          </div>
          <div class="operateItem hide shangjia">
            <div class="clickDiv modifyStateButton">
              <img src="/eluyun/static/image/icon_shangjia.png" alt="">
              <p>上架</p>
            </div>
            <p class="putaway">目前未上架</p>
          </div>
          <div class="operateItem hide xiajia">
            <div class="clickDiv modifyStateButton">
              <img src="/eluyun/static/image/icon_xiajia.png" alt="">
              <p>下架</p>
            </div>
            <p class="putaway">已上架</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    //列表对象
    var ETCategoryList = {};
    //渲染
    ETCategoryList.render = function(){
      var str = "";
      $.each(ETCategoryList.list, function(index, element){
        str += "<tr class='mainClass'>" +
                "<td>" + element.name + "</td>" +
                "<td>" + element.shortName + "</td>" +
                "<td>" + element.unit + "</td>" +
                "<td>" + element.fitNum + "</td>" +
                "<td>" + element.inventory + "</td>" +
                "<td>" + element.price + "</td>" +
                "<td>" + element.description + "</td>" +
                "<input type='hidden' class='state' value=" + element.state + " />" +
                "<input type='hidden' class='id' value=" + element.id + " /></tr>";
      });
      $(".categoryGrid tbody").html(str);
      $(".mainOperate .operateItem").addClass("hide");
      $(".mainOperate .second").addClass("hide");
      $(".mainClass").on("click", function(){
        $(".mainClass").removeClass("mainActive");
        $(".subclass").removeClass("subActive");
        $(this).addClass("mainActive");
        $(".mainOperate .operateItem").removeClass("hide");
        $(".mainOperate .second").removeClass("hide");
        if ($(this).find(".state").val() == 0) {
          $(".xiajia").addClass("hide");
        } else {
          $(".shangjia").addClass("hide");
        }
      })
    };
    //判断空属性
    function emptyFilter(data){
      $.each(data, function(index, element){
        for (var name in element) {
          if (element[name] == null || element[name] == undefined) {
            element[name] = "";
          }
        }
      });
      return data;
    }
    //session失效验证
    function sessionValidate(data){
      if (data.code == 14) {
        location.href = "/eluyun/view/loginTest.html";
      }
    }
    //读取娱乐品类列表
    function loadETCategoryList(){
      $.ajax({
        url: host + pullOtherCategoryListUrl + ";jsessionid=" + $.cookie("jsessionid"),
        data: {type: 2},
        success: function(result){
          ETCategoryList.list = result.data.list;
          ETCategoryList.render();
        },
        dataFilter: function(result){
          result = JSON.parse(result);
          sessionValidate(result);
          result.data.list = emptyFilter(result.data.list);
          return JSON.stringify(result);
        }
      });
    }
    //添加
    function addETCategory(that){
      var item = {
        name: $("#createETName").val(),
        shortName: $("#createETShortName").val(),
        unit: $("#createETUnit").val(),
        fitNum: $("#createETFitNum").val(),
        inventory: $("#createETInventory").val(),
        price: $("#createETPrice").val(),
        description: $("#createETDescription").val(),
        type: 2
      };
      $.ajax({
        url: host + addOrEditExtraCategoryUrl + ";jsessionid=" + $.cookie("jsessionid"),
        type: "POST",
        data: item,
        success: function(result){
          if (errorHandler(result)) {
            clearModal(that);
          } else {
            return;
          }
          item.id = result.data.id;
          ETCategoryList.list.push(item);
          ETCategoryList.render();
        }
      })
    }
    //编辑基本信息
    function editETCategory(that){
      var item = {
        id: $(".mainActive .id").val(),
        name: $("#editETName").val(),
        shortName: $("#editETShortName").val(),
        unit: $("#editETUnit").val(),
        fitNum: $("#editETFitNum").val(),
        inventory: $("#editETInventory").val(),
        price: $("#editETPrice").val(),
        description: $("#editETDescription").val(),
        type: 2
      };
      $.ajax({
        url: host + addOrEditExtraCategoryUrl + ";jsessionid=" + $.cookie("jsessionid"),
        type: "POST",
        data: item,
        success: function(result){
          if (errorHandler(result)) {
            clearModal(that);
          } else {
            return;
          }
          $.each(ETCategoryList.list, function(index, element){
            if (element.id == item.id) {
              ETCategoryList.list[index] = item;
              return false; //等于break
            }
          });
          ETCategoryList.render();
        }
      });
    }

    //上架或者下架
    function modifyState(item){
      $.ajax({
        url: host + modifyStateUrl + ";jsessionid=" + $.cookie("jsessionid"),
        data: item,
        dataFilter: function (result) {
          result = JSON.parse(result); //先转为json
          sessionValidate(result);
          return JSON.stringify(result); //再转为字符串传回去
        },
        success: function (result) {
          if (!errorHandler(result)) {
            return;
          }
          $.each(ETCategoryList.list, function(index, element){
            if (element.id == item.id) {
              ETCategoryList.list[index].state = item.state;
              return false; //等于break
            }
          });
          ETCategoryList.render();
        }
      })
    }

    //删除
    function deleteETCategory(){
      var id = $(".mainActive .id").val();
      $.ajax({
        url: host + deleteOtherCategoryUrl + ";jsessionid=" + $.cookie("jsessionid"),
        data: {id: id},
        success: function(result){
          if (!errorHandler(result)) {
            return;
          }
          $.each(ETCategoryList.list, function(index, element){
            if (element.id == id) {
              ETCategoryList.list.splice(index, 1);
              return false; //等于break
            }
          });
          ETCategoryList.render();
        }
      });
    }

    //读取展示信息
    function pullETShowInfo(id){
      $.ajax({
        url: host +pullShowInfoUrl + ";jsessionid=" + $.cookie("jsessionid"),
        data: {id: id},
        dataFilter: function(result) {
          result = JSON.parse(result); //先转为json
          sessionValidate(result);
          return JSON.stringify(result); //再转为字符串传回去
        },
        success: function(result){
          showETShowInfo(result.data);
        }
      })
    }

    //显示展示信息
    function showETShowInfo(data){
      if (data.coverUrl != null) {
        $(".cover .photoContainer").html("<img onclick='selectPhoto(this)' class='coverImg' height='205px' src='" + data.coverUrl + "' />");
        $(".cover .create").hide();
      } else {
        $(".cover .create").show();
      }
      if (data.detailImgUrl != null) {
        var detailStr = "";
        $.each(data.detailImgUrl, function(index, element){
          detailStr += "<img onclick='selectPhoto(this)' class='detailImg' height='102px' src='" + element + "' />"
        });
        $(".detail .photoContainer").html(detailStr);
        if ($(".detailImg").length == 6) {
          $(".detail .create").hide();
        } else {
          $(".detail .create").show();
        }
      } else {
        $(".detail .create").show();
      }
      //上传图片
      $("#cover").fileupload({
        url: host + uploadImageUrl + ";jsessionid=" + $.cookie("jsessionid"),
        done: function (e, result) {
          $(".cover .photoContainer").html("<img onclick='selectPhoto(this)' class='coverImg' height='205px' src='" + result.result.data.url + "' />");
          $(".cover .create").hide();
          $(".coverError").addClass("hide");
        }
      });
      $("#detail").fileupload({
        url: host + uploadImageUrl + ";jsessionid=" + $.cookie("jsessionid"),
        done: function (e, result) {
          $(".detail .photoContainer").append("<img onclick='selectPhoto(this)' class='detailImg' height='102px' src='" + result.result.data.url + "' />");
          if ($(".detailImg").length == 6) {
            $(".detail .create").hide();
          }
          $(".detailError").addClass("hide");
        }
      })
    }

    //准备展示信息数据
    function makeETShowInfo(that){
      var detailImgUrl = [];
      $(".detailImg").each(function(){
        detailImgUrl.push($(this).attr("src"));
      });
      var item = {
        coverUrl: $(".coverImg").attr("src"),
        detailImgUrl: JSON.stringify(detailImgUrl),
        id: $(".categoryGrid").find(".mainActive").find(".id").val()
      };
      sendETShowInfo(item, that);
    }

    //选择图片
    function selectPhoto(obj){
      if ($(obj).hasClass("coverImg")) {
        $(obj).addClass("photoSelected");
        $("#editDisplayInfo .first .operateItem").removeClass("hide");
      } else {
        $(".detailImg").removeClass("photoSelected");
        $(obj).addClass("photoSelected");
        $("#editDisplayInfo .second .operateItem").removeClass("hide");
      }
    }

    //发送展示信息
    function sendETShowInfo(item, that){
      $.ajax({
        url: host + editShowInfoUrl + ";jsessionid=" + $.cookie("jsessionid"),
        data: item,
        dataFilter: function(result) {
          result = JSON.parse(result); //先转为json
          sessionValidate(result);
          return JSON.stringify(result); //再转为字符串传回去
        },
        success: function(result){
          if (errorHandler(result)) {
            clearModal(that);
          }
        }
      })
    }
    $(function(){
      $("form").validate();
      //读取营地名称和用户名
      $(".campName").html(store.get("campName"));
      $(".userName").find("a").html(store.get("userName"));
      loadETCategoryList();
    });
    $("#modifyStateButton").on("click", function(){
      var item = {
        id: $(".mainActive .id").val(),
        state: 1 - $(".mainActive .state").val()
      };
      modifyState(item);
    });
    $("#createETOk").on("click", function(){
      if (!$("#createET form").valid()) {
        return;
      }
      var that = this;
      addETCategory(that);
    });
    $("#editETOk").on("click", function(){
      if (!$("#editET form").valid()) {
        return;
      }
      var that = this;
      editETCategory(that);
    });
    $("#editETButton").on("click", function(){
      $("#editETName").val($(".mainActive td:eq(0)").html());
      $("#editETShortName").val($(".mainActive td:eq(1)").html());
      $("#editETUnit").val($(".mainActive td:eq(2)").html());
      $("#editETFitNum").val($(".mainActive td:eq(3)").html());
      $("#editETInventory").val($(".mainActive td:eq(4)").html());
      $("#editETPrice").val($(".mainActive td:eq(5)").html());
      $("#editETDescription").val($(".mainActive td:eq(6)").html());
    });
    $("#deleteETButton").on("click", function(){
      confirmCallback = deleteETCategory;
      dialogConfig = {title:"提示", message:"您确定要删除吗？"};
      confirmDialog(dialogConfig,confirmCallback);
    });
    //上架或下架
    $(".modifyStateButton").on("click", function(){
      var item = {
        id: $(".mainActive .id").val(),
        state: 1 - $(".mainActive .state").val()
      };
      modifyState(item);
    });

    //编辑展示信息
    $("#editETShowInfoButton").on("click", function(){
      $("#editDisplayInfo h1").html("编辑展示信息-" + $(".mainActive td:eq(0)").html());
      var id = $(".mainActive .id").val();
      pullETShowInfo(id);
    });

    //删除封面
    $("#deleteCover").on("click", function(){
      $(".cover .photoSelected").remove();
      $("#editDisplayInfo .first .operateItem").addClass("hide");
      $(".cover .create").show();
    });

    //替换封面
    $("#replaceCover").on("click", function(){
      $("#cover").click();
    });

    //删除详细图片
    $("#deleteDetail").on("click", function(){
      $(".detail .photoSelected").remove();
      $("#editDisplayInfo .second .operateItem").addClass("hide");
      $(".detail .create").show();
    });

    //替换详细图片
    $("#replaceDetail").on("click", function(){
      $("#replaceDetailImg").click();
      $("#replaceDetailImg").fileupload({
        url: host + uploadImageUrl + ";jsessionid=" + $.cookie("jsessionid"),
        done: function (e, result) {
          $(".detail .photoSelected").attr("src" ,result.result.data.url);
        }
      });
    });

    $(".cover .create").on("click", function(){
      $("#cover").click();
    });
    $(".detail .create").on("click", function(){
      $("#detail").click();
    });

    //编辑展示信息确认
    $("#editETShowOk").on("click", function(){
      if ($(".cover .photoContainer").html() == "") {
        $(".coverError").removeClass("hide");
        return
      }
      if ($(".detail .photoContainer").html() == "") {
        $(".detailError").removeClass("hide");
        return
      }
      var that = this;
      makeETShowInfo(that);
    });
  </script>
</body>
</html>