<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <title>订单来了——品类管理</title>
  <link rel ="Shortcut Icon" href="/static/image/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.min.css">
</head>
<body>
  <!-- 新增娱乐 -->
  <div class="modal fade" role="dialog" id="createEnt">
  <div class="modal-dialog modal-w626">
    <div class="modal-content clearfloat">
      <div class="createEnt clearfloat">
        <form class="inputFiled">
          <h1>新增娱乐</h1>
          <h2>基本信息</h2>
          <ul>
            <li>
              <label for="createETName">娱乐名称</label>
              <input maxlength="16" type="text" class="text required" id="createETName" name="createETName" placeholder="用于展示给客户">
            </li>
            <li>
              <label for="createETShortName">简称</label>
              <input maxlength="6" type="text" class="text required" id="createETShortName" name="createETShortName" placeholder="用于自己管理">
            </li>
            <li>
              <label for="createETUnit">单位</label>
              <input maxlength="8" type="text" class="text required" id="createETUnit" name="createETUnit" placeholder="例如：次/辆">
            </li>
            <li>
              <label for="createETFitNum">适用人数</label>
              <input maxlength="8" type="text" class="text required" id="createETFitNum" name="createETFitNum" placeholder="请填写纯数字">
            </li>
            <li>
              <label for="createETInventory">默认库存</label>
              <input maxlength="8" range="[1,99999999]" digits="true" type="text" class="text required" id="createETInventory" name="createETInventory" placeholder="请填写纯数字">
            </li>
            <li>
              <label for="createETPrice">单价</label>
              <input maxlength="8" range="[0,99999999]" type="text" class="text required" id="createETPrice" name="createETPrice" placeholder="请填写纯数字">
            </li>
            <li>
              <label for="createETDescription">描述</label>
              <textarea maxlength="140" name="description" id="createETDescription" name="createETDescription" placeholder="请填写描述"></textarea>
            </li>
          </ul>
        </form>
        <div class="footer">
          <button class="btn-cancel">取消</button>
          <button class="btn-ok" id="createETOk">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- 编辑基本信息 -->
  <div class="modal fade" role="dialog" id="editET">
    <div class="modal-dialog modal-w626">
      <div class="modal-content clearfloat">
        <div class="editET clearfloat">
          <form class="inputFiled">
            <h1>编辑娱乐</h1>
            <h2>基本信息</h2>
            <ul>
              <li>
                <label for="editETName">娱乐名称</label>
                <input maxlength="16" type="text" class="text required" id="editETName" name="editETName" placeholder="用于展示给客户">
              </li>
              <li>
                <label for="editETShortName">简称</label>
                <input maxlength="6" type="text" class="text required" id="editETShortName" name="editETShortName" placeholder="用于自己管理">
              </li>
              <li>
                <label for="editETUnit">单位</label>
                <input maxlength="8" type="text" class="text required" id="editETUnit" name="editETUnit" placeholder="例如：次/辆">
              </li>
              <li>
                <label for="editETFitNum">适用人数</label>
                <input maxlength="8" range="[1,99999999]" digits="true" type="text" class="text required" id="editETFitNum" name="editETFitNum" placeholder="请填写纯数字">
              </li>
              <li>
                <label for="editETInventory">默认库存</label>
                <input maxlength="8" range="[1,99999999]" digits="true" type="text" class="text required" id="editETInventory" name="editETInventory" placeholder="请填写纯数字">
              </li>
              <li>
                <label for="editETPrice">单价</label>
                <input maxlength="8" range="[0,99999999]" type="text" class="text required" id="editETPrice" name="editETPrice" placeholder="请填写纯数字">
              </li>
              <li>
                <label for="editETDescription">描述</label>
                <textarea maxlength="140" name="description" id="editETDescription" name="editETDescription" placeholder="请填写描述"></textarea>
              </li>
            </ul>
          </form>
          <div class="footer">
            <button class="btn-cancel">取消</button>
            <button class="btn-ok" id="editETOk">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 编辑展示信息 -->
  <div class="modal fade" role="dialog" id="editDisplayInfo">
    <div class="modal-dialog modal-w626">
      <div class="modal-content clearfloat">
        <div class="editDisplayInfo clearfloat">
          <h1>编辑展示信息-烧烤</h1>
          <p class="tip">这些信息会出现在直销网站以及直销APP上，更详细的信息会帮助你吸引来更多客人哦</p>
          <div class="clearfloat">
            <div class="photo">
              <h2>图片管理</h2>
              <div class="cover">
                <div class="title clearfloat">
                  <span>封面</span>
                  <div class="create">
                    <img src="/static/image/icon_xinjian.png" alt="新增">
                    <span>上传图片</span>
                  </div>
                  <input id="cover" type="file" name="file" accept="image/*" />
                </div>
                <div class="photoContainer"></div>
                <p class="coverError hide">请上传封面<p>
              </div>
              <div class="detail">
                <div class="title clearfloat">
                  <span>详细图片</span>
                  <div class="create">
                    <img src="/static/image/icon_xinjian.png" alt="新增">
                    <span>上传图片</span>
                  </div>
                  <input id="detail" type="file" name="file" accept="image/*" />
                </div>
                <div class="photoContainer"></div>
                <p class="detailError hide">请上传详细图片<p>
              </div>
            </div>
            <div class="operate">
              <div class="first">
                <div class="operateItem hide">
                  <div id="replaceCover" class="clickDiv">
                    <img src="/static/image/icon_bianjijibenxinxi.png" alt="">
                    <p>替换图片</p>
                  </div>
                </div>
                <div class="operateItem hide">
                  <div id="deleteCover" class="clickDiv">
                    <img src="/static/image/icon_shanchu.png" alt="">
                    <p>删除</p>
                  </div>
                </div>
              </div>
              <div class="second">
                <div class="operateItem hide">
                  <div id="replaceDetail" class="clickDiv">
                    <img src="/static/image/icon_bianjijibenxinxi.png" alt="">
                    <p>替换图片</p>
                  </div>
                  <input type="file" name="file" id="replaceDetailImg" accept="image/*"/>
                </div>
                <div class="operateItem hide">
                  <div id="deleteDetail" class="clickDiv">
                    <img src="/static/image/icon_shanchu.png" alt="">
                    <p>删除</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <button class="btn-cancel">取消</button>
            <button class="btn-ok" id="editETShowOk">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainContainer">
    <div class="content">
      <div class="title">
        <span class="campName"></span>
        <div class="create" data-toggle="modal" data-target="#createEnt">
          <img src="/static/image/icon_xinjian.png" alt="新增">
          <span>新增娱乐</span>
        </div>
      </div>
        <div class="categoryGrid">
          <table>
            <thead>
              <tr class="head">
                <th>娱乐</th>
                <th>简称</th>
                <th>单位</th>
                <th>适用人数</th>
                <th>默认库存</th>
                <th>单价</th>
                <th>描述</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      <div class="mainOperate operate">
        <div class="first clearfloat">
          <div class="operateItem hide">
            <div class="clickDiv" id="editETButton" data-toggle="modal" data-target="#editET">
              <img src="/static/image/icon_bianjijibenxinxi.png" alt="">
              <p>编辑基本信息</p>
            </div>
          </div>
          <div class="operateItem hide">
            <div class="clickDiv" id="deleteETButton">
              <img src="/static/image/icon_shanchu.png" alt="">
              <p>删除</p>
            </div>
          </div>
        </div>
        <div class="second clearfloat hide">
          <div class="operateItem hide">
            <div class="clickDiv" id="editETShowInfoButton" data-toggle="modal" data-target="#editDisplayInfo">
              <img src="/static/image/icon_bianjijibenxinxi.png" alt="">
              <p>编辑展示信息</p>
            </div>
          </div>
          <div class="operateItem hide shangjia">
            <div class="clickDiv modifyStateButton">
              <img src="/static/image/icon_shangjia.png" alt="">
              <p>上架</p>
            </div>
            <p class="putaway">目前未上架</p>
          </div>
          <div class="operateItem hide xiajia">
            <div class="clickDiv modifyStateButton">
              <img src="/static/image/icon_xiajia.png" alt="">
              <p>下架</p>
            </div>
            <p class="putaway">已上架</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/app/dist/common.js"></script>
  <script src="/static/js/app/dist/category/ETEntry.js"></script>

</body>
</html>