<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>订单来了</title>
    <link rel="Shortcut Icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/app/dist/common.js"></script>
    <script src="/static/js/app/dist/tips/upgrade.js"></script>
</head>
<body>
<div class="upgrade-main">
    <img src="http://7xsrk6.com2.z0.glb.qiniucdn.com/169784A1-F57E-490F-AD65-5F6580C69699@1x.png" alt="robot"/>
    <div class="stitle">
        试用版已到期
    </div>
    <div class="text">
        直销网站已自动下架，我们将为您保存所有的网络数据和信息，<br>
        升级到标准版可以继续使用所有功能，请联系订单来了客户顾问12288888888升级。
    </div>
</div>
</body>
</html>