#editDisplayInfo {
    form {
        height: 570px;
    }
    .nav-tabs {
        margin-bottom: 20px;
    }
    #facility {
        .inputFiled {
            li {
                margin: 0;
                label {
                    float: none;
                }
            }
        }
    }
}

.editRoom {
    .roomContainer {
        width: 423px;
        height: 403px;
        overflow-y: scroll;
        margin-bottom: 20px;
        position: relative;
        .room {
            width: 90px;
            height: 90px;
            background-color: #4A90E2;
            border-radius: 5px;
            margin: 5px;
            float: left;
            position: relative;
        }
        img {
            position: absolute;
            top: 4px;
            right: 4px;
            cursor: pointer;
        }
        p {
            line-height: 90px;
            text-align: center;
            color: #FFF;
        }
        .editName {
            position: absolute;
            width: 50px;
            height: 20px;
            top: 35px;
            left: 20px;
            border: 0;
        }
    }
}

#roomCategoryList {
    div {
        display: none;
    }
}